<div class="container">

    <div class="row header">
        <div *ngIf="!isAddMode" class="col-7"> <span class="title">Nature «{{natureTitle}}» </span><span class="sectorTile">
                - Secteur «{{sectorTitle}}»
            </span> </div>
        <div *ngIf="isAddMode" class="col-7"> <span class="title">Ajouter une nature </span></div>

        <div class="col-5 btns-align" *ngIf="!modifModeActivatedGeneralite">
            <button class="btn btn-modify" (click)="editNature()"> <img src="./../assets/images/update.svg" height="15" width="15"
                    alt="">
                <span class="btn-modify-text"> Modifier</span>
            </button>

            <button class="btn btn-delete"> <img src="./../assets/images/delete-black.svg" height="15" width="11" alt="">
                <span class="delete-btn-text">Supprimer</span>
            </button>
        </div>

        <div class="col-5 btns-align" *ngIf="modifModeActivatedGeneralite">
            <button class="btn btn-save" (click)="saveNature()"> <img src="./../assets/images/save.svg" height="15" width="15"
                    alt="">
                <span class="btn-save-text">Enregistrer</span>
            </button>

            <button class="btn btn-reset" (click)="undo()"><img src="./../assets/images/delete-2.svg" height="15" width="15"
                    alt="">
                <span class="reset-btn-text">Annuler</span>
            </button>
        </div>
    </div>


    <div>
        <form [formGroup]="formMenu">

            <ul class="nav nav-tabs">
                <li class="nav-item" [ngClass]="{'tab-active':i == selectedPlan }" *ngFor="let tab of headersList;let i = index" (click)="changeTab(i)">
                    <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">
                        <span class="tabTitle"> {{tab}} </span>
                        <span *ngIf="!isFormValid(i) && isSubmitted" class="badge badge-danger">!</span>
                    </div>
                    <hr *ngIf="i==selectedPlan"  [ngClass]="{'hr-active':(isFormValid(i) || !isSubmitted) , 'hr-invalid': (!isFormValid(i) && isSubmitted)}">
                </li>
            </ul>

            <div class="containerCat">
                <div class="row">
                    <div class="col-12">
                        <!-------------------------- Generalities -------------------------->
                        <div formGroupName="generalities" class="m-0 pt-1" *ngIf='selectedPlan === 0'>

                            <div class="row">
                                <div class="col">
                                    <label for="label" class="label-top">Libellé</label>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <input id="label" type="text" class="form-control input input-generalities" formControlName="label" [attr.disabled]="modifModeActivatedGeneralite == false ? '' : null">
                                    <div *ngIf="!formMenu.controls['generalities'].get('label').valid && isSubmitted && modifModeActivatedGeneralite && isAddMode">

                                        <label class="label-required">Merci de bien vouloir nommer la nature que vous souhaitez
                                            créer</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="audit-infos" *ngIf="!isAddMode">
                                        Id {{catNature?.id}} : créée le {{catNature?.createdDate | date:'dd/MM/yyyy HH:mm:ss'}} par {{creationUser}} <br>                                        Dernière
                                        modification le {{catNature?.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}} par {{updateUser}}
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="isAddMode">
                                <div class="col">
                                    <label for="natureSecteur" class="label-top">Secteur</label>
                                </div>
                            </div>

                            <div class="row" *ngIf="isAddMode">
                                <div class="col-8">
                                    <input id="natureSecteur" type="text" class="form-control input input-generalities" formControlName="secteurName" [attr.disabled]="true">
                                </div>
                            </div>

                            <div class="row" *ngIf="catNature?.comment || modifModeActivatedGeneralite">
                                <div class="col">
                                    <label for="natureComment" class="label-top">Commentaire</label>
                                </div>
                            </div>

                            <div class="row" *ngIf="catNature?.comment || modifModeActivatedGeneralite">
                                <div class="col">
                                    <input id="comment" type="text" class="form-control input input-generalities" formControlName="comment" [attr.disabled]="modifModeActivatedGeneralite == false ? '' : null">
                                </div>
                            </div>

                            <div class="row" *ngIf="catNature?.catActivitySector?.comment">
                                <div class="col">
                                    <label for="natureComment" class="label-top">Commentaire hérité du secteur</label>
                                </div>
                            </div>

                            <div class="row" *ngIf="catNature?.catActivitySector?.comment">
                                <div class="col">
                                    <input id="sectorComment" type="text" class="form-control input input-generalities" formControlName="sectorComment" placeholder="sectorComment">
                                </div>
                            </div>


                            <div class="row" *ngIf="!isAddMode">
                                <div class="col">
                                    <label for="brandComment" class="label-top">Code Nap</label>
                                </div>
                            </div>

                            <div class="row"  *ngIf="!isAddMode">
                                <div class="col">
                                    <ng-select id="codeNap" placeholder="Sélectionner" formControlName="codeNap" notFoundText="Pas de résultats" *ngIf="isAddMode">
                                        <ng-option *ngFor="let option of codeNapList" [value]="option">
                                            <div class="text-ng-option">{{option.label}} </div>
                                        </ng-option>
                                    </ng-select>
                                    <input id="codeNap" type="text" class="form-control input input-generalities" formControlName="codeNapLabel" *ngIf="!isAddMode">
                                </div>
                            </div>

                            <div class="row" *ngIf="isAddMode">
                                <div class="col-12">
                                    <div  class="div-margin">
                                        <label for="codeNap" class="label-top ">Code Nap</label>

                                        <ng-autocomplete id="natureId"  [data]="codeNapList" formControlName="codeNap" [debounceTime]="50"
                                            (inputChanged)="changeCodeNapeListChange($event)" (inputFocused)="changeCodeNapeListFocus()"  [searchKeyword]="codeNapkeyword"
                                            #ngAutoCompleteStatic  notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStatic"
                                            [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplateStatic let-item>
                                            <a [innerHTML]="item.label"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>

                                    </div>
                                </div>
                            </div>

                            <!--Docuements-->
                            <!-- pieces jointes herites -->
                            <div class="row no-gutters spacing-row" *ngIf="inheritedDocs?.length > 0 ">
                                <div class="col-4">
                                    <label for="libelle" class="label-top ">Pièces jointes - Secteur « {{sectorTitle}} »
                                    </label>

                                </div>
                                <div class="col-8 inherted-files">
                                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedDocs ">
                                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)">                                        </label>

                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <label class="label-top">Ajouter des pièces jointes</label>

                                    <app-documents formControlName="files" [control]="formMenu.controls['generalities'].controls['files']"></app-documents>
                                </div>
                            </div>
                            <div class="row no-gutters" *ngIf=" updatedNatureDocs?.length > 0">
                                <div class="col-md">
                                    <span class="label-top">Documents téléchargés</span>
                                </div>
                            </div>

                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" updatedNatureDocs?.length > 0">
                                <div class="form-group mr-2" *ngFor="let myDocument of updatedNatureDocs;let i=index">
                                    <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                    </label>
                                    <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                        [ngModelOptions]="{standalone: true}">
                                    <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)" />
                                    <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="formMenu.controls['generalities'].controls.files.enabled && !editedDocumentList[i] && myDocument.catNature && modifModeActivatedGeneralite"
                                    />
                                    <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="formMenu.controls['generalities'].controls.files.enabled && !editedDocumentList[i] && myDocument.catNature && modifModeActivatedGeneralite"
                                    />


                                </div>
                            </div>

                            <!-- end of documents-->


                            <div class="row">
                                <div class="col">
                                    <label for="libelle" class="label-top">Plan financier</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <table class="table table-striped">
                                        <caption></caption>
                                        <thead>
                                            <tr [ngClass]="modifModeActivatedGeneralite ? 'theadModif' : 'theadConsult'">
                                                <th scope="dureeMin">Durée minimum (mois)</th>
                                                <th scope="dureeMax">Durée maximum (mois)</th>
                                                <th scope="seuilVR">VR (en %)</th>
                                                <th scope="creation">Création</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td> <input id="dureeMin" type="text" class="form-control inputTable " formControlName="dureeMin">
                                                </td>
                                                <td> <input id="dureeMax" type="text" class="form-control inputTable " formControlName="dureeMax"></td>
                                                <td> <input id="seuilVr" type="text" class="form-control inputTable " formControlName="seuilVr"></td>
                                                <td> <input id="creation" type="text" class="form-control inputTable " formControlName="creation"></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="row" *ngIf="!isAddMode">
                                <div class="col">
                                    <label for="label" class="label-top">Dernières cotation réalisées </label>

                                </div>
                            </div>
                            <div class="row" *ngIf="!isAddMode">
                                <div class="col">
                                    <table class="table table-striped">
                                        <caption></caption>

                                        <thead>
                                            <tr [ngClass]="modifModeActivatedGeneralite ? 'theadModif' : 'theadConsult'">
                                                <th scope="id">ID</th>
                                                <th scope="type">Type</th>
                                                <th scope="date">Date</th>
                                                <th scope="desc">DESC</th>
                                                <th scope="reseau">Réseau </th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="!modifModeActivatedGeneralite">
                                            <tr *ngFor="let valuation of valuationsList">
                                                <td class="navigate" (click)="navigate(valuation.id)"> {{valuation.id}} </td>
                                                <td>{{valuation.catAssetType?.label}}</td>
                                                <td> {{valuation.createdDate | date:'dd/MM/yyyy'}}</td>
                                                <td>{{valuation.descName}}</td>
                                                <td>{{valuation.descNetwork}} </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>
                            </div>


                        </div>

                        <!--fin generalities -->

                        <!-------------------------- new Discounts -------------------------->
                      <div class="m-0 pt-1"  [hidden]="selectedPlan != 1">
                        <app-catalog-new-discounts *ngIf='loadNewDiscount' [formControl]="formMenu.controls['decoteNew']" [nodeType]="'nature'" [idCateg]="catNature?.id" [isUnlock]="modifModeActivatedNew"
                                                   [catDiscount]="catDiscountObject" [catDiscountRateList]="catDiscountRateList" (changeNewDiscount)='changeNewDiscount($event)'
                                                   [docs]="newDiscountDocs" (refreshNewDicountDocs)="searchNewDiscountDocs()" [isSubmitted]="isSubmitted"></app-catalog-new-discounts>
                        <!-- Moyenne -->
                          <app-cat-discount-average *ngIf="catNatureLoaded || isAddMode" [formControl]="formMenu.controls['decoteAvgNew']" [nodeType]="'nature'" [idNature]="catNature?.id" [idSector]="catNature?.catActivitySector?.id"
                                                    [isNew]="true" [dureeMax]="formMenu?.controls['generalities']?.controls.dureeMax.value">
                          </app-cat-discount-average>
                        </div>
                        <!-------------------------- end new Discounts -------------------------->

                         <!-------------------------- old Discounts -------------------------->
                      <div class="m-0 pt-1"  [hidden]="selectedPlan != 2">
                        <app-catalog-old-discounts *ngIf='loadOldDiscount' [formControl]="formMenu.controls['decoteOld']" [nodeType]="'nature'" [idCateg]="catNature?.id" [isUnlock]="modifModeActivatedOld"
                                                   [catDiscount]="catOldDiscountObject" [defaultMaxDuration]="catDiscountObject?.maxFinPer" [catDiscountRateOld]="catDiscountRateOldList"
                                                   [rateNewDiscountFirstYear]="rateNewDiscountFirstYear" [docs]="oldDiscountDocs" (refreshOldDicountDocs)="searchOldDiscountDocs()"
                                                   (editCatalogue)="editNatureToAdd()" [isSubmitted]="isSubmitted"></app-catalog-old-discounts>
                        <!-- Moyenne -->
                        <app-cat-discount-average *ngIf="catNatureLoaded || isAddMode "  [nodeType]="'nature'" [formControl]="formMenu.controls['decoteAvgOld']"
                        [idNature]="catNature?.id" [idSector]="catNature?.catActivitySector?.id"
                                                  [isNew]="false" [dureeMax]="formMenu?.controls['generalities']?.controls.dureeMax.value">
                        </app-cat-discount-average>
                      </div>
                        <!-------------------------- end old discounts -------------------------->

                        <!-------------------------- Energy Component -------------------------->
                      <div class="m-0 pt-1" [hidden]="selectedPlan != 3">
                        <app-catalog-energy *ngIf="(catNatureLoaded && formMenu  && catNature) || isAddMode" [formControl]="formMenu.controls['energyForm']"   [isUnlock]="modifModeEnergy"
                        [isSubmitted]="isSubmitted" [idNature]="catNature?.id" [nodeType]="'nature'"></app-catalog-energy>
                      </div>
                        <!-------------------------- end Energy Component -------------------------->



                    </div>
                </div>
            </div>

        </form>
    </div>
