.container{
    background-color: #F5F4F2;
    width: 1044px;
    height: 202px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 14px;
    padding-bottom: 27px;
  }

  .title{
    width: 284px;
    height: 39px;
    color: #071A39;
    text-align: left;
    font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    opacity: 1;
    font-size: 30px;
  }
  .sectorTile{
    top: 0px;
    left: 225px;
    width: 291px;
    height: 39px;
    text-align: left;
    font: normal normal normal 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    color: #071A39;
  }
  .header{
    margin-top: 14px;
    margin-bottom: 26px;
  }

.class-btns{
  text-align: right;
}
.btn-delete-doc {
  opacity: 1;
  width: 9px;
  height: 11px;
  cursor: pointer;
  content:url('/../../assets/images/button-delete.svg');
}
.btn-modify, .btn-save{
  background-color: #FFCD00;
  border-radius: 20px;
  top: 125px;
  left: 1077px;
  width: 143px;
  height: 40px;
  opacity: 1;
  margin-right: 11px;
  text-align: left;
  padding-left: 17px;
  box-shadow: unset;
}
.btn-modify:hover, .btn-save:hover{
background-color: #FFE066;
border-radius: 20px;
top: 125px;
left: 1077px;
width: 143px;
height: 40px;
opacity: 1;
margin-right: 11px;
text-align: left;
padding-left: 17px;
}
.btn-modify-text, .btn-save-text{
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(7,26,57,1);
  width: 52px;
  height: 20px;
  margin-left: 11px;
}
.btn-delete, .btn-reset{
  top: 125px;
  left: 1207px;
  width: 119px;
  height: 40px;
  opacity: 1;
  text-align: left;
  min-width: 125px;
  margin-right: 5px;
  box-shadow: unset;
}

.btn-delete:hover, .btn-reset:hover{
  background-color: #FFCD00;
  border-radius: 20px;
  cursor: pointer;
  text-align: left;
}

.delete-btn-text, .reset-btn-text{
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(7,26,57,1);
  width: 52px;
  height: 20px;
  margin-left: 5px;
}
.reset-btn-text{
  margin-left: 13px;
}
.btns-align{
  text-align: end;
}
.tabTitle{
  font: normal normal bold 14px/18px 'IBMPlexSansCond', sans-serif;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
}
/*******************************************/
.nav-item{
  top: 191px;
  left: 360px;
  height: 48px;
  padding-top: 6px;
}
.nav-tabs{
  height: 48px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 7px #d0d0d080;
  opacity: 1;
 margin-left: 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;

}
.generalitierContainer{
  top: 250px;
left: 360px;
width: 966px;
height: 502px;
padding: 0px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.containerCat{
  margin-top:15px;
  top: 250px;
  left: 360px;
  width: 966px;
  height: 502px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 11px;
  padding-left: 45px;
  padding-right: 45px;
  overflow-y: auto;
  padding-bottom: 38px;
}

.hr-active {
  margin-top: 11px !important;
  border: 0;
  height: 3px;
  background: #FFCD00 0% 0% no-repeat padding-box;
  opacity: 1;
 }
 .hr-invalid {
  margin-top: 11px !important;
  border: 0;
  height: 3px;
  background: #dc3545 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 322px!important;
 }

  .form-group {
    margin-left: 0px;
    margin-top: 34px;
}
:host >>> .span-active, .span-not-active, .span{
  font-size: 14px!important;
}


.label-top{
  margin-top:26px;
  margin-bottom: 18px;
}
 .input-generalities{
      width: inherit;
   }
    .audit-infos{
      top: 312px;
      height: 28px;
      text-align: left;
      font: normal normal normal 11px/14px 'IBMPlexSans', sans-serif;
      letter-spacing: 0px;
      color: #071A39;
      opacity: 1;
  }
/****************************************************** table style *****************************************************************/
table thead tr.theadConsult {
  background: #54514D 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 11px/14px 'IBMPlexSans', sans-serif;
  color: #FFFFFF;
}
.table th, .table tr{
  padding-top: 7px;
  padding-bottom: 7px;
}
table thead tr.theadModif {
  background: #FFCF00 0% 0% no-repeat padding-box;
  opacity: 1;
  font: normal normal normal 11px/14px 'IBMPlexSans', sans-serif;
  color: #071A39;
}
.inputTable{
  margin-top: 6px;
  margin-bottom: 7px;
  top: 582px;
  left: 421px;
  height: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
  background-color: #F5F4F2;
  border: none;
  font: normal normal normal 11px 'IBMPlexSans', sans-serif;
}
.table td{
  padding: unset;
  opacity: 1;
  font-family:  'IBMPlexSans', sans-serif;
  color: #071A39;
  font-size: 11px;
}
table{
  margin-bottom: unset;
}
.navigate{
  padding-left: 16px!important;
  text-align: left;
  color: #008BE9 !important;
  text-decoration: underline;
  cursor: pointer;

}
/***inherited Documents */
.inherted-files{
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 34px;
  flex-wrap: wrap;

}
.inherted-single-file{
  margin-right: 30px !important;
}

/********** ng-select style *******/
:host>>>  .ng-select{
  width: 100% !important;
}
:host>>> .ng-dropdown-panel.ng-select-bottom{
  margin-top: 7px;
  z-index: 500;

}

:host>>> span.ng-option-label{
  white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal  !important;
  font-size: 11px;
  color: rgba(7,26,57,1);
}
:host >>>.ng-option {
  width: 100%;
  height: 25px;
}
.text-ng-option{
  margin-top: -6px;
  margin-left: 3px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #071A39;
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>.ng-select-container{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #00513B;
  border-radius: 3px;
  opacity: 1;
  height: 32px !important;
  min-height: 32px  !important;


  }

  :host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #819AC2;
  border-radius: 3px;
  opacity: 1;
  min-height: 32px  !important;
  height: 32px !important;
  }
  :host>>>.ng-select.ng-select-disabled>.ng-select-container{
  background: #e9ecef 0% 0% no-repeat padding-box !important;
  border: 0.5px solid #909090 !important;
  border-radius: 3px !important;
  opacity: 1 !important;
  }
  :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #A8B9D5  !important;
  margin-left: 9px;
  }

  :host>>>.ng-placeholder{
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #819AC2  !important;
  margin-left: 9px;
  }

  :host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
      border: 1px solid red !important;
  }

  :host>>> .autocomplete-container .input-container input {
      width: 100%;
      height: 32px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 0.5px solid #819ac2;
      border-radius: 3px;
      opacity: 1;
      color: #071A39;
      font-family: 'IBMPlexSansCond';
      font-size: 12px;
  }
  :host>>> .ng-autocomplete.ng-invalid.ng-touched .autocomplete-container .input-container input {
      border: red 1px solid !important;
  }
  :host>>> .autocomplete-container {
      box-shadow: none;
      height :32px;
  }
  :host>>> .item:hover{
      background-color: rgba(255,207,0,1);
  }
  :host>>>.autocomplete-container .suggestions-container ul li:hover {
      background-color: rgba(255,207,0,1);
  }
  :host>>> .autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
      background-color: rgba(255,207,0,1);
  }

  :host>>>.autocomplete-container .suggestions-container ul li a {
      white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal !important;
  font-size: 11px;
  color: rgba(7,26,57,1);
  }



  :host>>>.autocomplete-container .input-container .x i {
      color: rgba(157 157 157);
      font-size: 13px;
      vertical-align: middle;}


 :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  line-height: 23px;
      text-align: left;
      font-family: 'IBMPlexSansCond';
      font-style: normal;
      font-weight: normal;
      padding-top: 0px;
      color: #ccc;
      font-size: 11px;
  }

 :host>>> .ng-select .ng-select-container .ng-value-container{
  align-items: center;
  padding-left: 3px;
}

 :host>>>.ng-select .ng-arrow-wrapper {
  display: unset;
}
  :host>>>.ng-select .ng-clear-wrapper{
  display: unset;
}

:host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
  color: #999 !important;

}
/*********************************/
