.options-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    margin-top: 15px;
}
.energy-elements-container{
    display: flex;
    flex-direction: column;

}
.taux-text {
    text-align: left;
    letter-spacing: 0px;
    color: #071A39;
    text-transform: uppercase;
    opacity: 1;
    font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
    font-size: 18px;
  }
.dlt-container{
    display: flex;
    justify-content: center;
    align-content: center;
}
.param-lines-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F5F4F2;
    padding-left: 24px;
    padding-right: 25px;
    padding-bottom: 47px;
}
.energy-title{
    place-self: end;
    font: normal normal bold 12px/20px 'IBMPlexSans', sans-serif;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}
.energy-title-container{
    display: flex
}
.energy-weighting-container{
    height: 90px;
    display: flex;
    flex-direction: row;
}

.btn-valider {
   width: 119px;
}

.container-fluid{
    position: absolute;
    margin-top: 45px;
    justify-content: end;
    padding-right: unset;
    z-index: 1;
}

:host>>> .p-listbox .p-listbox-list .p-listbox-item{
    height: 25px;
    text-align: left;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    font: normal normal bold 11px/20px 'IBMPlexSans', sans-serif;
}
:host>>> .p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover{
    background-color: rgba(255,207,0,1);
    color: #071A39;
}
:host>>> .p-listbox .p-listbox-list{
    padding: 0.2rem 0;
}
:host>>> .p-listbox.p-component{
    width: 12rem!important;
}
.mt-62{
    margin-top: 62px;
}

.btn-valider:disabled {
    color: #071A39;
    background-color: #DDDDDD;
}

.btn-delete{
    line-height: 0;
}