<div class="energy-container">
  <div class="row options-container">
    <div class="col">
      <label for="discountRate" class="taux-text">TAUX DE DÉCOTE</label>
    </div>
    <div class="col pr-0">
      <button class="btn btn-valider float-right" [disabled]="disableAddEnergy" (click)="showEnergyDiv()">
        <span class="btn-valider-text mr-2">+ </span>
        <span class="btn-valider-text">Ajouter</span>

      </button>
      <div *ngIf="displayOptionsSelect" class="row container-fluid">
        <p-listbox
         [options]="unusedEnergy" [(ngModel)]="selectedEnergy" emptyMessage="{{ 'Pas de résultats' }}" optionLabel="label" [style]="{
        width: '15rem' }" (onClick)="addEnergy($event)">
        </p-listbox>
      </div>
    </div>
  </div>
  <div *ngIf="showEnergies" [formGroup]="mainForm" class="row param-lines-container">
    <div
      formArrayName="paramLines" 
      *ngFor="let line of energyLinesControls; let i = index"
      class="col-md-4 energy-elements-container mt-62">
      <div class="energy-title-container">
        <span class="energy-title">{{ line.get("label").value }}</span>
        <button class="btn btn-delete pt-0" *ngIf="showDeleteIcon" (click)="deleteEnergy(line)"> <img src="./../assets/images/Delete.svg" height="15" width="11"
            alt="">
        </button>    </div>
      <div class="d-flex">
        <ng-container [formGroupName]="i">
          <div
            formArrayName="catEnergyNatureWeightingList"
            *ngFor="
              let weighting of energyLinesRateControls(i).controls;
              let j = index" class="mr-2">
            <ng-container [formGroupName]="j">
              <label class="label-top">{{ "Année " + (j + 1) }}</label>
              <app-input-number 
                formControlName="weightingRateValue"
                [min]="-100"
                [max]="100"
                [symbol]=""
                [allowNeg]="true"
                [invalidControl]="weighting.controls.weightingRateValue.invalid && isSubmitted"
                (ngModelChange)="setTouchedTrue(i)"
                ></app-input-number>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
