.comp-container{
  background-color: #ffffff;
  width: 1044px;
  height: 202px;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 27px;
  padding-bottom: 27px;
}

.comp-container-extends {
  background-color: #ffffff;
  width: 1044px;
  height: 259px;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 27px;
  padding-bottom: 27px;
}

.margin-decote-expert {
  margin-right: 11px;
}

.margin-decote-admin {
  margin-right: 47px;
}

.extends {
  width: 17px;
  height: 10px;
  position: relative;
  left: 20px;
  top: 26px;
  font-size: 17px;
}

.validate-container{
  width: inherit;
  margin:0;
}

.btn-valider{
  margin-top: 27px;
}

.outstandingStyle{
  margin-top: 32px;
  margin-right: 15px;
}
.form-control:disabled{
  color:grey;
  }
  
.btn-reset{
  background-color: #FFCD00;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  margin-top: 27px;
  box-shadow: unset;
}
.btn-reset:hover{
  background-color: #FFE066;
}
.btn-valider:hover{
  background-color: #FFE066;
}
.little-label{
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    font-family: 'IBMPlexSans-SemiBold';
    font-size: 12px;
    margin-top: 5px;
    padding-left: 0;
}
.input-comment{
  font-size: 12px;
}
