<div class="col-12 mt-4 mb-4">
  <div class="container" [ngClass]=" isAdmin && extends && !(validated || disabledForm) ? 'comp-container' : 'comp-container-extends'" *ngIf="discounts">
    <div class="row">
      <div class="col-auto h3">Décotes</div>
      <div class="col-auto little-label font-weight-bold">
      </div>
    </div>
    <div class="d-flex" [ngStyle]="{'flex-wrap': ! isAdmin ?'nowrap':'wrap'}">
      <span *ngFor="let el of [].constructor(isAdmin && !(validated || disabledForm) ? 7 : 15); let i= index" [ngStyle]="{'maring-right':  isAdmin && !(validated || disabledForm) ?'50px':'0'}" [ngClass]=" isAdmin && !(validated || disabledForm) ? 'margin-decote-admin':'margin-decote-expert'">
        <ng-container>
          <label class="label-top">{{'Année ' + (i+1)}}</label>
          <app-input-number [symbol]="percentSymbol"  [selectedNumber]="discounts[i]?.discountRateValue" (inputModelChange)="changeValue($event, i)"
            [disabled]="((i!==0 && ! isAdmin ) || validated) || disabledForm" [min]="0" [max]="100"></app-input-number>
        </ng-container>
      </span>
      <span *ngIf=" isAdmin && !(validated || disabledForm)">
          <em class="extends bi" (click)="extends=!extends" [ngClass]="extends? 'bi-chevron-up' :'bi-chevron-down'"></em>
      </span>
    </div>

    <ng-container *ngIf=" isAdmin  && extends && !(validated || disabledForm)">
      <div class="d-flex" [ngStyle]="{'flex-wrap': ! isAdmin ?'nowrap':'wrap'}">
        <span *ngFor="let el of [].constructor(8); let i= index" class="margin-decote-admin">
          <ng-container>
            <label class="label-top">{{'Année ' + (i+8)}}</label>
            <app-input-number  [symbol]="percentSymbol" [selectedNumber]="discounts[i+7].discountRateValue" (inputModelChange)="changeValue($event, i+7)" [disabled]="validated || disabledForm"></app-input-number>
          </ng-container>
        </span>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-12">
        <label class="label-top">Commentaires</label>
        <input type="text" class="form-control input-comment" [(ngModel)]="discountComment" (change)="emitDiscount()" [disabled]="!valueChanged || validated || (!validated && !valueChanged && disocuntDraftChanges == 'NO_CHANGES') || disabledForm ">
      </div>
    </div>


  </div>

  <div class="row validate-container" *ngIf="decoteLoaded">
    <div class="col">
      <button *ngIf="!isDiscountValidated" class="btn btn-valider float-right" (click)="verifyDiscount()"
      [disabled]="(blockValidation || disabledForm) ? true : false">
        <span class="btn-valider-text"> Valider </span>
      </button>
      <label class="label-required outstandingStyle float-right" *ngIf="showErrorMsgForComment">
                 Merci de bien vouloir renseigner la raison de la modification du taux de décote </label>    
      <button *ngIf="isDiscountValidated" class="btn btn-reset float-right" (click)="resetDiscount()"
      [disabled]="(blockValidation || disabledForm) ? true : false">
        <span class="btn-valider-text"> Réinitialiser </span>
     </button>

    </div>
  </div>

</div>
