
            .title-container{

                display: flex;
                justify-content: flex-start;
            }
            .title{

                letter-spacing: 0px;
                opacity: 1;
                /* position: absolute; */
                overflow: visible;
                width: max-content;
                /* height: 23px;  */
                text-align: left;
                font-family: 'IBMPlexSansCond-Bold';
                font-weight: bold;
                font-style: normal;
                font-size: 30px;
                color: rgba(7,26,57,1);
                text-transform: uppercase;
                margin-left: 35px
            }



  /*:host>>>.p-treetable {
        overflow: auto !important;
        }
             :host>>> .p-treetable .p-treetable-scrollable-header, .p-treetable .p-treetable-scrollable-footer
       { overflow: visible !important;
        }
*/



        :host>>> .ui-table-scrollable-wrapper {
            overflow: auto !important;
            }


           :host>>> .ui-table-scrollable-header, .ui-table-scrollable-body, .ui-table-scrollable-footer {
            overflow: visible !important;
            }

    .p-paginator .p-paginator-current{
    display: none;

    }



    :host>>>.tooltip-search-style{
        font-family: 'IBMPlexSans' !important;
        font-size: 12px;
        flex-wrap: nowrap;
        display: inline-block;
        border-radius: 3px;
        max-width: 800px;
        min-width: 200px;
        width: max-content;
        }


/********************************** treeTable***********************************/

:host >>> .p-treetable-scrollable-body{
    min-height: 480px;
    background: #f8f9fa;

}
:host >>> .p-treetable .p-treetable-thead > tr > th{
background: #FFCD00 0% 0% no-repeat padding-box !important;
padding: 0 !important;
padding-left: 0px !important;
padding-right: 0px !important;
padding-top: 4px !important;
padding-bottom: 4px !important;
font-family: 'IBMPlexSans-Medium', sans-serif  !important;
font-style: normal  !important;
font-weight: bold  !important;
border-width:  0 2px 1px 0;
text-align: center;
}
.p-treetable-thead{
    background: #FFCD00 0% 0% no-repeat padding-box !important;

}
    :host >>>  .p-treetable-tbody > tr > td {
        font-family: 'IBMPlexSans' !important;
        font-style: normal  !important;
        letter-spacing: 0px;
        font-size: 11px  !important;

        color: #071A39 !important;
        text-overflow: ellipsis;
        clear: both;
        overflow: hidden;
        white-space: nowrap;
        border-width: 0 1px 1px 0;
      }
    :host >>> .p-treetable-tbody > tr {
        height: 27px !important;


        }


 /**************************** table column style *********/
  /*style input */
/* .headerTreeTabel{
background: #ffe880 !important;
height: 22px;
width: 131px !important;
margin-left: 5px;
margin-right: 3px;
text-align: left;
font-family: 'IBMPlexSans-Medium', sans-serif  !important;
font-style: normal  !important;
font-weight: bold  !important;
font-size: 11px  !important;    letter-spacing: 0px;
color: #071A39 !important;
opacity: 1;
border: #FFFFFF;
}*/

 :host >>> .headerTable {

    font-family: 'IBMPlexSans-Medium', sans-serif  !important;
    font-style: normal  !important;
   /* font-weight: bold  !important; */
    font-size: 11px  !important;    letter-spacing: 0px;
    color: #071A39 !important;
    opacity: 1;

    }
     :host >>> .inputTextTT {
        width:161px;
        padding: 0 0 0 10px !important;

    }
    :host >>> .nameLabel {
        width: 170px;
        padding: 0 0 0 5px !important;

        font: normal normal 600 10px/20px 'IBM Plex Sans';
        text-align: left;

    }



  :host>>> .p-treetable {
    margin-right: -30px;

   }
   tr:hover{
    background-color:#FFE066;
  }
 /* :host>>> .p-treetable-scrollable-body {
      overflow-x: scroll;
  }*/

 :host >>>  .p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler {
    width: 10px;
    height: 8px;
    background-color: unset;
    text-align : left;
 }

 :host >>>.p-treetable .p-treetable-tbody > tr > td .p-treetable-toggler:enabled:hover {
    background-color: #FFCD00;
    cursor: pointer;
    border-radius: 50%;
}
  :host >>>.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
    background: #FFCD00;
    color: #495057;
}

 :host >>>.p-treetable-scrollable-body {
    overflow-y: unset !important;
}
.purcent-input{

    text-align: left;


}
:host >>>  .inputPercent{
    width: 65px;
    padding: 0 0 0 0px !important;
    text-align: center!important;

    }
    :host >>> .ponderation{
        width:80px;
        padding: 0 0 0 0px !important;
        text-align: center!important;

    }
