<div class="title-container" style="margin-top: 27px;">
    <span class="title">
        Données Catalogue recherchées 
        </span>
</div>
<br>

<div class="d-flex justify-content-center">
<p-treeTable #dt [value]="searchResult.resultList" [loading]="loading" [columns]="cols" [scrollable]="true" [style]="{width:'983px'}"
    scrollHeight="500px" [lazy]="true" (onLazyLoad)="loadDataLazy($event)" [paginator]="true" [rows]="20" [showCurrentPageReport]="true"
    [totalRecords]="searchResult.totalRecords" [rowsPerPageOptions]="[20,50,100]" currentPageReportTemplate="Affichage de l'élément {first} à {last} sur {totalRecords} éléments">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th id="resultTable" class="headerTable {{col.class}}" *ngFor="let col of cols;let i=index">
                    <label class=""> {{col.header}}</label>




                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode">

                <td class="nameLabel" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(rowData['name'] && rowData['name'].length > 21) ? false : true"
                    pTooltip="{{rowData['name']}}" tooltipPosition="top">

                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData['name']}}

                </td>

                <td class="inputPercent">

                    {{ formatPercent(rowData['disocuntRateYearOne'])}}
                    <span class="purcent-input" *ngIf="rowData['disocuntRateYearOne']">%</span>
                </td>
                <td class="inputPercent">

                    {{formatPercent(rowData['disocuntRateYeartwo'])}}
                    <span class="purcent-input" *ngIf="rowData['disocuntRateYeartwo']">%</span>
                </td>
                <td class="inputPercent">

                    {{formatPercent(rowData['disocuntRateYearThree'])}}
                    <span class="purcent-input" *ngIf="rowData['disocuntRateYearThree']">%</span>
                </td>
                <td class="inputPercent">

                    {{formatPercent(rowData['disocuntRateYearFour'])}}
                    <span class="purcent-input" *ngIf="rowData['disocuntRateYearFour']">%</span>
                </td>
                <td class="inputPercent">

                    {{formatPercent(rowData['disocuntRateYearFive'])}}
                    <span class="purcent-input" *ngIf="rowData['disocuntRateYearFive']">%</span>

                </td>
                <td class="inputTextTT" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(rowData['commentaire'] && rowData['commentaire'].length > 21) ? false : true"
                    pTooltip="{{rowData['commentaire']}}" tooltipPosition="top">


                    {{rowData['commentaire']}}

                </td>
                <td class="inputTextTT" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(rowData['type'] && rowData['type'].length > 21) ? false : true"
                    pTooltip="{{rowData['type']}}" tooltipPosition="top">


                    {{rowData['type']}}

                </td>
                <td class="ponderation" *ngFor="let energy of energiesList">
                    {{formatPercent(getEnergyValue(rowData['energyNature'],energy.id))}}
                    

                </td>
                <td class="ponderation">

                    {{formatPercent(rowData['ponderationRate'])}}
                    <span class="purcent-input" *ngIf="rowData['ponderationRate']">%</span>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>


</div>
