<div class="modal-header">
  <button *ngIf="showCloseBtn" type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click');exitModal();">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p *ngIf="content==''">Êtes-vous sur de la suppression de ce fichier ?</p>
  <div *ngIf="content!=''" [innerHTML]="content"></div>
  <div *ngIf="newLineMessage!=''" [innerHTML]="newLineMessage"></div><br>


</div>

<div class="modal-footer">
  <button type="button" class="btn btn-reject" (click)="activeModal.dismiss('cancel click');exitModal();" *ngIf="cancelBtnMessage != null">
    {{cancelBtnMessage != '' ? cancelBtnMessage : "Annuler"}}
  </button>
  <button type="button" class="btn btn-confirm" (click)="activeModal.close('Ok click'); confirmModal()" *ngIf="confirmBtnMessage != null">
    {{confirmBtnMessage != '' ? confirmBtnMessage : "Confirmer"}}<br>
    <span class="smallDescription" *ngIf="description && description != ''">{{description}}</span>
  </button>
</div>
