


.label-left{
    width: auto;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.cadena{

    width: 10px;
    height: 12px;
    opacity: 1;
    content:url('../../../assets/images/cadena.svg');
    margin-right: 8px;
    margin-top: 2px;

}

.input{
    width: 270px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;

}

.input[type="text"]
{
    white-space: nowrap;
	text-align: left;
	font-family: IBMPlexSans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #00513B;
}


.input-dis{

    width: 270px;
    height: 32px;
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 1px solid #909090;
    border-radius: 4px;
    opacity: 1;
}

.input-dis[type="text"]
{
    white-space: nowrap;
	text-align: left;
	font-family: IBMPlexSans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(86,86,86,1);
    margin-top:8px;


}

.label-top{

    overflow: visible;
    width: 167px;
    height: 23px;
    line-height: 20px;
    margin-top: -4px;
    text-align: left;
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(7,26,57,1);
}
 .label-height{
     height: 23px;
 }




.row-element{
    margin-top: 18px;

}



.h3{


    letter-spacing: 0px;
    opacity: 1;
    position: absolute;
    overflow: visible;
    width: 257px;
    height: 23px;
    text-align: left;
    font-family: IBMPlexSansCond-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgba(7,26,57,1);
    text-transform: uppercase;

}



.h1{

    position: absolute;
    overflow: visible;
    width: 481px;
    white-space: nowrap;
    text-align: left;
    font-family: IBMPlexSansCond-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(7,26,57,1);
    letter-spacing: 0.2083333396911621px;

}

/* debut checkbox*/

.custom-checkbox {
    position: relative;
    cursor: pointer;


}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;


}
.custom-checkbox input[type="checkbox"] + b {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid #FFCD00;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 100;
    color: #565656;
    cursor: pointer;
    line-height: 0.9;
    outline: 0;
    text-align: center;
    vertical-align: bottom;
    height: 15px;
    width: 15px;
    opacity: 1;
    margin-bottom: 3px;

}
.custom-checkbox input[type="checkbox"]:hover + b {
    border-color: #FFCD00;
    background-color:#FFCD00;


}
.custom-checkbox input[type="checkbox"]:hover + b:after {
    color: #565656;
    content: "✓";



}
.custom-checkbox input[type="checkbox"]:checked + b:after {
    content: "✓";
    color: #565656;
    border-color: #FFCD00;
    font-weight: 100;
    background-color:#FFCD00;
    font-size-adjust: 11px;
    position: relative;
    display: inline-block;
    border: 2px solid #FFCD00;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: -2px;
    height: 15px;
    width: 15px;

}


.custom-checkbox input[type="checkbox"]:disabled + b {
    background-color: #e5e5e5;
}
.custom-checkbox input[type="checkbox"]:disabled + b:after {
    content: "";
}
.custom-checkbox input[type="checkbox"]:disabled:hover + b {
    border-color: #e5e5e5;
    cursor: not-allowed;
}
.custom-checkbox input[type="checkbox"]:disabled:hover + b + span {
    cursor: not-allowed;
}
.custom-checkbox input[type="checkbox"]:disabled:checked + b:after {
    content: "✓";
}






/* fin checkbox*/





/* debut select*/




    .ng-select{
        width: 190px;
        height: 25px;

    }

    :host>>> .ng-select .ng-clear-wrapper{
        display: none;
    }
    :host>>> .ng-dropdown-panel.ng-select-bottom{
        margin-top: 7px;
        z-index: 10009;

    }
    :host>>> span.ng-option-label{
        white-space: nowrap;
        line-height: 20px;
        margin-top: -4.5px;
        text-align: left;
        font-family: IBMPlexSans;
        font-style: normal;
        font-weight: normal  !important;
        font-size: 11px;
        color: rgba(7,26,57,1);
    }
    :host >>>.ng-option {
        height: 25px;
    }
   .text-ng-option{
        margin-top: -6px;
    }

    :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: rgba(255,207,0,1);
    }

    :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
        background-color: rgba(255,207,0,1);
    }
:host >>>.ng-value{
    white-space: nowrap;
    line-height: 23px;
    text-align: left;
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,81,59,1);
    margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>  .ng-select .ng-arrow-wrapper{
    display: unset;
}

.arrow-down{

    width: 8.5px;
    height: 4.96px;
    opacity: 1;
    content:url('../../../assets/images/arrow-down.svg');
    position:absolute;
    margin-left: 171px;
    margin-top: 16px;
    z-index:1049;

}

:host>>>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px  !important;
    height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    min-height: 32px  !important;
    height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #A8B9D5  !important;
    margin-left: 9px;
}

:host>>>.ng-placeholder{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #00513B  !important;
    margin-left: 9px;
}


/*fin select */


/*debut button add */

.button-add{

    width: 26px;
    height: 26px;
    content:url('../../../assets/images/button-add.svg');
    background: #FFCF00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 26px;

}
.image-plus{
    position: absolute;
    margin-left: 7px;
    width: 12px;
    height: 25px;
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(7,26,57,1);
    margin-top: -2px;
}
/*fin button add */

/*debut button valider*/
.btn-valider{
    background-color: #FFCD00;
    width: 97px;
    height: 40px;
    border-radius: 20px;


}
.btn-valider-text{
    white-space: nowrap;
    text-align: left;
    font-family: IBMPlexSans-Medium;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
}
/* fin button valider */

/* debut image visualiser */
.btn-visualiser{
    opacity: 1;
    width: 15px;
    height: 10px;
    content:url('../../../assets/images/button-visualiser.svg');

}
.btn-edit{
    opacity: 1;
    width: 9px;
    height: 9px;
    content:url('../../../assets/images/button-edit.svg');

}
.btn-delete{
    opacity: 1;
    width: 9px;
    height: 11px;
    content:url('../../../assets/images/button-delete.svg');

}
/* fin image visualiser */


/*textarea debut*/
.textarea{
    width: 421px;
    height: 70px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    resize: none;
    white-space: nowrap;
	text-align: left;
	font-family: IBMPlexSans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(86,86,86,1);
}
/*textarea fin*/

/*required * */

.required:after {
    content:" *";
    color: #071A39;
    font-size: 11px;
  }

  /*************/


  /**h4************/
.h4{
    width: auto;
    height: 14px;
    text-align: left;
    font: normal normal bold 11px/20px 'IBMPlexSansCond';
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.h5-grey{
    width: auto;
    height: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #A8B9D5;
    opacity: 1;
    font-size: 11px;


}

/**************div border******************/

.border-div{

    border-style: dotted;
    width: 206px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px dashed #819AC2;
    border-radius: 3px;
    opacity: 1;
    line-height: 100px;
}
.border-div:hover {
    opacity: 1;
    background-color: #F5F7FB;
}



/*debut icon upload */
    .arrow-upload{

        content:url('../../../assets/images/arrow-upload.svg');
        width: 8px;
        height: 9px;
        opacity: 1;
    }

    .arrow-upload-down{

        content:url('../../../assets/images/arrow-upload-down.svg');
        width: 10px;
        height: 1px;
        opacity: 1;
        margin-top: 12.41px;
        margin-left: -9px;
    }
    .image-upload{
        margin-left: 37.58px;
        margin-top: 5px;
        margin-right: 10.9px;
    }

    /*fin icon upload */


.grey-text{
    width: 114px;
height: 14px;
white-space: nowrap;
line-height: 20px;
margin-top: 49px;
text-align: left;
font-family: IBMPlexSans;
font-style: normal;
font-weight: normal;
font-size: 11px;
color: rgba(168,185,213,1);
}


/* debut tab */
.tab-active{

    background: #FFE781 0% 0% no-repeat padding-box !important;
    opacity: 1;
    white-space: nowrap;

}
.nav-tabs{
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 7px #d0d0d080;
    opacity: 1;
}
.nav-item{
    width: 211px;
    height: 35px;
    cursor: pointer;
}
.span-active{

    text-align: center;
    font-family: 'IBMPlexSansCond' ;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(7,26,57,1);
    margin-top: 9px  !important;

}
.span-not-active{
    text-align: center;
    font: normal normal normal 12px/15px 'IBMPlexSansCond';
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    margin-top: 9px  !important;
}
.hr-active{
    margin-top: 4px  !important;
    border: 0;
    width: 211px;
    height: 3px;
    background: #FFCD00 0% 0% no-repeat padding-box;
    opacity: 1;
}
/*fin tab */
