<div class="container">
    <div class="row row-element">

    <input type="text" class="form-control input-dis" disabled>

</div>



 
    <input type="text" class="form-control input">


   



    <div class="row">
        <div class="col-md-2">

            <img class="cadena" alt="" />
            <label class="label-left">Description société</label>
        </div>
        <div class="col-md-5">

            <input type="text" class="form-control input-dis" disabled>
        </div>


    </div>

    <div class="row row-element">
        <div class="col-md-2">

            <img class="cadena" alt=""/>
            <label class="label-left">SIREN</label>
        </div>
        <div class="col-md-5">

            <input type="text" class="form-control input-dis" disabled>
        </div>


    </div>

    <br>
    <br>

    <div class="row label-height">
        <label class="label-top">Nom du chargé d’affaires</label>
    </div>
    <div class="row">
        <input type="text" class="form-control input">
    </div>

    <div class="row row-element">



        <ng-select [(ngModel)]="selectedTest" [disabled]="true" class="select-disabled" placeholder="Sélectionner">

            <ng-option *ngFor="let duration of options">
                <div class="text-ng-option">{{duration.label}} </div>
            </ng-option>
        </ng-select>
        <img class="arrow-down" alt=""/>

    </div>



    <div class="row row-element">



        <ng-select placeholder="Sélectionner">

            <ng-option *ngFor="let duration of options">
                <div class="text-ng-option">{{duration.label}} </div>
            </ng-option>
        </ng-select>
        <img class="arrow-down" alt=""/>

    </div>
    <div class="row row-element">
        <app-input-number [(selectedNumber)]="selectedNumber" (inputModelChange)="changeInputNumber($event)">
        </app-input-number>

    </div>
    <br>
    <br>

    <h3 class="h3">Informations société</h3>

    <br>
    <br>


    <h1 class="h1">LIDL - Valorisation d’un équipement</h1>

    <br>
    <br>





    <br>
    <div class="row">
        <div class="col-md-2">


            <label class="label-left">Équipement immatriculable</label>
        </div>
        <div class="col-md-1">
            <label class="custom-checkbox">
                <input type="checkbox">
                <strong></strong>
            </label>
        </div>




    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="custom-checkbox">
                <input type="checkbox" disabled>
                <strong></strong>

            </label>
        </div>
        <div class="col-md-1">
            <label class="custom-checkbox">
                <input type="checkbox" disabled checked>
                <strong></strong>

                <span>Disabled Checked</span>
            </label>
        </div>

    </div>




 

    <br>
    <br>
    <textarea class="form-control textarea">
        It was a dark and stormy night...
                </textarea>


    <br>
    <br>
    <label class="h4">Autres documents (Descriptif matériel…)</label>
    <br>
    <label class="h4 required">Proforma - Devis - BDC</label>
    <br>
    <label class="h5-grey">Les formats acceptés sont pdf, xls, docx, ppt, zip, png, jpg (10 Mo max.)</label>

    <br>
    <div class="row row-element border-div">

        <div class="image-upload">
            <img class="arrow-upload" alt=""/>
            <img class="arrow-upload-down" alt=""/>
        </div>

        <label class="grey-text">Ajouter des documents</label>

    </div>

    <div class="row row-element border-div">

        <div class="image-upload">
            <img class="arrow-upload" alt=""/>
            <img class="arrow-upload-down" alt="" />
        </div>

        <label class="grey-text">Ajouter des documents</label>

    </div>



    <div class="row row-element">

        <img class="button-add" alt=""/>
        <span class="image-plus">+</span>
    </div>

    <div class="row row-element">

        <button type="button" class="btn btn-valider">

            <span class="btn-valider-text">Valider</span></button>
    </div>

    <div class="row row-element">

        <img class="btn-visualiser" alt=""/>
        <img class="btn-edit" alt=""/>
        <img class="btn-delete" alt=""/>


    </div>

    <div class="row row-element">
        <div class="image-upload">

            <img class="arrow-upload" alt=""/>
            <img class="arrow-upload-down" alt=""/>

        </div>
    </div>




    <div class="row row-element">
        <ul class="nav nav-tabs">
            <li class="nav-item" [ngClass]="{
                'tab-active':i == selectedTab }" *ngFor="let tab of tabList;let i = index" (click)="changeTab(i)">
                <div [ngClass]="i== selectedTab? 'span-active' :'span-not-active'" >{{tab.name}}</div>
                <hr  *ngIf="i==selectedTab" class="hr-active">

            </li>


        </ul>


    </div>
</div>
<br>
<br>
