<div class="container comp-container" [formGroup]="form">
    <div class="row mb-3">
        <div class="col-md">
            <h3 class="h3">QUALification du matériel</h3>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 mb-4">
            <label for="catActivitySector" class="label-top required">Secteur d’activités</label>
            <div class="row row-element m-0">
                <ng-select id="catActivitySector" placeholder="Sélectionner" (clear)="resetCatSector()"  formControlName="catActivitySector" (change)="loadQualificationListBySector()"
                    [ngClass]="submited?'submited':''" style="width: 100%;" notFoundText="Pas de résultats" [searchFn]="searchStarstWith">
                    <ng-option *ngFor="let option of catActivitySectorOptions" [value]="option">
                        <div class="text-ng-option">{{option}} </div>
                    </ng-option>
                </ng-select>
            </div>
            <label id="activitySectorErrorMessage" *ngIf="(submited || form.controls.catActivitySector.touched) && form.controls.catActivitySector.errors"
                for="catActivitySector" class="label-required">Champs à compléter</label>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 mb-4">
            <label for="catNature" class="label-top required">Nature</label>
            <div class="row row-element m-0">
                <ng-select id="catNature" placeholder="Sélectionner" (clear)="resetCatNature()"  formControlName="catNature" (change)="loadAllQualifMaterielByNature(true)"
                    [ngClass]="submited?'submited':''" style="width: 100%;" notFoundText="Pas de résultats" [searchFn]="searchStarstWith">
                    <ng-option *ngFor="let option of catNatureOptions" [value]="option">
                        <div class="text-ng-option">{{option}} </div>
                    </ng-option>
                </ng-select>
            </div>
            <label id="natureErrorMessage" *ngIf="(submited || form.controls.catNature.touched) && form.controls.catNature.errors" for="catNature"
                class="label-required">Champs à compléter</label>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 mb-4">
            <label for="catBrand" class="label-top required">Marque</label>

            <span class="required-auto-complete" *ngIf="catBrandOptions.length != 0  && !form.controls.catBrand.value">
                Séléction obligatoire</span>




                    <div class="row row-element m-0">

    <ng-autocomplete id="catBrand" #auto [data]="catBrandOptions"  (inputCleared)="resetCatBrand()"formControlName="catBrand" (selected)='selectEventCatBrand($event)'
                    (inputFocused)="updateVlueBrand($event)"(inputChanged)="brndInputChanged($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="brandkeyword"
                        #ngAutoCompleteStatic  notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticbrand"
                        [customFilter]="customFilter"
                        [ngClass]="submited?'submited':''"
                        [notFoundTemplate]="notFoundTemplatebrand" [isLoading]="catBrndIsLoading">
                    </ng-autocomplete>
                    <div *ngIf="form.controls.catActivitySector.value && form.controls.catNature.value" class="create-new row" (click)="addCatRequest('brand')" [hidden]="form.disabled">
                        <div class="button-add-small btn-position-abs">
                            <span class="image-plus-small">+</span>
                        </div>
                    </div>

                    <ng-template #itemTemplateStaticbrand let-item>
                        <a [innerHTML]="item"></a>
                    </ng-template>

                    <ng-template #notFoundTemplatebrand let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
            </div>
            <label id="brandErrorMessage" *ngIf="(submited || form.controls.catBrand.touched) && form.controls.catBrand.errors" for="catBrand"
                class="label-required">Champs à compléter</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12 mb-4">
            <label for="catAssetType" class="label-top required">Type</label>
            <span class="required-auto-complete" *ngIf="catAssetTypeOptions.length != 0 && !form.controls.catAssetType?.value">Séléction obligatoire</span>


            <div class="row row-element m-0">



                <ng-autocomplete id="catType" (selected)='selectEventCatType($event)' (inputCleared)="resetCatType()" [data]="catAssetTypeOptions" formControlName="catAssetType"
                    (inputChanged)="typeInputChanged($event)" (inputFocused)="updateValueType($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="Typekeyword"
                    #ngAutotype historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticType"
                    [notFoundTemplate]="notFoundTemplateType"  [ngClass]="(submited)?'submited':''" [isLoading]="catTypeIsLoading" >
                </ng-autocomplete>
                <div *ngIf="form.controls.catActivitySector.value && form.controls.catNature.value && form.controls.catBrand.value" class="create-new" (click)="addCatRequest('type')" [hidden]="form.disabled">
                    <div class="button-add-small btn-position-abs">
                        <span class="image-plus-small">+</span>
                    </div>
                </div>

                <ng-template #itemTemplateStaticType let-item>
                    <a [innerHTML]="item"></a>
                </ng-template>

                <ng-template #notFoundTemplateType let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>

            </div>

            <label id="assetTypeErrorMessage" *ngIf="(submited || form.controls.catAssetType.touched) && form.controls.catAssetType.errors"
                for="catAssetType" class="label-required">Champs à compléter</label>
        </div>
    </div>


</div>
