.comp-container {
    background-color: #ffffff;
    width: 510px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-right: -4px;
}

/* debut select*/

/* ajouter un button dans un select */

.create-new {
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: 11px;
    color: rgba(7, 26, 57, 1);
}

.ng-dropdown-header {
    border-top: unset !important;
    padding: 0px 10px !important;
}

:host>>>.ng-dropdown-panel .ng-dropdown-header {
    border-bottom: none;
}

:host>>>.ng-dropdown-header:hover {
    background-color: rgba(255, 207, 0, 1);
}

/* fin button select*/

:host>>>.ng-dropdown-panel.ng-select-bottom {
    margin-top: 7px;
    z-index: 509;
}

:host>>>span.ng-option-label {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal !important;
    font-size: 11px;
    color: rgba(7, 26, 57, 1);
}

.option-button {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.ng-value {
    white-space: nowrap;
    line-height: 23px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0, 81, 59, 1);
    margin-top: 8px;
}

:host>>>.ng-select .ng-select-container .ng-value-container {
    padding-left: unset;
}

:host>>>.ng-select .ng-select-container .ng-value-container .ng-input>input {
    font-family: 'IBMPlexSansCond', sans-serif;
    font-size: 11px;
}

:host>>>.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: none;
    border: 0.5px solid #004734;
}

:host>>>.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 0px;
}

:host>>>.ng-dropdown-panel.ng-select-top .ng-dropdown-panel-items .ng-option:first-child {
    font-family: 'IBMPlexSansCond', sans-serif;
    font-size: 11px;
}

:host>>>.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
    font-family: 'IBMPlexSansCond', sans-serif;
    font-size: 11px;
}

:host>>>.ng-select-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    height: 32px !important;
    min-height: 32px !important;
    padding-left: 9px;
}

:host>>>.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px !important;
    height: 32px !important;
}

:host>>>.ng-select.ng-select-disabled>.ng-select-container {
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
}

:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D !important;
    margin-left: 9px;
}

:host>>>.ng-placeholder {
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #00513B !important;
    margin-left: 9px;
}

:host>>>ng-select.ng-invalid.ng-touched .ng-select-container {
    border: 1px solid red !important;
}

:host>>>ng-select.submited.ng-invalid .ng-select-container {
    border: 1px solid red !important;
}

/*fin select */

.label-required {
    font-family: 'IBMPlexSansCond', sans-serif;
    position: absolute;
    margin-top: 4px;
}

:host>>>.ng-select .ng-clear-wrapper {
    display: none;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    height: 25px;
}

.btn-position-abs {
    position: absolute;
    top: 30px;
    right: -10px;
}

.image-plus-small {
    position: absolute;
    margin-left: 6px;
    width: 12px;
    height: 25px;
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(7, 26, 57, 1);
    /*margin-top: -4px;*/
    cursor: pointer;
}

.text-add {
    margin-left: 34px;
}

.button-add-small {
    width: 20px;
    height: 20px;
    background: #FFCF00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

/***** autocomplete */

:host>>>.autocomplete-container .input-container input {
    width: 100%;
    height: 32px;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    color: #004734;
    font-family: 'IBMPlexSansCond';
    font-size: 12px;
}

:host>>>.ng-autocomplete.ng-invalid.ng-touched .autocomplete-container .input-container input {
    border: red 1px solid !important;
}


:host>>>.autocomplete-container {
    box-shadow: none;
    height: 32px;
}

:host>>>.item:hover {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255, 207, 0, 1);
}

:host>>>.autocomplete-container .suggestions-container ul li a {
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal !important;
    font-size: 11px;
    color: rgba(7, 26, 57, 1);
    padding: 5px 10px;
}

:host>>>.autocomplete-container .input-container .x i {
    color: rgba(157 157 157);
    font-size: 13px;
    vertical-align: middle;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal;
    padding-top: 0px;
    color: #ccc;
    font-size: 11px;
}

:host>>>.ng-select .ng-select-container .ng-value-container {
    align-items: center;
    padding-left: 3px;
}

:host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
}

:host>>>.ng-select .ng-clear-wrapper {
    display: unset;
}

:host>>>.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: #999 !important;
}

:host>>>.autocomplete-container .suggestions-container {
    visibility: visible;
    margin-top: 1px;
}

:host>>>.ng-autocomplete.ng-invalid.submited .autocomplete-container .input-container input {
    border: red 1px solid !important;
}

:host>>> .autocomplete-container .input-container input:disabled {
    border-color: #909090;
    color: #565656;
    background-color: #eee;
}
