<div class="container" *ngIf="litigation">
    <div class="row">
            <div class="col-9">
                <app-social-reason-title title="Valorisation d'un équipement"></app-social-reason-title>
                </div>
        <div class="col-3 mt-57">
          <app-result-history [valuation]="litigation.valuation"></app-result-history>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
           <app-result-request-information *ngIf="litigation" [dateSubmit]="dateSubmit" [valuation]="litigation.valuation" [litigation]="litigation" >

            </app-result-request-information>
        </div>

    </div>

    <div class="row margin-component">
        <div class="col-md-12">
            <app-result-decote-contentieux [litigation]="litigation"> </app-result-decote-contentieux>
        </div>

    </div>

    <div class="row validate-container">

        <div class="col">
                <button  class="btn btn-valider float-right" (click)="saveResult()" [disabled]="false">
                        <span class="btn-valider-text">Envoyer</span>
                    </button>
                <button type="submit"  class="btn btn-reject float-right"  (click)="returnToReceptionContentieux()">
                        <span class="btn-valider-text" >Modifier</span>
                    </button>

        </div>
    </div>


</div>
