.margin-component{
    margin-top: 28px;
}
.container{
    background-color: #F5F4F2 ;
}
.btn-valider{
    background-color: #FFCD00;
    width: 105px;
    height: 40px;
    border-radius: 20px;
    margin-top: 34px;
}

.btn-reject{
    margin-right: 12px;
    font-family: 'IBMPlexSans';
    width: 107px;
    height: 40px;
    border-radius: 20px;
    margin-top: 34px;
    box-shadow: unset;
  }
  .btn-reject:hover{
    margin-right: 12px;
    background-color: #FFCD00;
    width: 107px;
    height: 40px;
    border-radius: 20px;
    margin-top: 34px;
    cursor: pointer;
  
  }
  .mt-57{
      margin-top: 57px;
  }