<div class="col-12 mt-4 mb-4" [formGroup]="decoteContentieuxForm">
    <div class="container comp-container" >
        <div class="row">
            <div class="col-auto h3">DÉCOTE CONTENTIEUX</div>
            <div class="col-auto little-label font-weight-bold">
                <div class="padding-left align-self-end">
                    <label class="custom-checkbox">
                        <input id="readjust" type="checkbox" class="form-control input-dis" readonly="true"
                        formControlName="isLostMaterial" (change)="isLostMaterialChange(this.decoteContentieuxForm.get('isLostMaterial').value)">
                        <strong></strong>
                    </label>
                    <label class="mat-vole-text taux-cb-spacing pr-4" for="readjust">Matériel volé
                    </label>
                </div>
            </div>
        </div>
        <!-- decotes du contentieux -->

        <div class="d-flex" class="decotes">
            <span  formArrayName="decoteRates" class="margin-decote-expert" *ngFor="let item of decoteRatesControls; let i = index;" >
                <div [formGroupName]="i">
                <ng-container>
                    <label class="label-top-decote">
                        <label class="custom-checkbox-decote">
                            <input type="checkbox" class="form-control input-dis" formControlName="isChecked" (change)="eventCheck(i)">
                            <strong></strong>
                        </label>
                        <label >{{'Année ' + (i+1)}}</label>
                    </label>
                    <app-input-number class="input-component" formControlName="discountRateValue"
                        [min]="0" [max]="100"  [symbol]="percentSymbol"></app-input-number>
                </ng-container>
            </div>
            </span>

        </div>


        <!-- inputs here-->
        <!-- Calcul Line here-->
        <div class="calcul-row-container">
            <div class="form-group cont-input">
                <label for="materialAge" class="label-top">Âge du materiel</label>
                <input type="number" class="form-control age-input input" id="materialAge" placeholder=""
                formControlName="materialAge"  >
            </div>
            <div class="form-group cont-input">
                <label for="materialCurrentValue" class="label-top">Valeur à la date</label>
                <input type="text" class="form-control val-date-ipnut input" id="materialCurrentValue" placeholder=""
                formControlName="materialCurrentValue" readonly="readonly" >
            </div>
            <div class="form-group cont-input">
                <label for="litigationDiscount" class="label-top">Décote contentieux</label>
                <div class="padding-left align-self-end" style="position: relative;">
                    <input id="litigationDiscount" type="number" placeholder="XX" class="label-spacing-right form-control dec-cont-ipnut"
                     formControlName="litigationDiscount" (blur)="onBlurLitigationDiscount()" (change)="changeLitigationDiscount($event.target.value)">
                    <span class="percent-icon"> % </span>
                </div>
            </div>
            <div class="form-group cont-input">
                <label for="litigationValue" class="label-top">Valeur en contentieux</label>
                <input  type="text" class="form-control val-cont-ipnut input" id="litigationValue" placeholder=""
                formControlName="litigationValue" readonly="true" (change)="contxValueChanged()">
            </div>
            <button class="btn btn-valider calculer float-right" type="button"
            [disabled]="disabledButtonCalcul()" (click)="calculLitigationValue()">
                <span class="btn-valider-text"> Calculer </span>
            </button>
        </div>
        <!-- co-baillage here-->
        <div class="co-baillage-row-container">

            <div class="padding-left align-self-center">
                <label class="custom-checkbox">
                    <input id="isCobailing" type="checkbox" class="form-control input-dis"
                     formControlName="isCobailing">
                    <strong></strong>
                </label>
                <label class="taux-cb-spacing cat-disc-label label-left-bold pr-4" for="isCobailing">Co-baillage
                </label>
            </div>
            <div class="padding-left align-self-end" *ngIf="decoteContentieuxForm.get('isCobailing').value">
                <div class="form-group cont-input">
                    <label for="shareRate" class="label-top">Quote-part BPI France (en %)</label>
                    <input type="number" class="isBaillage-input form-control input" id="shareRate" placeholder=""
                    formControlName="shareRate" (blur)="onBlurShareRate()" (input)="calculateShareValue()">
                </div>


                </div>
            <div class="padding-left align-self-end" *ngIf="decoteContentieuxForm.get('isCobailing').value">
                <div class=" form-group cont-input">
                    <label for="shareValue" class="label-top">Valeur de la quote-part HT (en €)</label>
                    <input type="text" class="isBaillage-input form-control input" id="shareValue" placeholder=""
                    formControlName="shareValue" readonly="readonly">
                </div>

            </div>

        </div>
        <div class="error-share" *ngIf=" (decoteContentieuxForm['controls']['shareRate'].errors?.min || decoteContentieuxForm['controls']['shareRate'].errors?.max) && decoteContentieuxForm['controls']['shareRate'].touched">
            <label class="label-required">Merci de renseigner une valeur comprise entre 0 et 100</label>
        </div>

        <!-- Comment here-->
        <div class="row">
            <div class="col-12">
                <label class="label-top">Commentaire</label>
                <textarea type="text" class="form-control commentary" maxlength="2000" formControlName="comment"></textarea>
            </div>
        </div>

    </div>
</div>
