<form [formGroup]="contentieuxForm" [hidden]="!clientInfoLoaded" *ngIf="valuationRequestIdLoaded">

    <div class="container">
        <div class="row mb-2 pl-4 ">
            <div class="col ">
                <app-social-reason-title title="Valorisation d 'un équipement"></app-social-reason-title>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-4">
                    <app-client-info-component formControlName="clientInfo" [valuationRequest]="valuationRequest" (clientInfoLoaded)="changeClientInfoLoaded()"></app-client-info-component>
                </div>
                <div>

                    <app-information-contentieux *ngIf="valuatuationExpertLoaded"     [isSubmitted]="isSubmitted" formControlName="contentieuxInformation" (oninvoiceDateChange)="materialAgeChange($event)"
                     [valuationRequest]="valuationRequest"></app-information-contentieux>
                </div>

            </div>
            <div class="col-md-6 col-md-offset-2">
                <app-valuation-request-reception [submited]="true" [submitePassed]="true" [valide]="true" (valuationToSend)="getValuationReception($event)"
                    formControlName="valuation" [valuationRequestId]="valuationRequestId"></app-valuation-request-reception>

            </div>
            <div class="col-md-12">
                <app-material-qualification-contentieux formControlName="materialQualification" *ngIf="valuatuationExpertLoaded" [valuationExpert]="valuationExpert"
                 (isFormQualifDisabled)="isFormQualif($event)" [isSubmitted]="isSubmitted" [litigation]="litigation">
                </app-material-qualification-contentieux>
            </div>

            <div class="col-md-12">
                <app-decote-contentieux [isDateFromAgeChanged]="isDateFromAgeChanged" [valuationExpert]="valuationExpert" [litigation]="litigation" [changeAgeFromDate]="materialAge" [materialQualification]="contentieuxForm.getRawValue().materialQualification" *ngIf="valuatuationExpertLoaded && isFormQualifDisabled && contentieuxForm.getRawValue().materialQualification?.catAssetType" formControlName="decoteContentieux" [isSubmitted]="isSubmitted" >
                </app-decote-contentieux>
            </div>

        </div>

             <div class="row validate-container" *ngIf="valuatuationExpertLoaded && isFormQualifDisabled">

                <div class="no-pad-right col-md-12 " >
                    <div class="no-pad-right col" >

                            <button type="submit"  class="btn btn-valider float-right "  (click)="onSubmit()">
                                    <span class="btn-valider-text">Soumettre</span>
                                </button>
                    </div>


             </div>
              </div>
    </div>

</form>