.validate-container{
    margin-bottom: 3rem !important;
    width: 1112px;
    margin-left: -3%!important; 
}
.no-pad-right{
    padding-right: 0px!important;
}
:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    width: auto;
}