<div class="container">
    <div class="row flex-nowrap " pTooltip="{{selectedNumber}}" tooltipPosition="top" *ngIf="withToolTip">
        <input [disabled]="disabled" type="number" [ngClass]="{'ng-invalid-error':control.invalid}" class="form-control input-number" [ngModel]="selectedNumber | number: '1.0-0'"
            [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="selectedNumber=$event;this.inputModelChange.emit(selectedNumber)"
            (blur)="changeValue(selectedNumber)">
        <span class="purcent-input">%</span>
        <div *ngIf="!disabled" class="div-change-input">
            <div class="div-add-input" (click)="more()">
                <img class="arrow-top-input" alt="^" />

            </div>
            <div class="div-add-input" (click)="less()">
                <img class="arrow-down-input" alt="v" />

            </div>
        </div>
    </div>

    <div class="row flex-nowrap" *ngIf="!withToolTip">
         <input *ngIf="selectedNumber!='NA'" [ngClass]="{'ng-invalid-error':invalidControl}"[disabled]="disabled" type="text"  mask="separator" class="form-control input-number" 
         [(ngModel)]="selectedNumber" (ngModelChange)="this.inputModelChange.emit(selectedNumber)" [allowNegativeNumbers]="allowNeg"
        (blur)="changeValue(selectedNumber)"> 
        <input *ngIf="selectedNumber=='NA'" [disabled]="disabled" type="text" class="form-control input-number" 
         [(ngModel)]="selectedNumber"> 
        <span *ngIf="selectedNumber!='NA'" class="purcent-input">{{symbol}}</span>
         <div *ngIf="!disabled" class="div-change-input">
        <div class="div-add-input" (click)="more()"> <img class="arrow-top-input" alt="^" /> </div>
        <div class="div-add-input" (click)="less()"> <img class="arrow-down-input" alt="v" /> </div>
    </div>
</div>

</div>

<div class="container">
  
</div>