.input-number{
    width: 53px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color : #565e6b;
    padding: unset;
    text-align: center;
}

.input-number:disabled {
  background: #e9ecef 0% 0% no-repeat padding-box;
  border: 0.5px solid #909090;
}
.purcent-input{
    position: absolute;
    width: 12px;
    height: 15px;
    text-align: left;
    font: normal normal bold 12px/20px 'IBMPlexSans';
    letter-spacing: 0px;
    color: #54514D;
    opacity: 1;
    margin-left: 37px;
    margin-top: 7px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.div-add-input{
    height: 14px;
    width: 14px;
    background-color: #FFCD00;
    margin-top: 3px;
    cursor: pointer;
}
.div-change-input{
    display: inline-block;
    margin-top: -2px;
    margin-left: 7px;
}

.ng-invalid-error{
    border: 1px solid red !important;
}

    .arrow-down-input{

        content:url('../../../assets/images/arrow-down-input.svg');
        width: 8.5px;
        height: 4.958px;
        overflow: visible;
        margin-left: 3px;
        margin-top: 4px;
        position: absolute;
    }

    .arrow-top-input{

        content:url('../../../assets/images/arrow-top-input.svg');
        width: 8.5px;
        height: 4.958px;
        overflow: visible;
        transform: translate(0px, 0px) matrix(1,0,0,1,3,4.0002) rotate(180deg);
        margin-left: 1px;
        margin-top: 1.04px;
        position: absolute;
    }
