
.modal-header {
    border-bottom: 0px;
    height: 0px;
    padding-top: 6px;
  }
  /*
  .close {
    border: none ;
  } */
  
  .no-border{
    border: none ;
    border-style: none;
    border-width: 0;
  }
  
  button[aria-label="Close"]:focus {
    outline: none;
  }
  
  .btn-reject{
  
    font-family: 'IBMPlexSans';
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    font-weight: bold;
    box-shadow: unset;
  }
  .btn-reject:hover{
  
    background-color: #FFCD00;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
  
  }
  .btn-confirm{
    font-family: 'IBMPlexSans';
    background-color: #FFCD00;
    min-width: 150px;
    min-height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
  
  }
  .btn-confirm :hover{
  
    background-color: #FFE781;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    opacity: 0.9;
    cursor: pointer;
  
  }
  
  .btn-label-confirm{
    font-family: IBMPlexSans;
    top: 424px;
  left: 776px;
  width: 73px;
  height: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
  }
  
  .smallDescription{
    font-size: 12px;
  }
  .modal-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-top: 0px solid #dee2e6;
  
      }
    :host>>> .ng2-pdf-viewer-container{
        position: relative;
      }  

    .pdfModalContainer .modal-dialog {
        max-width: 900px;
      }
      :host >>> .modal-body {
        max-height: 80vh;
        min-height: 700px;
      }


      :host {  
        display: block;  
      }  
      p {  
        font-family: Lato;  
      } 