
<div class="modal-header" *ngIf="!isPdf">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click');exitModal();">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngx-extended-pdf-viewer *ngIf="isPdf" [src]="pdfSrc? pdfSrc : getPDFPath()" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>

    <iframe 
    *ngIf="!isPdf"
    [src]="pdfSrc | safe" 
    class="fram"
    width="100%"
    height="700px"
    title="Document Viewer">
  </iframe>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-reject" (click)="activeModal.dismiss('cancel click');exitModal();" *ngIf="cancelBtnMessage != null">
        {{cancelBtnMessage != '' ? cancelBtnMessage : "Annuler"}}
    </button>
    <button type="button" class="btn btn-confirm" (click)="activeModal.close('Ok click'); confirmModal()" *ngIf="confirmBtnMessage != null">
        {{confirmBtnMessage != '' ? confirmBtnMessage : "Confirmer"}}
    </button>
</div>