.val-container{
    margin: 32px;
    justify-content: flex-start;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 28px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-bottom: 35px;
}

.title{

    letter-spacing: 0px;
    opacity: 1;
    /* position: absolute; */
    overflow: visible;
    width: max-content;
    /* height: 23px;  */
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: rgba(7,26,57,1);
    text-transform: uppercase;
    margin-right: 35px
}

.div-add-input-categ:hover{
    height: 14px;
    width: 14px;
    background-color: #FFCD00;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 21px;
}
.div-add-input-categ{
    height: 14px;
    width: 14px;


}

.div-add-input:hover{
    height: 14px;
    width: 14px;
    background-color: #FFCD00;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
}
.div-add-input{
    height: 14px;
    width: 14px;

}

.arrow-down-input{

    content:url('/../../assets/images/arrow-down-input.svg');
    width: 8.5px;
    height: 4.958px;
    overflow: visible;
    margin-left: 3px;
    margin-top: 4px;
    position: absolute;
}

.arrow-top-input{

    content:url('../../../../assets/images/arrow-top-input.svg');
    width: 8.5px;
    height: 4.958px;
    overflow: visible;
    transform: translate(0px, 0px) matrix(1,0,0,1,3,4.0002) rotate(180deg);
    margin-left: 1px;
    margin-top: 1.04px;
    position: absolute;
}

.div-add-input:hover{
    height: 14px;
    width: 14px;
    background-color: #FFCD00;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 50%;
}
.div-add-input{
    height: 14px;
    width: 14px;

}

:host>>> .autocomplete-container .suggestions-container {
    visibility: visible;
}

:host>>>  .p-button:enabled:hover {
    background: #FFE066;
    color: #000000;
    border-color: #ffcd00;
}
:host>>>  .p-button:focus {
    box-shadow: unset;
}
:host>>> .p-button {
    height: 32px;
    margin-left: -2px;
    color: #000000;
    background: #ffcd00;
    border: 1px solid #ffcd00;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
:host>>> .p-button.p-button-icon-only {
    width: 4.357rem;
    padding: 0.5rem 0;
}
.btn-siren-container {
    align-content: center;
    justify-content: center;
    display: flex;
    padding-top: 16px;
}

:host>>> .autocomplete-container .input-container input {
    width: 100%;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819ac2;
    border-radius: 3px;
    opacity: 1;
    color: #071A39;
    font-family: 'IBMPlexSansCond';
    font-size: 12px;
}
:host>>> .ng-autocomplete.ng-invalid.ng-touched .autocomplete-container .input-container input {
    border: red 1px solid !important;
}
:host>>> .autocomplete-container {
    box-shadow: none;
    height :32px;
}
:host>>> .item:hover{
    background-color: rgba(255,207,0,1);
}
:host>>>.autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255,207,0,1);
}
:host>>> .autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255,207,0,1);
}

:host>>>.autocomplete-container .suggestions-container ul li a {
    white-space: nowrap;
line-height: 20px;
margin-top: -4.5px;
text-align: left;
font-family: 'IBMPlexSansCond';
font-style: normal;
font-weight: normal !important;
font-size: 11px;
color: rgba(7,26,57,1);
}

:host>>>.autocomplete-container .input-container .x i {
    color: rgba(157 157 157);
    font-size: 13px;
    vertical-align: middle;
}

:host>>> .autocomplete-container .input-container input:disabled {
    border-color: #909090;
    color: #565656;
    background-color: #eee;
}

.btn-reset{
    top: 125px;
    left: 1207px;
    width: 90px;
    height: 40px;
    opacity: 1;
    box-shadow: unset;
    text-align: center;
  }

.btn-reset:hover{
    background-color: #FFCD00;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
  }
.no-res-text{
    position: absolute;
}
:host>>> .autocomplete-container.active{
    z-index: 8;
}

:host>>>.autocomplete-overlay{
    z-index: 5;
}