<div class="val-container" [formGroup]="valCreationForm">
    <div class="row">
        <div class="col-12">
            <span class="title"> Créer une valorisation</span>


            <span class="div-add-input" (click)="showSection()">
                <img alt="arrow" [ngClass]="isArrowUp?'arrow-top-input':'arrow-down-input'" />
            </span>
        </div>
    </div>

    <div class="row mt-3" [hidden]="!isArrowUp">
        <div class="col-4">

            <div class="col-12 md:col-4">
                <label for="siren" class="label-top ">Numéro SIREN</label>
                <div class="p-inputgroup">
                    <ng-autocomplete id="siren" #auto [data]="sirenOptions" formControlName="siren" (inputChanged)="disableCustomer()"
                     (inputCleared)="reset()" [isLoading]="isLoading" [minQueryLength]="1" [debounceTime]="50" [searchKeyword]="keywordSiren"
                        #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStatic"
                        (opened)="patchCustomer(valCreationForm.controls['siren'])" (selected)="selectSiren($event)"
                        [disabled]="isSirenDisabled"
                        [customFilter]="customFilter"
                        (keypress)="numberOnly($event)"
                        >
                    </ng-autocomplete>

                    <ng-template #itemTemplateStatic let-item>
                        <a [innerHTML]="item.socialReason"></a>
                    </ng-template>

                    <button type="button" pButton pRipple icon="pi pi-search" (click)="loadSiren(valCreationForm.controls['siren'].value)"
                        styleClass="p-button-warn"></button>
                </div>
                <label class="label-top no-res-text" *ngIf="isSirenResultNotFound"> Pas de résultats </label>

            </div>

        </div>
        <div class="col-4">
           <label for="customerId" class="label-top ">Nom du client</label><span class="required-auto-complete" *ngIf="legalNamesCustomerOptions.length != 0"> Séléction obligatoire</span>
            <ng-autocomplete id="customerId" [data]="legalNamesCustomerOptions" formControlName="customerId" [minQueryLength]="3" [debounceTime]="50"
                [searchKeyword]="keyword" #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStatic1"
                (inputChanged)="loadCustomer($event)" (inputCleared)="enableSiren()" [disabled]="isCustomerNamedisabled"
                (selected)="selectCustomer($event)" (inputCleared)="reset()">
            </ng-autocomplete>

            <ng-template #itemTemplateStatic1 let-item>
                <a [innerHTML]="item.legalName"></a>
            </ng-template>
            <label class="label-top no-res-text" *ngIf="isCustomerResultNotFound"> Pas de résultats </label>

        </div>
        <div class="col-4 btn-siren-container">

            <button type="button" class="btn btn-valider float-right mr-3" (click)="createValorisation()" [disabled] ="isCreateDisable">
                <span class="btn-valider-text">Créer</span>
            </button>

            <button type="button" class="btn btn-reset" (click)="reset()" >
                <span class="btn-cancel-text ml-1">Effacer</span>
            </button>



        </div>


    </div>
