<div class="row mb-1">
  <div class="form-group col-12" [formGroup]="docForm">


      <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneClassName="{{ docForm.disabled ? 'w-100 border-div-disabled' : 'w-100  border-div'}} " [disabled]="docForm.disabled">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          <div class="row" (click)="docForm.disabled ? '' : openFileSelector()" [ngClass]="{'cursor-pointer':docForm.enabled}">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <span class="icon-upload" style="cursor: inherit"></span>
              <label class="grey-text " style="cursor: inherit">Ajouter des documents</label>
            </div>

          </div>

        </ng-template>
      </ngx-file-drop>

  </div>
</div>
<div *ngIf="(!control.valid || docErr) && docForm.enabled  && docForm.controls['files'].touched">

  <label class="label-required">Merci de charger un document conforme</label>
</div>
<div *ngIf="control.valid && !docErr && documentList?.length > 0 && docForm.controls['files']?.touched">
  <label class="label-top">Votre document a bien été chargé</label>
</div>

<div class="row mb-1">
  <div class="form-group col-md-12 d-flex flex-wrap justify-content-start">
    <div class="mr-4" *ngFor="let myDocument of documentList;let i=index">

      <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.name}} </label>
      <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)">

      <img class="btn-edit m-1" alt="" (click)="editDocument(i)" *ngIf="docForm.enabled" />
      <img class="btn-delete m-1" alt="" (click)="deleteDocument(i)" *ngIf="docForm.enabled"/>
    </div>
  </div>

</div>
