

.grey-text {
    margin-top: 0 !important
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.cursor-pointer{
cursor: pointer;
}