.comp-container{
    background-color: #ffffff;
    width: 1044px;
    height: 265px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 46px;
    padding-bottom: 27px;
  }

  :host>>> .ng-select .ng-clear-wrapper{
    display: none;
  }
  :host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 509;

  }

  :host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
  }
  :host >>>.ng-option {
    width: 100%;
    height: 25px;
  }
  .text-ng-option{
  
    margin-left: 11px;
  }

  :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
  }

  :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
  }
  :host >>>.ng-value{
  white-space: nowrap;
  line-height: 23px;
  text-align: left;
  font-family: 'IBMPlexSansCond', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0,81,59,1);
  margin-top: 3px;
  }

  :host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
  display: none;
  }

 :host>>> .ng-select .ng-select-container .ng-value-container{
      padding-left: unset;
  }
 
  
  :host>>>.ng-select-container{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #004734;
  border-radius: 3px;
  opacity: 1;
  height: 32px !important;
  min-height: 32px  !important;
  padding-left: 9px;
  
  }
  
    :host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px  !important;
    height: 32px !important;
    }
    :host>>>.ng-select.ng-select-disabled>.ng-select-container{
    background: #e9ecef  0% 0% no-repeat padding-box  !important;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    }
    :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color:#54514D  !important;
    margin-left: 9px;
    }

    :host>>>.ng-placeholder{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #909090  !important;
    margin-left: 9px;
    }

    :host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
      border: 1px solid red !important;
    }


    :host>>> ng-select.submited.ng-invalid .ng-select-container{
      border: 1px solid red !important;
    }

    :host>>>.ng-select .ng-select-container .ng-value-container {
      align-items: center;
      padding-left: 0px;
  }
  .label-top{
    line-height: unset;
    height: 28px;
  }
  .btns{
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .btn-reset{
    top: 125px;
    left: 1207px;
    width: 99px;
    height: 40px;
    opacity: 1;
    text-align: left;
    box-shadow: unset;
    padding: revert;
    margin-right: 15px;
  }

 .btn-reset:hover{
    background-color: #FFCD00;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
  }

   .reset-btn-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
    margin-left: 2px;
    margin-left: 13px;
  }
  /* ajouter un button dans un select */
.create-new {
  cursor: pointer;
  white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond', sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 11px;
  color: rgba(7,26,57,1);
}
.ng-dropdown-header{
  border-top:unset !important;
  padding: 0px 10px !important;

}
:host>>> .ng-dropdown-panel .ng-dropdown-header{
 border-bottom:none;

}
:host>>> .ng-dropdown-header:hover{
 background-color: rgba(255,207,0,1);

}
.btn-position-abs{
  position: absolute;
  top: 4px;
  margin-left: 16px;
}
.image-plus-small{
  position: absolute;
  margin-left: 3px;
  width: 12px;
  height: 25px;
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans';
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  color: rgba(7,26,57,1);
  margin-top: -4px;
  cursor: pointer; 
}
.text-add{
  margin-left:34px; 
}
.button-add-small{
  width: 12px;
  height: 12px;
  background: #FFCF00 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
