<div class="row"><div class="col-12 mt-4 mb-4">
        <div class="container comp-container" [formGroup]="mtrQualifForm">
            <h3 class="h3">Qualification Du Matériel</h3>

            <div class="row pt-15">
                <div class="form-group col-md-6 mb-6">
                    <label for="catActivitySector" class="label-top">Secteur d’activités</label>
                    <div class="row row-element m-0">
                        <ng-select id="catActivitySector" placeholder="Sélectionner" formControlName="catActivitySector"
                            style="width: 100%" notFoundText="Pas de résultats" (change)="loadCatNatureListBySectorId();">
                            <ng-option *ngFor="let option of activitySectorOptions" [value]="option">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>
                    </div>

                </div>

                <div class="form-group col-md-6 mb-6">
                    <label for="catNature" class="label-top">Nature</label>
                    <div class="row row-element m-0">
                        <ng-select id="catNature"  placeholder="Sélectionner" formControlName="catNature"
                            style="width: 100%" notFoundText="Pas de résultats" (change)="loadCatBrandListByCatNatureId()">
                            <ng-option *ngFor="let option of naturesOptions" [value]="option">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>
                    </div>

                </div>



            </div>

            <div class="row">

                <div class="form-group col-md-6 mb-6">
                    <label for="catBrand" class="label-top">Marque</label>
                    <div class="row row-element m-0">
                        <ng-select id="catBrand" placeholder="Sélectionner" formControlName="catBrand"
                            style="width: 100%" notFoundText="Pas de résultats" (change)="loadCatAssetTypeListByCatBrandId()">
                            <ng-template ng-header-tmp *ngIf="mtrQualifForm.value.catActivitySector && mtrQualifForm.value.catNature">

                                <div class="create-new row" (click)="addCatRequest('brand')">
                                    <div class="button-add-small btn-position-abs">
                                        <span class="image-plus-small">+</span>
                                    </div>
                                    <div class="text-add">
                                        Ajouter une marque
        
                                    </div>
                                </div>
                            </ng-template>
                            <ng-option *ngFor="let option of brandsOptions" [value]="option">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>
                    </div>

                </div>

                <div class="form-group col-md-6 mb-6">
                    <label for="catType" class="label-top">Type</label>
                    <div class="row row-element m-0">
                        <ng-select id="catType" placeholder="Sélectionner" formControlName="catAssetType"
                            style="width: 100%" notFoundText="Pas de résultats">
                            <ng-template ng-header-tmp *ngIf="mtrQualifForm.value.catActivitySector && mtrQualifForm.value.catNature &&  mtrQualifForm.value.catBrand">

                                <div class="create-new row" (click)="addCatRequest('type')">
                                    <div class="button-add-small btn-position-abs">
                                        <span class="image-plus-small">+</span>
                                    </div>
                                    <div class="text-add">
                                        Ajouter un type
        
                                    </div>
                                </div>
                            </ng-template>
                           
                            <ng-option *ngFor="let option of typeOptions" [value]="option">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="row btns">
    <div class="col-12" *ngIf="isFormDisabled">
        <button type="submit" class="btn btn-valider float-right" (click)="enableQualif()">
            <span class="btn-valider-text">Modifier</span>
        </button>
    </div>

    <div class="col-12" *ngIf="!isFormDisabled">
        <button type="submit" class="btn btn-valider float-right" (click)="validerQualif()">
            <span class="btn-valider-text">Valider</span>
        </button>
        <button type="reset" class="btn btn-reset float-right" (click)="resetQualif()">
            <span class="reset-btn-text">Annuler</span>
        </button>
    </div>
</div>
  