<form [formGroup]="parentForm" (ngSubmit)="submit()">
    <app-address-form formControlName="adresse" [isSubmitted]="isSubmitted"></app-address-form>
    <br>
    <app-form-test formControlName="test" [isSubmitted]="isSubmitted"></app-form-test>
    <br>
    <button type="button" (click)="submit()">Valid</button>
</form>

<div class="form-val">

    {{parentForm.valid}}
</div>