<form [formGroup]="submitReceptionForm">

    <div >
        <app-reception-decote (isDiscountValid) ="verifyIfDiscountValid($event)"  [blockValidation]="blockValidation"
        [activitySectorId]="valuation?.catActivitySector?.id"
            [brandId]="valuation?.catBrand?.id" [natureId]="valuation?.catNature?.id"
            [assetTypeId]="valuation?.catAssetType?.id" [valuationId]="valuationId" [paramEnergyId]="valuation?.valuationRequest?.paramEnergy?.id"
            (discountEvent)="setDiscount($event)" (resetplansEvent)="resetplans($event)" [isNew]='valuation?.valuationRequest.isANewAsset' [disabled]="disabledForm">
        </app-reception-decote>
    </div>
    <div *ngIf="showFinancePlans">


        <app-valuation-reception-plans formControlName="valuationReceptionPlans" (onResetSubmit)="resetSubmit($event)" [submited]="isSubmited"
           [financialPlan]="financialPlan" [removedfinancialPlans]="removedfinancialPlans"
           [valuation]="valuation" [blockValidation]="blockValidation">
        </app-valuation-reception-plans>
    </div>
    <div class="row validate-container" *ngIf="showFinancePlans">
        <div class="col">
            <button type="submit" class="btn btn-valider float-right" (click)="submit()"
            [disabled]="( blockValidation || disabledForm) ? true : false">
                <span class="btn-valider-text">Soumettre</span>
            </button>
            <label class="label-required outstandingStyle float-right" *ngIf="planEstimatedOutsError">
                Merci de bien vouloir renseigner l'encours pour chaque année</label>
        </div>
    </div>


</form>
