.outstandingStyle{
  margin-top: 32px;
  margin-right: 15px;
}

.validate-container{
  width: inherit;
  margin:0;
  padding-right: 15px;
}

.btn-valider{
  margin-top: 27px;
}
.btn-valider:hover:enabled{
  background-color: #FFE066;
}