.descContainer{
    display: flex; /* or inline-flex */
    width: 1366px
}
.descCol{
    height: 571px;
    min-width: 372px;
    background-color: white;
    margin: 25px;
    padding: 30px;
    max-height: 571px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
line-height: 23px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    color: #ccc;
    font-size: 11px;
}
.descColTitle{
    color :#071A39;
    font-size: 18px;
    font-family: 'IBMPlexSansCond-Bold';
    min-height: 23px;
    font-weight: bold;
}

.descColBody{
    top: 198px;
    left: 127px;
    width: 318px;
    height: 434px;
    opacity: 1;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* Network styling */
.networkBody{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #F5F4F2 0% 0% no-repeat padding-box;
}
.networkItem{
    min-height: 27px;
    padding-left: 15px;
    }
.networkItem:hover{
min-height: 27px;
padding-left: 15px;
background-color: #FFE066;
}

.networkLabel{
    font-family: 'IBMPlexSans';
    font-size: 11px;
    color: #071A39;
}
.networkSelectedItem{
    background-color: #FFE066;
    min-height: 27px;
    padding-left: 15px;
}

/* Desc styling */
.descBody{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #F5F4F2 0% 0% no-repeat padding-box;
}
.descItem{
    min-height: 27px;
    padding-left: 15px;
    }
.descItem:hover{
min-height: 27px;
padding-left: 15px;
background-color: #FFE066;
}

.descLabel{
    font-family: 'IBMPlexSans';
    font-size: 11px;
    color: #071A39;
}
.descSelectedItem{
    background-color: #FFE066;
    min-height: 27px;
    padding-left: 15px;
}
.descCollabTitle{
    font-size: 18px;
    color :#071A39;
    font-family: 'IBMPlexSansCond-Bold';
    min-height: 23px;
    font-weight: bold;
}
/* details styling */
.detailsBody{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: white;
}


/* buttons  & inputs */
.btnDisabled{
    background-color: #9090904D;
    width: 97px;
    height: 40px;
    border-radius: 20px;
}
.btnSave{
    width: 122px;
    height: 40px;
    border-radius: 20px;
}

.input{
        width: 100%;
}

.custom-radio input[type="radio"] + strong {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid #FFCD00;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 100;
    color: #565656;
    cursor: pointer;
    line-height: 0.9;
    outline: 0;
    text-align: center;
    vertical-align: bottom;
    height: 15px;
    width: 15px;
    opacity: 1;
    margin-bottom: 3px;
}
.custom-radio input[type="radio"]:checked + strong:after {
    content: "✓";
    color: #565656;
    border-color: #FFCD00;
    font-weight: 100;
    background-color: #FFCD00;
    font-size-adjust: 11px;
    position: relative;
    display: inline-block;
    border: 2px solid #FFCD00;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: -2px;
    height: 15px;
    width: 15px;
}
.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.custom-radio {
    position: relative;
    cursor: pointer;
}
.label-radio{
    padding-left: 5px;
    padding-top: 5px;
}
.radio-row{
    margin-left: 0px;
    margin-right: 0px;
}

/* debut select*/
.ng-select{
    width: 100%;
    height: 25px;
    margin-bottom: 3px;
}


:host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 500;

}

:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 100%;
    height: 25px;
}
.text-ng-option{
    margin-top: -6px;
    margin-left: 11px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
    padding-left: unset;
  }


  :host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
   }
   :host>>>.ng-select .ng-clear-wrapper{
    display: none;
   }

   :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
    color: #999 !important;

   }

   :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSans';
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }
.arrow-down-small{

    width: 8.5px;
    height: 4.96px;
    opacity: 1;
    content:url('/../../assets/images/arrow-down.svg');
    position:absolute;
    margin-left: 94px;
    margin-top: 16px;
    z-index:1001;

    }

:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;
padding-left: 0px;
}

:host>>>.ng-select.ng-select-disabled>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box !important;
border: 0.5px solid #909090 !important;
border-radius: 3px !important;
opacity: 1 !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #A8B9D5  !important;
margin-left: 9px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #00513B  !important;
margin-left: 9px;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
    border: 1px solid red !important;
}

:host>>> .autocomplete-container .input-container input {
    width: 100%;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 12px;
    color: #00513B;
}
:host>>> .autocomplete-container .input-container input:disabled {
    border: 0.5px solid #909090;
    color: #565656;
}
:host>>> .ng-autocomplete.ng-invalid.ng-touched .autocomplete-container .input-container input {
    border: red 1px solid !important;
    color: red;
}
:host>>> .autocomplete-container {
    height :32px;
    box-shadow: none;
}
:host>>> .item:hover{
    background-color: rgba(255,207,0,1);
}
:host>>>.autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255,207,0,1);
}
:host>>> .autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
    background-color: rgba(255,207,0,1);
}
.label-top {
    overflow: visible;
    height: 23px;
    line-height: 35px;
    margin-top: -4px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D;
    margin-bottom: 0px;
}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}

:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
white-space: nowrap;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #54514D  !important;
margin-left: 0px;
}

:host>>> ng-select.submited.ng-invalid .ng-select-container{
    border: 1px solid red !important;
  }
