<div class="descContainer justify-content-around" [hidden]="!mdmNetworksLoaded">

    <!-- Reseaux -->
    <div class="descCol">
        <div class="descColTitle">
            LISTE DES DESC
        </div>
        <div class="descColBody networkBody" >

            <div class="networkItem" 
            *ngFor="let desc of descs" [class.networkSelectedItem]="desc.id === selectedDesc?.id" (click)="onSelectDesc(desc)">
                <label class="networkLabel">{{desc.descName}}</label>
            </div>





        </div>
        <div class="col">
            <button *ngIf="isAdmin()" class="btn btn-valider float-right" (click)="addDesc()">
                <span class="btn-valider-text">Ajouter</span>
            </button>

        </div>

    </div>
    <!-- descCollabs -->

    <div class="descCol">
        <div class="descCollabTitle">
            LISTE DES COLLABORATEUR DU DESC
        </div>

        <div class="descColBody descBody">

            <div class="descItem" *ngFor="let descCollab of descCollabList" [class.descSelectedItem]="descCollab === selectedDescCollab" (click)="onSelectDescCollab(descCollab)">
                <label class="descLabel">{{descCollab.collaboratorFullName}}</label>
            </div>

        </div>
        <div class="col">
            <button class="btn btn-valider float-right" [disabled]="!isDescSelected" (click)="addDescCollab()">
                <span class="btn-valider-text">Ajouter</span>
            </button>
            <button type="submit" class="btn btnDisabled float-right" disabled>
                <span class="btn-valider-text">Déplacer</span>
            </button>

        </div>
    </div>
    <!-- Details -->

    <div class="descCol">
        <div class="descColTitle">
            DETAILS
        </div>
        <div class="descColBody">

            <!-- descCollabForm -->

            <div [formGroup]="descCollabForm" *ngIf="isDescCollabChecked">
                <div class="form-group col-md-12">
                    <label for="id" class="label-top">Matricule DESC collaborateur</label>


                    <ng-autocomplete #ngAutoCompleteStatic
                    [data]="descCollabsOptions"
                    formControlName="collaborator"
                       (inputChanged)="registrationNumberChange($event)"
                        [minQueryLength]="3" [debounceTime]="50"
                       [placeholder]="'ex. M39871'" [searchKeyword]="matKeyword"
                       historyListMaxNumber="3" notFoundText="Not found" [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                   </ng-autocomplete>
                   <label *ngIf="descCollabForm.controls['collaborator'].errors?.required && descCollabForm.controls['collaborator'].touched"
                   class="label-required">Merci de compléter ce champ</label>
                    <label *ngIf="!descCollabForm.controls['collaborator'].errors?.required && !descCollabForm.controls['collaborator'].value?.fullName
                     && descCollabForm.controls['collaborator'].touched" class="label-required"> Matricule non reconnu</label>

                   <ng-template #itemTemplateStatic let-item>
                       <a [innerHTML]="item.mat"></a>
                   </ng-template>

                   <ng-template #notFoundTemplate let-notFound>
                       <div [innerHTML]="notFound"></div>
                   </ng-template>

                </div>
                <div class="form-group col-md-12">
                    <label for="collaborator" class="label-top">Nom de l'utilisateur </label>
                    <input id="collaborator" type="text" class="form-control input"
                    [value]="descCollabForm.controls['collaborator'].value?.fullName? descCollabForm.controls['collaborator'].value?.fullName : ''" disabled>

                </div>

                <div class="form-group col-md-12 ">
                    <label for="SVSDesc" class="label-top">DESC associé</label>

                    <div class="row row-element m-0">

                        <ng-select id="SVSDesc" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="desc">
                            <ng-option *ngFor="let option of descs" [value]="option.id">
                                <div class="text-ng-option">{{option.descName}} </div>
                            </ng-option>
                        </ng-select>

                    </div>
                    <label *ngIf="descCollabForm.errors?.required && descCollabForm.controls['SVSDesc'].touched" class="label-required">Merci
                        de compléter ce champ</label>
                </div>

                <div class="form-group col-md-12">
                    <label for="maxAmount" class="label-top">Montant maximal autorisé € </label>
                    <input id="maxAmount" type="text" class="form-control input" min="0" (blur)="onBlurMaxAmount()" formControlName="maxAmount" mask="separator" thousandSeparator=" " placeholder="ex. 1 000 €">
                    <label *ngIf="!descCollabForm.controls['maxAmount'].valid && descCollabForm.controls['maxAmount'].errors?.required && descCollabForm.controls['maxAmount'].touched"
                        class="label-required">Merci de compléter ce champ</label>
                    <label *ngIf="!descCollabForm.controls['maxAmount'].valid &&  descCollabForm.controls['maxAmount'].errors?.max && descCollabForm.controls['maxAmount'].touched"
                        class="label-required">Le pouvoir maximum autorisé est de deux millions.</label>
                </div>
                <div class="form-group col-md-12 ">
                    <div class="row radio-row">
                        <div class="col-md4">
                            <label class="label-left">Manager DESC</label>
                        </div>
                        <div class="col-md-4">
                            <label class="custom-radio float-right ">
                                <input type="radio" formControlName="isManager" name="isManager" [value]=true>
                                <strong></strong>
                                <label class="label-left label-radio">Oui</label>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="custom-radio float-right ">
                                <input type="radio" formControlName="isManager" name="isManager" [value]=false>
                                <strong></strong>
                                <label class="label-left label-radio">Non</label>
                            </label>
                        </div>
                    </div>
                    <label *ngIf="!descCollabForm.controls['isManager'].valid && descCollabForm.controls['isManager'].errors?.required && descCollabForm.controls['isManager'].touched"
                        class="label-required">Merci de compléter ce champ</label>
                </div>


            </div>
            <!-- end of descCollabForm -->
            <!--show Info Reseau-->
            <div [formGroup]="descForm" *ngIf="isDescChecked">
                <div class="form-group col-md-12 ">
                    <label class="label-top" for="networkName">DESC</label>
                    <div class="row row-element m-0" *ngIf="isAddDesc">
                        <ng-select id="networkName" placeholder="Sélectionner" formControlName="desc"
                        class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-select-bottom" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of mdmNetworks" [value]="option">
                                <div class="text-ng-option">{{option.descName}} </div>
                            </ng-option>
                        </ng-select>

                        <label *ngIf="!descForm.controls['desc'].valid && descForm.controls['desc'].errors?.required && descForm.controls['desc'].touched"
                        class="label-required">Merci de compléter ce champ</label>
                    </div>
                    <div class="row row-element m-0" *ngIf="!isAddDesc">

                        <input  type="text" class="form-control input" formControlName="descName">
                    </div>
                </div>

                <div class="form-group col-md-12 ">

                    <label for="descManager" class="label-top ">Directeur(trice)</label>
                    <ng-autocomplete #ngAutoCompleteStatic
                     [data]="managerNamesOptions"
                     formControlName="descManager"
                        (inputChanged)="managerNameAutocomplete($event)"
                        [isLoading]="isLoading"
                         [minQueryLength]="0" [debounceTime]="50"
                        [placeholder]="placeholder" [searchKeyword]="keyword" historyListMaxNumber="3"
                        notFoundText="Not found" [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>

                    <ng-template #itemTemplateStatic let-item>
                        <a [innerHTML]="item.fullName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                    <label *ngIf="!descForm.controls['descManager'].valid && descForm.controls['descManager'].errors?.required && descForm.controls['descManager'].touched"
                        class="label-required">Merci de compléter ce champ</label>
                        <label *ngIf="!descForm.controls['descManager'].valid && descForm.controls['descManager'].errors?.autocompleteCustomValidator && descForm.controls['descManager'].touched"
                        class="label-required">Merci de compléter ce champ</label>
                </div>
            </div>

            <!-- End show Info Reseau-->
        </div>

        <div class="col" *ngIf="descCollabBtns == 'saveOrCancelDescCollabBtns'">
            <button class="btn btnSave btn-valider float-right" (click)='save()'>
                <span class="btn-valider-text">Enregistrer</span>
            </button>
            <button class="btn btn-rejeter float-right" (click)=' undo()'>
                <span class="btn-valider-text">Annuler</span>
            </button>
        </div>
        <div class="row float-right" *ngIf="descCollabBtns == 'editOrDeleteDescCollabBtns' && autorizeCollabModification() ">
            <button class="btn btn-rejeter float-right" (click)='delete()'>
                <span class="btn-valider-text">{{isDescChecked? 'Supprimer la DESC' : 'Supprimer la DESC' }}</span>
            </button>
            <button class="btn btnSave btn-valider float-right" (click)="updateDesc()">
                <span class="btn-valider-text">Modifier</span>
            </button>
        </div>
    </div>
</div>
