<div class="modal-body">
  <div class="popupTitle d-flex justify-content-center">
    <h3 class="h3">Demande de validation</h3>
  </div>
  <!--start of upload-->

  <div class="container pt-3">
    <div [formGroup]="form">
            <label class="label-left-bold " style="cursor: inherit">Sélectionnner le validateur</label>
            <ng-select 
            formControlName="validator" 
            required 
            id="validatorName" 
            placeholder="Sélectionner" 
            style="width: 100%;" 
            notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of vldList" [value]="option">
                    <div class="text-ng-option">{{option.collaboratorFullName}} </div>
                </ng-option>
            </ng-select>

    </div>

    <div class="btns-container pt-5">
      <button
        type="submit"
        class="btn btn-valider float-right"
        (click)="send()"
      >
        <span class="btn-valider-text">Envoyer</span>
      </button>
      <button
        class="btn btn-reset float-right mr-3"
        (click)="activeModal.dismiss('cancel click')"
      >
        <span class="reset-btn-text">Annuler</span>
      </button>
    </div>
  </div>
</div>
