.modal-body{
    width: 500px;
    padding-top: 42px;
    padding-left: 41px;
    padding-right: 39px;
    padding-bottom: 35px;
}

.container{
    height: 120px;
}

.popupTitle{
    text-align: center;
}

.ng-select{
    width: 100%;
    height: 25px;
    margin-bottom: 3px;
}

:host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 500;

}
:host>>> .ng-dropdown-panel .scroll-host{
    max-height: 75px;
}

:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 100%;
    height: 25px;
}
.text-ng-option{
    margin-top: -6px;
    margin-left: 11px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
    padding-left: unset;
  }


  :host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
   }
   :host>>>.ng-select .ng-clear-wrapper{
    display: none;
   }

   :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
    color: #999 !important;

   }

   :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSans';
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }
.arrow-down-small{

    width: 8.5px;
    height: 4.96px;
    opacity: 1;
    content:url('/../../assets/images/arrow-down.svg');
    position:absolute;
    margin-left: 94px;
    margin-top: 16px;
    z-index:1001;

    }

:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;
padding-left: 0px;
}

:host>>>.ng-select.ng-select-disabled>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box !important;
border: 0.5px solid #909090 !important;
border-radius: 3px !important;
opacity: 1 !important;
}
:host>>>.ng-placeholder{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #004734  !important;
    margin-left: 9px;
    }
    

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
    border: 1px solid red !important;
}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px  !important;
    height: 32px !important;
}

:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D  !important;
    margin-left: 0px;
}
    
.btn-valider{
        width: 118px;
}