

input[type=text] {
    width: 190px;
    height: 32px;
}

.padding-left{
    padding-left: 27px;
}

/* debut select*/
.ng-select{
    width: 280px;
    height: 32px;
}
.input .ng-valid:enabled{
    width: 280px;
    height: 32px;
    color: #00513B;
}
.form-control .input .ng-untouched .ng-pristine .ng-invalid{
    color: #00513B;
}
  .input.ng-invalid.ng-touched::placeholder {
    color: red;
}
    
:host>>> .ng-dropdown-panel.ng-select-bottom{
    z-index: 1;
}

:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 190px;
    height: 25px;
}
.text-ng-option{
    margin-top: -6px;
    margin-left: 11px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
    padding-left: 3px;
  }
  :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }

  :host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
   }
   :host>>>.ng-select .ng-clear-wrapper{
    display: unset;
   }

   :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
    color: #999 !important;

   }



:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;
}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    min-height: 32px  !important;
    height: 32px !important;
    background: #e9ecef 0% 0% no-repeat padding-box;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D  !important;
    margin-left: 9px;
    background: #e9ecef 0% 0% no-repeat padding-box;

}
.comp-container{
    background-color: #ffffff;
    /* border: 1px solid grey; */
    width: 1044px;
    /*height: 235px;*/
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
  }

.nav-tabs{
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 7px #d0d0d080;
    opacity: 1;
    margin-left: 18px;
    grid-template-columns: repeat(calc(var(--c)), 1fr);
    width: calc(var(--c)*174.65px);
    display: flex;
    flex-wrap: wrap;
    max-width: 1044px;
    /* margin-right: 15px; */
}
.nav-item{
    height: 32px;
    cursor: pointer;
    width: 174px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #00513B  !important;
margin-left: 9px;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
    border: 1px solid red !important;
}

/*fin select */

/* debut distanceOrDurationValue */
.distance-duration-value{
    width: 68px !important;
    height: 32px !important;
    padding: 0rem 3px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
}

.distance-duration{
    width: 109px;
}

.padding-left-plan{
    padding-left: 21px;
  }

  .btn-valider-center{

    background-color: #FFCD00;
    width: 97px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 43px;
    left: 145px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-valider-center:hover{
    background-color: #FFE066;
  }
.btn-reset-center{

    background-color: #FFCD00;
    width: 131px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    position: absolute;
    top: 43px;
    left: 145px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn-reset-center:hover:enabled{
    background-color: #FFE066;
  }

.btn-position-abs{
    position: absolute;
    top: 3px;
    left:   calc(var(--c)*174.65px + 40px);
}
.btn-position-rel{
    position: relative;

}
.label-required-apport{
    overflow: visible;
      height: 23px;
      line-height: 12px;
      margin-top: 5px;
      font-family: 'IBMPlexSansCond', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: red;
      margin-bottom: -7px;
      width:287px;
  }

  .input:disabled::placeholder{
    color: #565656;
  }
  .ng-untouched .input:enabled::placeholder{
     color: #00513B;

  }
  .form-control:disabled::placeholder{
    color: #565656;
  }
  .navTabsDuplicated{
    height: 70px;
  }

  .loan-info{
    height: 23px;
    line-height: 18px;
    margin-top: 4px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0px;
    width: 260px;
  }
  .span-info{
    font-size: 7px;
    margin-top: -2px;
  }