<div class="col-12 mt-4 mb-4">
  <div [formGroup]="form">
    <div [class.hide]="plansList.length == 0" class="btn-position-rel" style="--c: {{plansList.length}};">
      <ul [ngClass]="{'navTabsDuplicated':plansList.length > 6 }" class="nav nav-tabs" #planTabs style="--c: {{plansList.length}};">
        <li class="nav-item btn-position-rel" [ngClass]="{'tab-active':i == selectedPlan }" *ngFor="let tab of plansList;let i = index"
          (click)="changeTab(i)">
          <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">
            {{tab.name}}
            <button type="button" *ngIf=" (!readOnly && !isFormDisabled && ( plansList?.length > 1))" class="close plan-close-button"
              (click)="deleteFundingPlan(i)">
              <span>&times;</span>
            </button>
          </div>
          <hr *ngIf="i==selectedPlan" class="hr-active">

        </li>

      </ul>
      <div class="button-add btn-position-abs" (click)="addNewFundingPlan()" title="Ajouter un plan" *ngIf=" isPlansValid[plansList.length - 1] && showAddBtn && form.valid && !isFormDisabled && (plansList.length < 6)">
        <span class="image-plus">+</span>
      </div>
    </div>

    <div class="container comp-container" formArrayName="financialPlans" *ngFor="let item of plansControls; let i = index;" [ngStyle]="{'display': i === selectedPlan ? 'block' : 'none'}">
      <div [formGroupName]="i" class="m-0 pt-1">
        <div class="row ml-0">
          <div class="form-group col-md-4">
            <label for="{{'paramProductFamilyId-' + i}}" class="label-top required">Produit</label>
            <div class="row row-element m-0">
              <ng-select id="{{'paramProductFamilyId-' + i}}" placeholder="Sélectionner" formControlName="paramProductFamilyId" notFoundText="Pas de résultats" (change)="onChangeSelect($event);  loadProfilListByProductId(item.get('paramProductFamilyId'));
                  changeApportLabel(item.get('paramProductFamilyId'),i)">
                <ng-option *ngFor="let option of productOptions" [value]="option.id">
                  <div class="text-ng-option">{{option.label}} </div>
                </ng-option>

              </ng-select>
              <div *ngIf="!item.controls['paramProductFamilyId'].valid && item.controls['paramProductFamilyId'].errors?.required && item.controls['paramProductFamilyId'].touched">
                <label class="label-required">Merci de compléter ce champ</label>
              </div>

              <div class="d-flex loan-info" *ngIf="displayLoanMsgInfo">
                <span class="mr-1 span-info">(1)</span>
                <span>10% de décote supplémentaires seront appliqués pour ce produit</span>
              </div>

            </div>


          </div>


          <div class="form-group col-md-4">

            <label for="{{'duration-' + i }}" class="label-top required">Durée (en mois)</label>
            <input id="{{'duration-' + i }}" type="number" class="form-control input" formControlName="planDuration" placeholder="Minimum 24 mois"
            (blur)="onBlurDuration(item.get('planDuration'), i)">
            <div>
              <label *ngIf="!item.controls['planDuration'].valid && item.controls['planDuration'].errors?.required && item.controls['planDuration'].touched"
                class="label-required">Merci de compléter ce champ</label>
              <label *ngIf="!item.controls['planDuration'].valid && (item.controls['planDuration'].errors?.min || item.controls['planDuration'].errors?.max )&& item.controls['planDuration'].touched"
                class="label-required">La durée de financement doit être comprise entre 24 et 180 mois inclus</label>
            </div>
          </div>

          <div class="form-group col-md-4">

            <label for="{{'planContrbAmount-' + i}}" class="label-top">{{apportLabelList[i]}}</label>
            <input id="{{'planContrbAmount-' + i}}" type="text" mask="separator" thousandSeparator=" " class="form-control input" formControlName="planContrbAmount"
              [placeholder]="item.controls['planContrbAmount'].enabled? 'ex. 1 000 €':''" (blur)="onBlurContrbAmount(i)">
    
            <div *ngIf="!item.controls['planContrbAmount'].valid && item.controls['planContrbAmount'].errors?.apportValidator ">
              <label class="label-required-apport">
                {{apportLabelList[i]}} ne peut être supérieur ou égal au Prix d'achat unitaire HT (en €)
              </label>

            </div>
          </div>
        </div>
        <div class="row ml-0">
          <div class="form-group col-md-4">
            <label for="{{'profil-' + i}}" class="label-top required">Profil </label>
            <div class="row row-element m-0">
              <ng-select id="{{'profil-' + i}}" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="amortizationProfileId" (change) ="updateResidialValue(item.get('paramProductFamilyId'),item.get('amortizationProfileId'),i)">
                <ng-option *ngFor="let  option of  plans ? allProfilOptions :pramAmortizationProfileOptionsByProductId" [value]="option.id">
                  <div class="text-ng-option">{{option.label}} </div>
                </ng-option>
              </ng-select>
              <div *ngIf="!item.controls['amortizationProfileId'].valid && item.controls['amortizationProfileId'].errors?.required && item.controls['amortizationProfileId'].touched">
                <label class="label-required">Merci de compléter ce champ</label>
              </div>

            </div>

          </div>

          <div class="form-group col-md-4">
            <label for="{{'remainingPercent-' + i }}" class="label-top">Valeur résiduelle (en %)</label> 
            <input id="{{'remainingPercent-' + i }}" type="text" mask="separator" class="form-control input" formControlName="remainingPercent" placeholder="ex. 10 %" 
              [attr.disabled]="(!isRemainingPercentValid[i]   ||  item.get('amortizationProfileId').value=='3' )  ? 'disabled' : null" (blur)="onBlurResidualValue(item.get('remainingPercent'), i)">
            <div *ngIf="!item.controls['remainingPercent'].valid && item.controls['remainingPercent'].errors?.required && item.controls['remainingPercent'].touched">
              <label class="label-required">Merci de compléter ce champ</label>
            </div>
          </div>
          <div class=" col-md-4">

            <button type="button" *ngIf="!isPlansValid[i]" (click)="onValidatePlan(i)" class="btn btn-valider-center" [disabled]="(blockValidation || isFormDisabled) ? true : false">
              <span class="btn-valider-text" >Valider</span>
            </button>

            <button *ngIf="isPlansValid[i]" (click)="resetPlan(i)" class="btn btn-reset-center" [disabled]="(blockValidation|| isFormDisabled)  ? true : false">
              <span class="btn-valider-text" >Réinitialiser</span>
            </button>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group">
            <app-financing-plan-profile [submited]="isSubmited" [amount]="valuation.valuationRequest.financingAmount - plansFormArray.getRawValue()[i].planContrbAmount"
              [monthNumber]="plansFormArray.getRawValue()[i].planDuration" [amortizationProfileId]="plansFormArray.getRawValue()[i].amortizationProfileId"
              *ngIf="isPlansValid[i]" [formControl]="item.controls['planEstimatedOut']" [planEstimatedOut]="financialPlans[i]?.planEstimatedOut"></app-financing-plan-profile>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
