.modal-body{
    width: 500px;
    padding-top: 42px;
    padding-left: 41px;
    padding-right: 39px;
    padding-bottom: 35px;
}

/* documents table */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #212529;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.doc-tab-text {
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.doc-tab-text-valid {
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #00513B;
    opacity: 1;
    width: 190px;
    margin-right: 13px;
}
.doc-tab-text-invalid {
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
}
.popupTitle{
    text-align: -webkit-center;
    margin-bottom: 22px;
}
.btn-upload{
    background-color: #00000029;
    width: 90px;
    height: 32px;
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    color: #9CA2AB;
    margin-top: 3px;
}
.btn-upload:hover{
    background-color: #FFCD00;
    width: 90px;
    height: 32px;
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    color: #30382F;
    margin-top: 3px;
}
.upload-input{
    width: 310px;
    margin-right: 10px;
}
.btn-reject{

    font-family: 'IBMPlexSans-Medium';
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: unset;
  }
  .btn-reject:hover{

    background-color: #FFCD00;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;

  }
  .btn-confirm{
    font-family: 'IBMPlexSans-Medium';
    background-color: #FFCD00;
    min-width: 150px;
    min-height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .btn-confirm :hover{

    background-color: #FFE066;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    opacity: 0.9;
    cursor: pointer;

  }

  .btn-label-confirm{
    font-family: 'IBMPlexSans';
    top: 424px;
  left: 776px;
  width: 73px;
  height: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
  }
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
     border-top: 0px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.spacing-table{
    margin-right: 15px;
    margin-left: 15px;
}
:host >>>.ng-value{
    white-space: nowrap;
    line-height: 28px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,81,59,1);
    margin-top: 2px;
    min-height: 15px;
    }

    :host>>> .ng-select .ng-clear-wrapper{
        display: none;
    }
    :host>>> .ng-dropdown-panel.ng-select-bottom{
        margin-top: 7px;
        z-index: 10009;

    }

    :host>>> span.ng-option-label{
        white-space: nowrap;
        line-height: 23px;
        margin-top: -4.5px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-weight: normal  !important;
        font-size: 11px;
        color: rgba(7,26,57,1);
        min-height: 15px;
    }
    :host>>>.table tbody + tbody {
        border-top: 0px solid #dee2e6;
    }
    .add-docs-text {
        width: max-content;
        height: 15px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-size: 12px;
        letter-spacing: 0px;
        color: #071A39;
        opacity: 1;
    }
    .documents-list-header{
        width: 100%
    }
    .documents-list-body{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
    }
    .separator{
        width: 100%;
        border-bottom: solid black;
        margin-right: 20px;
        }
    .dlt-container{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 8px;
    }

:host>>>.ng-select-container, :host>>>.ng-select.ng-select-opened>.ng-select-container,
:host>>>.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    height: 32px !important;
    min-height: unset;
 }
