<div class="modal-body">
    <div class="popupTitle">
        <h3 class="h3">AJOUTER UNE PIÈCE JOINTE</h3>
    </div>
    <!--start of upload-->

    <div class="documents-list-header">
        
        <label class="label-left-bold " style="cursor: inherit">Sélectionnner un ou plusiers documents</label>
    </div>

    <div class="documents-list-header">
        <input #document type="file" style="display : none" (change)="uploadDocument($event)" (click)="$event.target.value=null"
            multiple>
        <div class="row" (click)="document.click()">
                <div class="col-9">
            <input type="text" class="upload-input form-control" placeholder="">
            </div>
            <div class="col-3 p-0">
            <button type="button" class="btn btn-upload">
                Parcourir...
            </button>
            </div>
        </div>
    </div>
<div class="documents-list-header mt-3" *ngIf="documentsList?.length > 0">
    <div class="row">
        <div class="col-6"><label class="label-left-bold">Documents téléchargés</label></div>
        <div class="col-6 pl-0"><label class="label-left-bold">Type</label></div>
    </div>

</div>
<div class="separator" *ngIf="documentsList?.length > 0"></div>
<div class="documents-list-body" *ngFor="let doc of documentsList;let i=index">
    <div class="doc-tab-text-valid">
        <input type="text" class="input-valid mt-2 form-control" id="popupDocName" [(ngModel)]="doc.docIndex.docName" placeholder="Doc name">
    </div>
        <ng-select class="mr-7 mt-2" [(ngModel)]="doc.docIndex.docSubType" (change)="updateIndex(i)" [clearable]="false" [searchable]="false">
            <ng-option *ngFor="let documentType of docSubTypesListParams" [value]="documentType.value">
                <div class="text-ng-option" [ngClass]="'doc-tab-text'">
                    {{documentType.label}}
                </div>
            </ng-option>
        </ng-select>
    <div class="mt-2 pt-2 pl-2 dlt-container">
        <img *ngIf="doc.docIndex.id == null" class="btn-delete mt-1" (click)="delete(i)" alt="" />
    </div>

</div>
    
    <div class="modal-footer p-0 mt-4">
        <button type="button" class="btn btn-reject" (click)="activeModal.dismiss('cancel click');exitModal();">
            Annuler
        </button>
        <button type="button" class="btn btn-confirm" (click)="activeModal.close('Ok click'); confirmModal()">
            Envoyer<br>
        </button>
    </div>
</div>