.container{
  background-color: #F5F4F2;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 14px;
  padding-bottom: 27px;
  width: 966px;
  float: left;
}

.title{
    width: 284px;
    height: 39px;
    color: #071A39;
    text-align: left;
    font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    opacity: 1;
    font-size: 30px;
  }

:host>>> .p-datatable .p-datatable-thead > tr > th{
    font-family: 'IBMPlexSans-Medium';
    left: 360px;
    height: 29px;
    background: #FFCF00 0% 0% no-repeat padding-box;
    opacity: 1;
    font-size: 11px;
    color: #071A39;
}

:host>>> .p-datatable .p-datatable-tbody > tr > td{

    text-align: left;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    font-size: 11px;
    font-family: 'IBMPlexSans';
    padding-right: 7px;
    padding-top: 0px;
    padding-bottom: 6px;
    max-height: 52px;
    min-height: 52px;
    padding-left: 16px!important;

}

:host>>> .p-datatable .p-datatable-tbody > tr {
  display: -webkit-box!important;
}

:host>>> .p-datatable .p-datatable-scrollable-header-box{
    padding-right: 0px!important;
}

.td-large{
  width:280px;
  padding-top: 15px!important;
  /*to display on two lines then ellipses*/
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;

}

.td-small{
    width: 160px;
    padding-top: 15px!important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: white;
}
.td-medium{
  width: 160px;
  padding-top: 15px!important;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}
.navigate{
  color: #0077fa;
  text-decoration: underline;
  cursor: pointer;

}
/*.td-style{
  width:160px;
  /*to display on two lines then ellipses*/
 /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
}*/
