<div class="container">
    <div class="row">

        <div class="col">

            <span class="title"> {{title}} </span>

        </div>
    </div>
    <div class="row">

        <div class="col pt-28">

            <p-table [value]="addRequests" [scrollable]="true" scrollHeight="700px" scrollDirection="both">
                <ng-template pTemplate="header">
                    <tr>
                        <th id="type" style="width:160px">Type</th>
                        <th id="brand" style="width:160px">Marque</th>
                        <th id="nature" style="width:160px">Nature</th>
                        <th id="sector" style="width:160px">Secteur</th>
                        <th id="id" style="width:170px">ID de la demande (d'ajout) </th>
                        <th id="status" style="width:160px" class="pl-2">Statut</th>
                        <th id="comments" style="width:280px" class="pl-2">Commentaires</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-request>
                    <tr>
                        <td class="td-small" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.label && request.label.length> 45)? false : true"
                            pTooltip="{{request.label}}" tooltipPosition="top">{{request.catBrand ? request.label : ''}}</td>

                        <td class="td-small" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.catBrand && request.catBrand.length> 45)? false : true"
                            pTooltip="{{request.catBrand}}" tooltipPosition="top">{{request.catBrand ? request.catBrand :request.label }}</td>

                        <td class="td-small" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.catNature && request.catNature.length> 45)? false : true"
                            pTooltip="{{request.catNature}}" tooltipPosition="top">{{request.catNature}}</td>

                        <td class="td-small" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.catActivitySector && request.catActivitySector.length> 45)? false : true"
                            pTooltip="{{request.catActivitySector}}" tooltipPosition="top">{{request.catActivitySector}}</td>

                        <td class="td-medium" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.id && request.id.length> 88)? false : true"
                             pTooltip="{{request.id}}" tooltipPosition="top">
                             <a class="navigate"  *ngIf="request.workflowStatusVal != 'STATUS_RQST_WKFL_VAL' ;else other_content_id"(click)="navigate(request)">{{request.id}}</a>
                             
                            
                            <ng-template #other_content_id>{{request.id}}</ng-template>
                            
                        </td>

                        <td class="td-small" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(request.workflowStatus && request.workflowStatus.length> 45)? false : true"
                            pTooltip="{{request.workflowStatus}}" tooltipPosition="top">
                            <a class="navigate"  *ngIf="request.workflowStatusVal == 'STATUS_RQST_WKFL_VAL' ;else other_content_stat"(click)="navigateToCreated(request)">{{request.workflowStatus}}</a>
                                                      
                            <ng-template #other_content_stat>{{request.workflowStatus}}</ng-template>
                        </td>

                        <td class="td-large" tooltipStyleClass="tooltip-search-style" pTooltip="{{request.comment}}" tooltipPosition="top" [tooltipDisabled]="(request.comment && request.comment.length> 100)? false : true">
                            {{request.comment}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
