<div class="container comp-container" [formGroup]="form">

    <div class="row mb-3">
        <div class="col-md">
            <h3 class="h3">Informations société</h3>
        </div>
        <div class="col-md" *ngIf="isAffiliate">
            <label class="custom-checkbox label-left-bold pr-2">
                Filiale
            </label>
            <label class="custom-checkbox">
                <input type="checkbox" formControlName="affiliate">
                <strong> </strong> </label>
        </div>
    </div>
    <div *ngIf="entrepriseInfoService.entrepriseInfo?.isPmFromRet" class="row mb-3">
        <div class="col-md-5">
            <img class="cadena" alt=""/>
            <span><label class="label-left-bold">Activité</label></span>
        </div>
        <div class="col-md-7 pl-0" style="height: 50px;">
            <textarea class="textarea-dis" style="height: 50px;" [ngModel]="entrepriseInfoService.entrepriseInfo?.description" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div *ngIf="entrepriseInfoService.entrepriseInfo?.isPmFromRet" class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">SIREN</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.siren" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">CP</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.cp" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div *ngIf="entrepriseInfoService.entrepriseInfo?.isPmFromRet" class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">Type de CP</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.sirenType" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div *ngIf="entrepriseInfoService.entrepriseInfo?.isPmFromRet" class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">Raison sociale</label>
        </div>
        <div *ngIf="!entrepriseInfoService.entrepriseInfo?.isPmFromRet" class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">Prénom / Nom</label>
        </div>

        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.socialReason" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt="" />
            <label class="label-left-bold">Délégation</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.delegation" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt="" />
            <label class="label-left-bold">Direction régionale</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.regionalDirection" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-5">
            <img class="cadena" alt=""/>
            <label class="label-left-bold">Réseau</label>
        </div>
        <div class="col-md-7 pl-0">
            <textarea class="textarea-dis" [ngModel]="entrepriseInfoService.entrepriseInfo?.network" [ngModelOptions]="{standalone: true}"
                disabled></textarea>
        </div>
    </div>
</div>
