.comp-container{
    background-color: #ffffff;
    width: 510px;
    height: 545px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-right: -4px;
}

.col-md-5, .col-md-7{
    height: 32px;
}
