<div [formGroup]="catOldDiscForm" *ngIf="showForm">
    <div class="menu-cat-nature-row-with-cb ">
        <!--Taux row -->
        <div>
            <label for="taux" class="taux-text">taux</label>
        </div>


        <div class="padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="readjustOld" type="checkbox" class="form-control input-dis" formControlName="isReadjust" (change)="eventCheck($event.target)" readonly="true">
                <strong></strong>
            </label>
            <label class="taux-cb-spacing cat-disc-label label-left-bold pr-5" for="readjustOld">Réajustés
            </label>
        </div>

        <div class="padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="permanentsOldDiscount" type="checkbox" class="form-control input-dis" formControlName="isPerm" (click)="tempOrPerm()">
                <strong></strong>
            </label>
            <label class="label-spacing-right cat-disc-label label-left-bold" for="permanents">
                Permanents</label>
        </div>
        <div class="  padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="temporaryOldDiscount" type="checkbox" class="form-control input-dis" formControlName="temporary" (click)="tempOrPerm()">
                <strong></strong>
            </label>
            <label class="cat-disc-label label-left-bold pr-4" for="temporary">
                Temporaires jusqu’au</label>
        </div>
        <div class="  padding-left align-self-end">
            <div class="  padding-left align-self-end">

                <input id="tauxDueDateOldDiscount" type="text" class="form-control taux-date-input input" formControlName="endDate" placeholder="JJ/MM/AAAA">
            </div>
        </div>
    </div>
    <div class="date-error-container spacing-row">
        <label id="tauxDueDateError" for="endDate" class="date-error label-required-tauxDate" *ngIf="!catOldDiscForm?.controls['endDate']?.valid && catOldDiscForm?.controls['endDate']?.errors?.pattern && catOldDiscForm?.controls['endDate']?.touched">
            Merci de bien vouloir renseigner une date au format JJ/MM/AAAA
        </label>

    </div>
    <div class="div-parent-inline">
        <div class="div-inline">
            <label class=" cat-ponderation-label" for="ponderation">Pondération (% du montant initial)</label>

            <input id="ponderation" type="text" class="form-control ponderation-input input" formControlName="ponderationRate" placeholder=""
                (change)="ponderationChange()">
            <div class="row" style="margin-left: 20px;">
            </div>
        </div>
        <div class="div-inline">
            <label class="cat-maxduration-label" for="maxDuration">Durée maximale de la durée de financemenet (en mois)
            </label>

            <input id="maxDuration" type="text" class="form-control maxduration-input input" formControlName="maxFinPer">
        </div>
        <label *ngIf="!catOldDiscForm.controls['ponderationRate'].valid && ( catOldDiscForm.controls['ponderationRate'].errors?.max)  && catOldDiscForm.controls['ponderationRate'].touched"
            class="label-required">Merci de bien vouloir renseigner une valeur comprise entre 1 et 100.</label>

    </div>
    <!--Discounts container-->

    <div class="nature-discount-container left-spacing">

        <div class="menu-cat-nature-row-with-cb">
            <div class="cat-new-col">
                <div class="padding-left align-self-end ">
                    <label class="custom-checkbox">
                        <input id="startingYear1OldDiscount" type="checkbox" class="form-control input-dis" (click)="sinceYear()" formControlName="startingYear1"
                            [checked]="!duplicateDiscounts">
                        <strong></strong>
                    </label>

                    <label class="cat-disc-label label-left-bold " for="startingYear1">
                        À partir de l’année </label>
                </div>


                <div class="padding-left align-self-end ">
                    <input id="startingNumberOldDiscount" type="number" class="form-control input-small" placeholder="XX" formControlName="startingNumber"
                        min="1" [max]="catDiscountRateOldList ? catDiscountRateOldList.length -1 : 8" (blur)="sinceYearCalcul()">
                </div>
                <div class="padding-left align-self-end">
                    <label for="percentage" class="cat-disc-label">appliquer une décote de</label>
                </div>
                <div class="padding-left align-self-end" style="position: relative;">
                    <input id="percentageOldDiscount" type="number" class="label-spacing-right form-control input-small" placeholder="XX" formControlName="percentage"
                        (blur)="onBlurPercentage();sinceYearCalcul()">

                </div>
            </div>
            <div class="cat-new-col">

                <div class="padding-left align-self-end ">
                    <label class="custom-checkbox">
                        <input id="startingYear2OldDiscount" type="checkbox" class="form-control input-dis" formControlName="startingYear2" [checked]="duplicateDiscounts"
                            (click)="duplicateYear()">
                        <strong></strong>
                    </label>

                    <label class="cat-disc-label label-left-bold " for="startingYear2">
                        À partir de l’année </label>
                </div>
                <div class="padding-left align-self-end">
                    <input id="startingNumber2OldDiscount" type="number" class="form-control input-small" placeholder="XX" formControlName="startingNumber2"
                        min="1" [max]="catDiscountRateOldList ? catDiscountRateOldList.length -1 : 8" (blur)="duplicateCalcul()">
                </div>
                <div class="padding-left align-self-end">
                    <label for="startingNumber2" class="cat-disc-label">dupliquer la même décote</label>
                </div>
            </div>
            <div class="row" style="margin-left: 20px;">
                <label *ngIf="!catOldDiscForm.controls['percentage'].valid && ( catOldDiscForm.controls['percentage'].errors?.min || catOldDiscForm.controls['percentage'].errors?.max)  && catOldDiscForm.controls['percentage'].touched"
                    class="label-required">Merci de bien vouloir renseigner une valeur comprise entre 1 et 100.</label>
            </div>
        </div>

        <div class="discounts-row menu-cat-nature-row spacing-row" *ngIf="showDiscounts">
            <div class="discounts-row  d-flex">



                <span formArrayName="catDiscountRateOldList" *ngFor="let catDiscountRate of catDiscountRateOldListControls; let i = index;"
                    [ngStyle]="{'maring-right': isAdmin()?'50px':'0'}" [ngClass]="!isAdmin()?'margin-decote-expert':'margin-decote-admin'">
                    <ng-container [formGroupName]="i">
                        <label class="label-top">{{'Année ' + (i+1)}}</label>
                        <app-input-number formControlName="discountRateValue" [symbol]="percentSymbol" [min]="0" [max]="100" (ngModelChange)="changeValue($event,i)" [invalidControl]="catDiscountRate.controls.discountRateValue.invalid && isSubmitted"></app-input-number>
                    </ng-container>
                </span>
                <span *ngIf="isAdmin()">
                    <em class="extends bi" (click)="extends=!extends" [ngClass]="extends? 'bi-chevron-up' :'bi-chevron-down'"></em>
                </span>
            </div>
        </div>

        <div class="row no-gutters" *ngIf=" nodeType == 'brand' && catDiscountObject.catNature?.comment  != null && catDiscountObject.catNature?.comment != ''">
            <div class="col">
                <label for="commentHerit" class="label-top ">Commentaire herité du nature</label>
            </div>
        </div>
        <div class="row no-gutters spacing-row" *ngIf=" nodeType == 'brand' && catDiscountObject.catNature?.comment  != null && catDiscountObject.catNature?.comment != ''">

            <div class="col">
                <input id="commentHerit" type="text" class="comment-input form-control input" formControlName="commentHerit">
            </div>
        </div>

        <div class="row no-gutters" *ngIf="editingMode || (catDiscountObject.comment  != null && catDiscountObject.comment != '') ">
            <div class="col">
                <label for="comment" class="label-top ">Commentaire</label>
            </div>
        </div>
        <div class="row no-gutters spacing-row" *ngIf="editingMode || (catDiscountObject.comment  != null && catDiscountObject.comment != '') ">

            <div class="col">
                <input id="commentOldDiscount" type="text" class="comment-input form-control input" formControlName="comment">
            </div>
        </div>
        <!--Documents -->

         <!-- pieces jointes herites -->
      
        <!-- pieces jointes herites du nature  -->
    
        <div class="row no-gutters spacing-row" *ngIf="inheritedOldDiscountDocsNature?.length > 0">
                <div class="col-4">
                    <label for="libelle" class="label-top ">Pièces jointes - Nature « {{natureTitle}} »</label>
        
                </div>
                <div class="col-8 inherted-files">
                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedOldDiscountDocsNature ">
                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>
        
                </div>
            </div>
            <div class="row no-gutters spacing-row" *ngIf="inheritedOldDiscountDocsSector?.length > 0 ">
                <div class="col-4">
                    <label for="libelle" class="label-top ">Pièces jointes - Secteur « {{activitySectorTitle}} »  </label>

                </div>
                <div class="col-8 inherted-files">
                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedOldDiscountDocsSector">
                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>
                   
                </div>
            </div>

        <div class="row no-gutters">
            <div class="col">
                <label class="label-top">Ajouter des pièces jointes</label>

                <app-documents formControlName="files" [control]="catOldDiscForm.controls['files']"></app-documents>
            </div>
        </div>

        <div class="row no-gutters" *ngIf=" updatedOldDiscountDocs?.length > 0">
            <div class="col-md">
                <span class="label-top">Documents téléchargés</span>
            </div>
        </div>

        <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" updatedOldDiscountDocs?.length > 0">
            <div class="form-group mr-2" *ngFor="let myDocument of updatedOldDiscountDocs;let i=index">
                <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                </label>
                <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                    [ngModelOptions]="{standalone: true}">
                <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)"/>
                <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="catOldDiscForm.controls.files.enabled && !editedDocumentList[i] && displayPlusBtns(myDocument)"
                />
                <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="catOldDiscForm.controls.files.enabled && !editedDocumentList[i] && displayPlusBtns(myDocument)"
                />


            </div>
        </div>

       

    </div>


</div>
