<form [formGroup]="equipmentForm"  [hidden]="!clientInfoLoaded">

    <div class="container">
        <div class="row mb-2 pl-4">
                <div class="col">
                <app-social-reason-title title="Valorisation d'un équipement"></app-social-reason-title>
                </div>
                <button type="button"  *ngIf="!valuationReception.isSubmitted || getDuplicateButtonName() == 'Annuler la duplication'" class="btn btn-valider btn-dup float-right" (click)="saveDraft()">
                    <span class="btn-valider-text" >Enregistrer brouillon</span>
                </button>
                <button type="button"  *ngIf="!valuationReception.isSubmitted" class="btn btn-valider btn-dup float-right" (click)="duplicateValuation()">
                    <span class="btn-valider-text" >{{getDuplicateButtonName()}}</span>
                </button>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="mb-4">
                    <app-client-info-component formControlName="clientInfo" [valuationRequest]="valuationRequest" (clientInfoLoaded)="changeClientInfoLoaded()"></app-client-info-component>
                </div>
                <div>
                    <app-material-qualification [valuationRequest]="valuationRequest" [submited]="submited" formControlName="materialQualification" [activitySectorOptions]="activitySectorOptions" [natureOptions]="natureOptions" [brandOptions]="brandOptions" [assetTypeOptions]="assetTypeOptions" [valide]="(valide && !isReset)">
                    </app-material-qualification>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <app-valuation-request-reception [submited]="submited" [submitePassed]="valide" [valide]="(valide && !isReset)" formControlName="valuationRequest" (valuationToSend) ="getValuationReception($event)"></app-valuation-request-reception>
            </div>
        </div>
        <div class="row validate-container">

                <div class="no-pad-right col-md-12 " >
                    <div class="no-pad-right col" >

                            <button type="submit"  class="btn btn-valider float-right " [disabled]="(blockValidation || disabled) ? true : false" (click)="submitOrupdate()">
                                    <span class="btn-valider-text">{{buttonvaliderLabel}}</span>
                                </button>
                    </div>


                <div class="col" *ngIf="updated">
                        <button   class="btn float-right"(click)="resetValuation()" [disabled]="disabled">
                            <span class="btn-valider-text">Annuler</span>
                        </button>
                        </div>
             </div>
              </div>
        <div class="row">
            <div class="col-md-12">
                <app-reception-submit [blockValidation]="blockValidation" [valuationRequest]="equipmentForm.value.valuationRequest"
                 [valuation]="valuationReception" *ngIf="valide" [hidden]="isReset" [disabled]="disabled">
                </app-reception-submit>
            </div>
        </div>

        <app-app-scroll-top></app-app-scroll-top>
    </div>
</form>
