.contaner{
    width: 1366px;
    height: 1047px;
}
.bannier{
    height: 71px;
    background: #FFCD00 0% 0% no-repeat padding-box;
}
.search-box{
    height: 125px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.button-box{
    height: 98px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.blanc-box{
    height: 279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
:host>>>.node{
    font-family: 'IBMPlexSansCond';
    font-size: 11px;
}
:host>>> .p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover:hover{
    background-color: #FFE066 !important;
}
:host>>> .p-tree .p-tree-container .p-treenode .p-treenode-content:focus {

    box-shadow: none !important;
}

:host>>> .p-tree .p-tree-container .p-treenode .p-treenode-content .p-treenode-icon {
    color: #54514D;
}

:host>>>.p-tree .p-tree-container .p-treenode .p-treenode-content .p-tree-toggler:focus {

    box-shadow: none !important;
}
:host>>>.p-treenode-label{
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 11px;
    text-transform: uppercase;
    color: #54514D;

}

:host>>>.p-tree {
    border: none !important;
    color: #54514D !important;
    padding: 0 !important;
}



  .menu-path{
    text-align: left;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
  }

  .breadCrumb-row{
    margin-left: 40px;
    margin-top:25px;

  }

  .btn-refresh-text, .btn-save-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans-Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
    margin-left: 11px;
}
.class-btns{
    text-align: right;
  }
  .btn-modify, .btn-save{
      background-color: #FFCD00;
      border-radius: 20px;
      top: 125px;
      left: 1077px;
      width: 143px;
      height: 40px;
     
      margin-right: 11px;
      text-align: left;
      padding-left: 17px;
      box-shadow: unset;
  }
  .btn-modify:hover, .btn-save:hover,.btn-modify:active, .btn-save:active{
    background-color: #FFE066;
    border-radius: 20px;
    top: 125px;
    left: 1077px;
    width: 143px;
    height: 40px;
    opacity: 1;
    margin-right: 11px;
    text-align: left;
    padding-left: 17px;
  }

    .btn-delete, .btn-reset{
      top: 125px;
      left: 1207px;
      width: 143px;
      height: 40px;
      opacity: 1;
      text-align: left;
      box-shadow: unset;
    }

    .btn-delete:hover, .btn-reset:hover{
      background-color: #FFCD00;
      border-radius: 20px;
      cursor: pointer;
      text-align: left;
    }

    .delete-btn-text, .reset-btn-text{
      white-space: nowrap;
      text-align: left;
      font-family: 'IBMPlexSans', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      color: rgba(7,26,57,1);
      width: 52px;
      height: 20px;
      margin-left: 2px;
    }
    .reset-btn-text{
      margin-left: 13px;
    }
    .btns-align{
      text-align: end;
    }

    .search-input{
        width: 254px;
      height: 32px;
    }
   
    :host>>> .p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight{
        background-color: #FFCF00;
    }
    :host>>> .p-tree .p-tree-container .p-treenode button.p-tree-toggler.p-link.p-ripple:hover {
        background-color: #FFE066;
    }