<div class="contaner">

    <div class="row no-gutters">
        <div class="col-3 no-gutters">
            <div class="row no-gutters search-box d-flex justify-content-around align-items-center">
                <input id="libelle" type="text" class="form-control labe-input search-input" placeholder="Bova">

            </div>
            <div class="no-gutters">

                <p-tree [value]="tree" [(selection)]="selectednode" selectionMode="single" scrollHeight="386px" (onNodeSelect)="nodeSelect($event)" (onNodeExpand)="nodeExpand($event)"></p-tree>

            </div>
            <div class="row no-gutters button-box d-flex justify-content-around align-items-center">

                    <span>  <button class="btn btn-save" (click)="add()" [disabled]="isAddDisabled">
                         <img alt="+" src="./../assets/images/add.svg" height="14" width="14">
                        <span class="btn-save-text">Ajouter</span>
                    </button></span>
                    <span>     <button class="btn btn-reset" ><img alt=""src="./../assets/images/refresh.svg" height="14" width="14">
                        <span class="reset-btn-text">Rafraichir</span>
                    </button></span>


            </div>

            <div class="row no-gutters blanc-box"></div>


        </div>
        <div class="col-9 no-gutters">
            <div class="breadCrumb-row d-flex justify-content-start align-items-center">
                <span> <em style="cursor: pointer" class="pi pi-home  mr-2" (click)="onClickHome()"></em> </span><span class="menu-path mr-2" (click)="onClickHome()">Accueil</span>
                <div *ngFor="let bc of breadCrumb;" class="d-flex justify-content-start align-items-center">
                    <span class="mr-2">  > </span>
                    <span  class="menu-path mr-2 " (click)="nodeSelect({node : bc})">  {{ bc.label}}</span>
                </div>


            </div>
            <router-outlet></router-outlet>
        </div>

    </div>
</div>
