.modal-header {
  border-bottom: 0px;
  height: 0px;
  padding-top: 6px;
}
/*
.close {
  border: none ;
} */

.no-border{
  border: none ;
  border-style: none;
  border-width: 0;
}

button[aria-label="Close"]:focus {
  outline: none;
}
.errorModalClass .modal-dialog {
  min-width: 550px;
}
.errorModalClass {
  min-width: 550px;
}
