<div class="banner">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="./../assets/images/logoBpi.svg" height="34" width="222" class="p-mr-2" alt="">

        </ng-template>
        <ng-template pTemplate="end">
            <div class="middle-icons">
                <div class="middle-element" (click)="resetAllSharedValuationValues();router.navigate(['/search']);">
                    <span class="middle-icon acceuil-icon"></span>
                    <label class="menu-icon-text">Accueil SE</label>
                </div>
                <div class="middle-element" *ngIf="showCatalogueBtn" (click)="resetAllSharedValuationValues(); router.navigate(['/catalog']);">
                    <span class="middle-icon catalog-icon"></span>
                    <label class="menu-icon-text">Catalogue</label>
                </div>
                <div class="middle-element" *ngIf="showAccessRightsBtn" (click)="resetAllSharedValuationValues(); router.navigate(['/desc']);">
                    <span class="middle-icon gestion-icon"></span>
                    <label class="menu-icon-text">Gestion des droits</label>
                </div>
                <div [ngClass]="lockBtnCommunication === 'true' ? 'middle-element-disabled' : 'middle-element' "
                 (click)="lockBtnCommunication == 'false' ? triggerCommunication() : null">
                    <span  [ngClass]="lockBtnCommunication === 'true' ? 'communication-disabled-icon middle-icon ' : 'communication-icon middle-icon' "></span>
                    <label [ngClass]="lockBtnCommunication === 'true' ? 'menu-icon-text-disabled' : 'menu-icon-text'">Communication</label>
                </div>
                <div class="middle-element" (click)="redirectToInfo()">
                    <span class="middle-icon information-icon"></span>
                    <span class="menu-icon-text">Info</span>
                </div>
            </div>
            <div class="access-logout-container">

                <div class="logout-container">
                    <a class="logout">
                        <span class="Disconnect-icon icon pi pi-fw pi-power-off"></span>
                        <span class="disconnect-text">Déconnexion</span>
                    </a>

                </div>

            </div>

        </ng-template>
    </p-menubar>
</div>
<div class="app-container" style="width : 1366px">



    <div class="row no-gutters components-container">
        <div class="col-12 no-gutters">
                <div class="progress-spinner" *ngIf="loading$ | async">
                        <p-progressSpinner class="loading-spinner" strokeWidth="4" ></p-progressSpinner>
                    </div>


            <router-outlet></router-outlet>

        </div>
    </div>
</div>
