:host>>>.p-menubar {
    height: 72px;
    /*width: 1366px;*/
    background: #FFCD00 0% 0% no-repeat padding-box;
    border: none!important;
    padding-left: 32px;
}

:host>>>.p-menubar-end {
    display: flex;
}

.logout {
    cursor: pointer;
    color: #071a39;
    padding-top: 7px;
    padding-right: 20px;
}

.icon {
    margin-right: 0.5rem;
}

button.btn {
    margin-right: 20px;
}

button.btn:hover {
    cursor: pointer;
}

button.btn:focus {
    box-shadow: unset;
}

.p-menubar-center-container {
    min-width: 650px;
}

.logout-container {
    display: flex;
    justify-self: end;
    flex-wrap: nowrap;
    min-width: 150px;
}

.btn:hover {
    text-decoration: underline;
}

.access-logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
}

.access-btns-container {
    margin-right: 10px;
}

.app-container {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    position: sticky;
    top: 0px;
    z-index: 99;
    width: 100%;
}

.middle-icons {
    min-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 900px;
}

.middle-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 35px
}
.middle-element-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 35px;
    cursor: default;
}

.middle-element:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 35px;
    cursor: pointer;
}

.menu-icon-text {
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 18px;
    color: #071A39;
    margin-bottom: 0px;
    margin-right: 5px;
}
.menu-icon-text-disabled{
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 18px;
    color: #909090;
    margin-bottom: 0px;
    margin-right: 5px;
    cursor: default;
}
.middle-element:hover .menu-icon-text {
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 18px;
    color: #071A39;
    text-decoration: underline;
    cursor: pointer;
}

.middle-icon {
    margin-right: 9.92px;
}

.disconnect-icon {
    width: 18px;
    height: 18px;
}

.disconnect-text {
    font-family: 'IBMPlexSans';
    font-size: 14px;
    color: #071A39;
}
/********** spinnner *************/
:host>>> .progress-spinner {
    position: fixed;
    z-index: 1100;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
:host>>> .progress-spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.53);
}

:host>>> .p-progress-spinner-circle {
    stroke: #FFCD00 !important;
  }
