.modal-container {
  padding: 42px 41px 51px 41px;
  overflow: scroll;
  overflow-x: hidden;

}

.input-label{
  width: inherit;
}
.input-full{
  width: 100% !important;
}

.modal-title {
  justify-self: center;
  justify-content: center;
  display: flex;
  margin-bottom: 27px;
  font-family: 'IBMPlexSansCond-Bold';
  font-size: 18px;
  color: #071A39;
  text-transform: uppercase;

}

.modal-element {
  margin-bottom: 12px;
}

.label-top {
  margin-bottom: 7px;
}

.label-text {
  font-size: 12px;
  color: #071A39;
  font-family: 'IBMPlexSans';
}

.meta-history {
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #071A39;
  font-family: 'IBMPlexSansCond';
}

.comm-btns-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.text-area-form {
  height: 52px;
  font-size: 11px;
  color: #071A39;
  font-family: 'IBMPlexSans';
}

.text-ng-option {
  font-size: 11px;
  color: #071A39;
  font-family: 'IBMPlexSans';
  margin-top: 3px;
}

/*****************************/

:host>>>.ng-dropdown-panel.ng-select-bottom {
  margin-top: 7px;
  z-index: 500;
}

:host>>>span.ng-option-label {
  white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal !important;
  font-size: 11px;
  color: rgba(7, 26, 57, 1);
}

:host>>>.ng-option {
  width: 100%;
  height: 25px;
}

.text-ng-option {
  margin-top: -6px;
  margin-left: 3px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgba(255, 207, 0, 1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba(255, 207, 0, 1);
}

:host>>>.ng-value {
  white-space: nowrap;
  line-height: 23px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #071A39;
}

:host>>>.ng-select .ng-select-container .ng-value-container .ng-input>input {
  display: none;
}

:host>>>.ng-select-container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #819AC2;
  border-radius: 3px;
  opacity: 1;
  height: 32px !important;
  min-height: 32px !important;
}

:host>>>.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #819AC2;
  border-radius: 3px;
  opacity: 1;
  min-height: 32px !important;
  height: 32px !important;
}

:host>>>.ng-select.ng-select-disabled>.ng-select-container {
  background: #e9ecef 0% 0% no-repeat padding-box !important;
  border: 0.5px solid #909090 !important;
  border-radius: 3px !important;
  opacity: 1 !important;
}

:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value {
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #A8B9D5 !important;
  margin-left: 9px;
}

:host>>>.ng-placeholder {
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
  font-family: 'IBMPlexSansCond';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #819AC2 !important;
  margin-left: 9px;
}

:host>>>ng-select.ng-invalid.ng-touched .ng-select-container {
  border: 1px solid red !important;
}

/**********/

:host>>>.ng-placeholder {
  font-size: 11px;
  color: #071A39;
  font-family: 'IBMPlexSans';
  margin-top: 1px;
}

.fixed-x {
  position: absolute;
  top: 15px;
  right: 20px;
}

modal-element-pj{
  margin-bottom: 0px !important;
}
.btn-cancel:hover{
  background-color: #FFE066
}
.btn-cancel{
  margin-right: 12px;
}