<div class="modal-container" [formGroup]="catRequestForm">

    <div class="modal-title" *ngIf="!catBrand">
        Ajouter une marque
    </div>


    <div class="modal-title" *ngIf="catBrand">
        Ajouter un type
    </div>

    <div class="modal-element">
        <label for="catActivitySector" class="label-top label-text" *ngIf="!catBrand">Nom de la marque </label>
        <label for="catActivitySector" class="label-top label-text" *ngIf="catBrand">Nom du type </label>

        <div class="row row-element m-0">
            <input id="libelle" type="text" class="form-control labe-input input input-full" formControlName="label">
        </div>
        <div class="date-error-container spacing-row">
            <label id="libelleError" class="label-required" *ngIf="!catRequestForm?.controls['label']?.valid && catRequestForm?.touched && isSubmitted">
                Merci de compléter ce champ </label>

        </div>
    </div>

    <div class="modal-element row">
        <div class="col-md-6">

            <label for="catActivitySector" class="label-top label-text">Secteur </label>
            <ng-select id="catActivitySector" formControlName="catActivitySector" placeholder="Sélectionner" style="width: 100%;" notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of sectorList" [value]="option">
                    <div class="text-ng-option">{{option.label}} </div>
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6">
            <label for="catActivitySector" class="label-top label-text">Nature </label>
            <ng-select id="catNature" formControlName="catNature" placeholder="Sélectionner" style="width: 100%;" notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of natureList" [value]="option">
                    <div class="text-ng-option">{{option.label}} </div>
                </ng-option>
            </ng-select>
        </div>

        
    </div>

    <div class="modal-element row" *ngIf="catBrand">
        <div class="col-md-6">

            <label for="catBrand" class="label-top label-text">Marque </label>
            <ng-select id="catBrand" formControlName="catBrand" placeholder="Sélectionner" style="width: 100%;" notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of brandList" [value]="option">
                    <div class="text-ng-option">{{option.label}} </div>
                </ng-option>
            </ng-select>
        </div>

        
    </div>

    <div class="modal-element">
        <label for="catActivitySector" class="label-top label-text">Commentaire </label>
        <div class="row row-element m-0">
            <input id="libelle" type="text" class="form-control labe-input input input-full" formControlName="comment">

        </div>
        <div class="date-error-container spacing-row">
            <label id="libelleError" class="label-required" *ngIf="!catRequestForm?.controls['comment']?.valid && catRequestForm?.touched && isSubmitted">
                Merci de compléter ce champ </label>

        </div>
    </div>

    <div class="modal-element-pj">
        <label class="label-top label-text">Ajouter des pièces jointes</label>

        <app-documents formControlName="files" [control]="catRequestForm.controls['files']"></app-documents>
    </div>

    <div class="modal-element-text">
        <label class="label-text" *ngIf="!catBrand"> En appuyant sur le bouton « Envoyer », la valorisation sera en attente <br>jusqu’à la
            création de la marque.
        </label>

        <label class="label-text" *ngIf="catBrand"> En appuyant sur le bouton « Envoyer », la valorisation sera en attente <br>jusqu’à la
            création du type.
        </label>

    </div>

    <div class="comm-btns-container">
        <button class="btn float-right btn-cancel" (click)="activeModal.dismiss('cancel click')">
            <span class="btn-valider-text">Annuler</span>
        </button>
        <button type="submit" class="btn btn-valider float-right" (click)="submit()">
            <span class="btn-valider-text">Envoyer</span>
        </button>

    </div>

</div>