.container{
    background-color: #F5F4F2;
    width: 1044px;
    height: 202px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 14px;
    padding-bottom: 27px;
  }

  .title{
    width: 284px;
    height: 39px;
    color: #071A39;
    text-align: left;
    font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    opacity: 1;
    font-size: 30px;
  }
  .sectorTile{
    top: 0px;
    left: 225px;
    width: 291px;
    height: 39px;
    text-align: left;
    font: normal normal normal 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    color: #071A39;
  }
  .header{
    margin-top: 14px;
    margin-bottom: 26px;
  }

.class-btns{
  text-align: right;
}
.btn-delete-doc {
  opacity: 1;
  width: 9px;
  height: 11px;
  cursor: pointer;
  content:url('/../../assets/images/button-delete.svg');
}

.btn-modify, .btn-save{
  background-color: #FFCD00;
  border-radius: 20px;
  top: 125px;
  left: 1077px;
  width: 143px;
  height: 40px;
  opacity: 1;
  margin-right: 11px;
  text-align: left;
  padding-left: 17px;
  box-shadow: unset;
}
.btn-modify:hover, .btn-save:hover{
background-color: #FFE066;
border-radius: 20px;
top: 125px;
left: 1077px;
width: 143px;
height: 40px;
opacity: 1;
margin-right: 11px;
text-align: left;
padding-left: 17px;
}
.btn-modify-text, .btn-save-text{
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(7,26,57,1);
  width: 52px;
  height: 20px;
  margin-left: 11px;
}
.btn-delete, .btn-reset{
  top: 125px;
  left: 1207px;
  width: 119px;
  height: 40px;
  opacity: 1;
  text-align: left;
  box-shadow: unset;
}

.btn-delete:hover, .btn-reset:hover{
  background-color: #FFCD00;
  border-radius: 20px;
  cursor: pointer;
  text-align: left;
}

.delete-btn-text, .reset-btn-text{
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans'
  , sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(7,26,57,1);
  width: 52px;
  height: 20px;
  margin-left: 2px;
}
.reset-btn-text{
  margin-left: 13px;
}
.btns-align{
  text-align: end;
}
.tabTitle{
  font: normal normal bold 14px/18px 'IBMPlexSansCond', sans-serif;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
}
/*******************************************/
.nav-item{
  top: 191px;
  left: 360px;
  width: 322px;
  height: 48px;
  padding-top: 6px;
}
.nav-tabs{
  height: 48px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 7px #d0d0d080;
  opacity: 1;
 margin-left: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

}
.generalitierContainer{
  top: 250px;
left: 360px;
width: 966px;
height: 502px;
padding: 0px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}

.hr-active {
  margin-top: 11px !important;
  border: 0;
  height: 3px;
  background: #FFCD00 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 322px!important;
 }
  .form-group {
    margin-left: 0px;
    margin-top: 5px;
}
:host >>> .span-active, .span-not-active, .span{
  font-size: 14px!important;
}


.label-top{
  margin-top:26px;
  margin-bottom: 18px;
}
 .input-generalities{
      width: inherit;
   }
    .audit-infos{
      top: 312px;
      height: 28px;
      text-align: left;
      font: normal normal normal 11px/14px 'IBMPlexSans', sans-serif;
      letter-spacing: 0px;
      color: #071A39;
      opacity: 1;
  }
/*********************** new discounts *****************************/
.taux-text {
  text-align: left;
  letter-spacing: 0px;
  color: #071A39;
  text-transform: uppercase;
  opacity: 1;
  font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
  font-size: 18px;
height: 23px;
margin-right: 106px;
}
.nature-discount-container {
  width: 876px;
  background: #F5F4F2 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: space-between;
  margin-top: 25px;
  padding-top: 30px;
}
.menu-cat-nature-row {
  display: flex;
  flex-wrap: wrap;
  justify-content : space-between;
  align-items: center;
}
.menu-cat-nature-row-with-cb {
  display: flex;
  flex-wrap: wrap;
  justify-content : flex-start;
  align-items: center;
}

.standard-discounts-container {
  width: 876px;
height: 186px;
background: #F5F4F2;
opacity: 1;
}
.spacing-row{
  margin-bottom: 25px;
}
.comment-input{
  width: 100%;
  height: 32px;
}
.moyenne-text-div{
  width: 200px;
}
.moyenne-elements-container{
 display: flex;

}
.taux-date-input{
 max-width: 100px;
}
.input-small{
  width: 45px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #00513B;
  border-radius: 3px;
  opacity: 1;
  font-family: IBMPlexSans;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}
.input-medium{
  width: 55px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #00513B;
  border-radius: 3px;
  opacity: 1;
  font-family: IBMPlexSans;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
}

.comp-container{
  background-color: #ffffff;
  width: 1044px;
  height: 202px;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 27px;
  padding-bottom: 27px;
}

.comp-container-extends {
  background-color: #ffffff;
  width: 1044px;
  height: 259px;
  padding-left: 35px !important;
  padding-right: 35px !important;
  padding-top: 27px;
  padding-bottom: 27px;
}

.margin-decote-expert {
  margin-right: 15px;
}

.margin-decote-admin {
  margin-right: 47px;
}

.extends {
  width: 17px;
  height: 10px;
  position: relative;
  left: 20px;
  top: 26px;
  font-size: 17px;
}

.validate-container{
  width: inherit;
  margin:0;
}

.btn-valider{
  margin-top: 27px;
}

.outstandingStyle{
  margin-top: 32px;
  margin-right: 15px;
}
.form-control:disabled{
  color:grey;
  }
.input-small:disabled{
  color:grey;
  background-color: #e9ecef;
  border-color: #909090;
  opacity: 1;  }
.input-medium:disabled{
  color:grey;
  background-color: #e9ecef;
  border-color: #909090;

  opacity: 1;  }

.discounts-row{
  flex-wrap: wrap;
}
  .custom-checkbox {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}
.left-spacing {
  padding-left: 24px;
}
.cat-disc-label{
text-align: left;
font: normal normal normal 12px/20px 'IBMPlexSans';
letter-spacing: 0px;
color: #071A39;
opacity: 1;
margin-right: 5px;
padding-top: 2px;
}
.cat-new-col{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.label-spacing-right{
  margin-right: 80px;
}
.taux-cb-spacing{
  margin-right: 40px;

}
.percent-icon{
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
  left: 35px;
  font-family: 'IBMPlexSans';
  font-size: 12px;
}

.label-required-tauxDate{
  overflow: visible;
    height: 23px;
    line-height: 12px;
    margin-top: 3px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    margin-bottom: -7px;
    width: 125px;
}
.date-error-container{
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.date-error {
  justify-content : flex-end ;    margin-right: 55px;  
}
/***inherited Documents */
.inherted-files{
  display: flex !important;
  justify-content: flex-start !important;
  margin-top: 34px;  
  flex-wrap: wrap;

}
.inherted-single-file{
  margin-right: 30px !important;
}
