<div [formGroup]="catNewDiscForm" *ngIf="showForm">
    <div class="menu-cat-nature-row-with-cb ">
        <!--Taux row -->
        <div>
            <label for="taux" class="taux-text">taux</label>
        </div>


        <div class="padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="readjust" type="checkbox" class="form-control input-dis" formControlName="isReadjust" (change)="eventCheck($event.target)" readonly="true">
                <strong></strong>
            </label>
            <label class="taux-cb-spacing cat-disc-label label-left-bold pr-4" for="readjust">Réajustés
            </label>
        </div>

        <div class="padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="permanents" type="checkbox" class="form-control input-dis" formControlName="isPerm"
                    (click)="tempOrPerm()">
                <strong></strong>
            </label>
            <label class="label-spacing-right cat-disc-label label-left-bold pr-4" for="permanents">
                Permanents</label>
        </div>
        <div class="  padding-left align-self-end">
            <label class="custom-checkbox">
                <input id="temporary" type="checkbox" class="form-control input-dis" formControlName="temporary"
                (click)="tempOrPerm()">
                <strong></strong>
            </label>
            <label class="cat-disc-label label-left-bold pr-4" for="temporary">
                Temporaires jusqu’au</label>
        </div>
        <div class="  padding-left align-self-end">
            <div class="  padding-left align-self-end">

                <input id="tauxDueDate" type="text" class="form-control taux-date-input input" formControlName="endDate" placeholder="JJ/MM/AAAA"
                    (change)="changedDate()">
            </div>
        </div>
    </div>
    <div class="date-error-container spacing-row" >
            <label id ="tauxDueDateError" for="endDate" class="date-error label-required-tauxDate"
            *ngIf="!catNewDiscForm?.controls['endDate']?.valid && catNewDiscForm?.controls['endDate']?.errors?.pattern && catNewDiscForm?.controls['endDate']?.touched">
                    Merci de bien vouloir renseigner une date au format JJ/MM/AAAA
                </label>

    </div>
    <!--Discounts container-->

    <div class="nature-discount-container left-spacing">

        <div class="menu-cat-nature-row-with-cb">
            <div class="cat-new-col">
                <div class="padding-left align-self-end ">
                    <label class="custom-checkbox">
                        <input id="startingYear1" type="checkbox" class="form-control input-dis" (click)="sinceYear()" formControlName="startingYear1"
                            [checked]="!duplicateDiscounts">
                        <strong></strong>
                    </label>

                    <label class="cat-disc-label label-left-bold " for="startingYear1">
                        À partir de l’année </label>
                </div>


                <div class="padding-left align-self-end ">
                    <input id="startingNumber" type="number" class="form-control input-small" placeholder="XX" formControlName="startingNumber"
                        min="1" [max]="catDiscountRateList ? catDiscountRateList.length -1 : 8" (blur)="sinceYearCalcul()">
                </div>
                <div class="padding-left align-self-end">
                    <label for="percentage" class="cat-disc-label">appliquer une décote de</label>
                </div>
                <div class="padding-left align-self-end" style="position: relative;">
                    <input id="percentage" type="number" class="label-spacing-right form-control input-small" placeholder="XX" formControlName="percentage"
                        (blur)="onBlurPercentage();sinceYearCalcul()">

                </div>
            </div>
            <div class="cat-new-col">

                <div class="padding-left align-self-end ">
                    <label class="custom-checkbox">
                        <input id="startingYear2" type="checkbox" class="form-control input-dis" formControlName="startingYear2" [checked]="duplicateDiscounts"
                            (click)="duplicateYear()">
                        <strong></strong>
                    </label>

                    <label class="cat-disc-label label-left-bold " for="startingYear2">
                        À partir de l’année </label>
                </div>
                <div class="padding-left align-self-end">
                    <input id="startingNumber2" type="number" class="form-control input-small" placeholder="XX" formControlName="startingNumber2"
                        min="1" [max]="catDiscountRateList ? catDiscountRateList.length -1 : 8" (blur)="duplicateCalcul()">
                </div>
                <div class="padding-left align-self-end">
                    <label for="startingNumber2" class="cat-disc-label">dupliquer la même décote</label>
                </div>
            </div>
            <div class="row" style="margin-left: 20px;">
                <label *ngIf="!catNewDiscForm.controls['percentage'].valid && ( catNewDiscForm.controls['percentage'].errors?.min || catNewDiscForm.controls['percentage'].errors?.max)  && catNewDiscForm.controls['percentage'].touched"
                    class="label-required">Merci de bien vouloir renseigner une valeur comprise entre 1 et 100.</label>
            </div>
        </div>

        <div class="discounts-row menu-cat-nature-row spacing-row" *ngIf="showDiscounts">
            <div class="discounts-row  d-flex">


                <span formArrayName="catDiscountRateList" *ngFor="let catDiscountRateList of catDiscountRateListControls; let i = index;"
                    [ngStyle]="{'maring-right': isAdmin()?'50px':'0'}" [ngClass]="!isAdmin()?'margin-decote-expert':'margin-decote-admin'">
                    <ng-container [formGroupName]="i">
                        <label class="label-top">{{'Année ' + (i+1)}}</label>
                        <app-input-number formControlName="discountRateValue" [symbol]="percentSymbol" [min]="0" [max]="100"  [invalidControl]="catDiscountRateList.controls.discountRateValue.invalid && isSubmitted"></app-input-number>
                    </ng-container>
                </span>
            </div>
        </div>

        <div class="row no-gutters" *ngIf=" nodeType == 'brand' && catDiscountObject.catNature?.comment  != null && catDiscountObject.catNature?.comment != ''">
            <div class="col">
                <label for="commentHerit" class="label-top ">Commentaire herité du nature</label>
            </div>
        </div>
        <div class="row no-gutters spacing-row" *ngIf=" nodeType == 'brand' && catDiscountObject.catNature?.comment  != null && catDiscountObject.catNature?.comment != ''">

            <div class="col">
                <input id="commentHerit" type="text" class="comment-input form-control input" formControlName="commentHerit">
            </div>
        </div>

        <div class="row no-gutters" *ngIf="editingMode || (catDiscountObject.comment  != null && catDiscountObject.comment != '') ">
            <div class="col">
                <label for="comment" class="label-top ">Commentaire</label>
            </div>
        </div>
        <div class="row no-gutters spacing-row" *ngIf="editingMode || (catDiscountObject.comment  != null && catDiscountObject.comment != '') ">

            <div class="col">
                <input id="commentNewDiscount" type="text" class="comment-input form-control input" formControlName="comment">
            </div>
        </div>
        <!--Documents -->

 <!-- pieces jointes herites -->
 
      
        <!-- pieces jointes herites du nature  -->
    
        <div class="row no-gutters spacing-row" *ngIf="inheritedNewDiscountDocsNature?.length > 0">
                <div class="col-4">
                    <label for="libelle" class="label-top ">Pièces jointes - Nature « {{natureTitle}} »</label>
        
                </div>
                <div class="col-8 inherted-files">
                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedNewDiscountDocsNature">
                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>
        
                </div>
            </div>
            <div class="row no-gutters spacing-row" *ngIf="inheritedOldDiscountDocsSector?.length > 0 ">
                <div class="col-4">
                    <label for="libelle" class="label-top ">Pièces jointes - Secteur « {{activitySectorTitle}} » </label>

                </div>
                <div class="col-8 inherted-files">
                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedNewDiscountDocsSector">
                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>
                   
                </div>
            </div>

        <div class="row no-gutters">
            <div class="col">
                <label class="label-top">Ajouter des pièces jointes</label>

                <app-documents formControlName="files" [control]="catNewDiscForm.controls['files']"></app-documents>
            </div>
        </div>

        <div class="row no-gutters" *ngIf=" updatedNewDiscountDocs?.length > 0">
            <div class="col-md">
                <span class="label-top">Documents téléchargés</span>
            </div>
        </div>

        <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" updatedNewDiscountDocs?.length > 0">
            <div class="form-group mr-2" *ngFor="let myDocument of updatedNewDiscountDocs;let i=index">
                <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                </label>
                <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                    [ngModelOptions]="{standalone: true}">
                <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)"/>
                <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="catNewDiscForm.controls.files.enabled && !editedDocumentList[i] && displayPlusBtns(myDocument)"
                />
                <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="catNewDiscForm.controls.files.enabled && !editedDocumentList[i] && displayPlusBtns(myDocument)"
                />


            </div>
        </div>

    </div>
</div>

