.comp-container-decote {
    background-color: #F5F4F2;
    width: 1040px;
    height: 600px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
}
.comp-container {
    background-color: #ffffff;
    width: 1110px;
    height: 780px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
}

.decotes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.margin-decote-expert {
    margin-right: 25px;
    margin-bottom: 18px;
}

.custom-checkbox {
    position: relative;
    cursor: pointer;
    margin-right: 15px;
}

.custom-checkbox-decote {
    position: relative;
    cursor: pointer;
    margin-right: 12px;
}

.taux-cb-spacing {
    margin-right: 40px;
}

.cat-disc-label {
    text-align: left;
    font: normal normal normal 12px/20px 'IBMPlexSans';
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    margin-right: 5px;
    padding-top: 2px;
}

.mat-vole-text {
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0px;
}

.label-top-decote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: visible;
    height: 30px;
    line-height: 35px;
    margin-top: -4px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(7, 26, 57, 1);
    margin-bottom: 7px;
}

.label-top-year {
    font-family: 'IBMPlexSansCond', sans-serif;
}

.custom-checkbox-decote input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.custom-checkbox-decote input[type="checkbox"]:checked+strong:after {
    content: "✓";
    color: #565656;
    border-color: #FFCD00;
    font-weight: 100;
    background-color: #FFCD00;
    font-size-adjust: 11px;
    position: relative;
    display: inline-block;
    border: 2px solid #FFCD00;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: -2px;
    height: 15px;
    width: 15px;
}

.custom-checkbox-decote input[type="checkbox"]+strong {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid #FFCD00;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 100;
    color: #565656;
    cursor: pointer;
    line-height: 0.9;
    outline: 0;
    text-align: center;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    opacity: 1;
    margin-bottom: 3px;
}

.calcul-row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
}

.co-baillage-row-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.input-medium {
    width: 55px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    font-family: IBMPlexSans;
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.percent-icon {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    width: 25px;
    text-align: center;
    font-style: normal;
    left: 75px;
    font-family: 'IBMPlexSans';
    font-size: 12px;
}

.commentary {
    width: inherit;
}

:host>>>.input-component div div input {
    width: 68px;
    padding-right: 30px;
}

:host>>>.input-component div div input .purcent-input {
    margin-left: 50px;
}

:host>>>.input-component .container {
    margin-right: 28px;
}

.age-input {
    width: 100px;
    height: 32px;
}

.val-date-ipnut {
    width: 177px;
    height: 32px;
}

.dec-cont-ipnut {
    width: 105px;
    height: 32px;
}

.val-cont-ipnut {
    width: 140px;
    height: 32px;
}

.cont-input {
    margin-right: 50px;
}

.btn-valider {
    background-color: #FFCD00;
    width: 106px;
    height: 40px;
    border-radius: 20px;
}

.calculer {
    margin-top: 15px;
    margin-left: 20px;
}

.dec-cont-ipnut::placeholder {
    top: 1685px;
    left: 585px;
    width: 14px;
    height: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #A8B9D5;
    opacity: 1;
    font-family: "IBMPlexSans";
    font-size: 12px;
    padding-top: 2px;
}

.dec-cont-ipnut {
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #00513B;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
}

.dec-cont-ipnut:disabled {
    background-color: #e9ecef;
    border-color: #909090;
    color: #565656;
}

.isBaillage-input {
    width: 177px;
}

.error-msg {
    padding-left: 15px;
    color: red;
}
.custom-checkbox-decote input[type="checkbox"]:disabled + strong{
    background-color: #e5e5e5;
    border-color: #909090;
}
.highlighted{
    display: flex;
    justify-content: center;
    background-color: #FFCF00 ;
    height: 38px;
    align-items: center;
    min-width: 240px;
}
.stolen-box-container {
    padding-top: 5px;
    margin-left: 15px;
}
.input-contencieux{
    margin-top: 8px!important;
}
