<div class="comp-container">
        <div  >
                <div class="row mb-3">
                        <div class="col-md">
                            <h3 class="h3">Informations Contentieux</h3>
                        </div>
                    </div>
                        <div class="row" style="margin-left: 2px">
                            <div class="form-group col-md-3">
                                <label for="contractKSIOP" class="label-top">Numéro contract KSIOP</label>
                                <input id="contractKSIOP" type="text" class="form-control input input-contencieux" [ngModel]="litigation.contractKSIOP"[disabled]="true" >

                            </div>
                            <div class="form-group col-md-3">
                                <label for="fixedAsset" class="label-top">Numéro d’immobilisation</label>
                                <input id="fixedAsset" type="text" class="form-control input input-contencieux" [ngModel]="litigation.fixedAsset"[disabled]="true" >

                            </div>

       <div class="form-group col-md-3" *ngIf="litigation.valuation.valuationRequest.isLicencePlateAvaileble">
                                <label for="plateNumber" class="label-top">Numéro d’immatriculation</label>
                                <input id="plateNumber" type="text" class="form-control input input-contencieux" [ngModel]="litigation.plateNumber" [disabled]="true">

                            </div>
                            <div class="form-group col-md-3">
                                <label for="invoiceDate" class="label-top">Date de facture</label>
                                <input id="invoiceDate" type="text" class="form-control input input-contencieux" [ngModel]="litigation.invoiceDate| date:'dd/MM/yyyy'"  [disabled]="true">


                            </div>
                        </div>
                        </div>
                                                                 <!--DECOTE-->
        <div class="container comp-container-decote" >
        <div class="row">
            <div class="highlighted col-auto h3">DÉCOTE CONTENTIEUX</div>
            <div class="stolen-box-container col-auto little-label font-weight-bold">
                <div class="padding-left align-self-end">
                    <label class="custom-checkbox">
                        <input id="readjust" type="checkbox" class="form-control input-dis" disabled="true"
                        [ngModel]="litigation.isLostMaterial">
                        <strong></strong>
                    </label>
                    <label class="mat-vole-text taux-cb-spacing pr-4" for="readjust">Matériel volé
                    </label>
                </div>
            </div>
        </div>
        <!-- decotes du contentieux -->

        <div class="d-flex" class="decotes">
            <span  class="margin-decote-expert" *ngFor="let item of litigation.litigationDetails; let i = index;" >
                <div>
                <ng-container>
                    <label class="label-top-decote">
                        <label class="custom-checkbox-decote">
                            <input type="checkbox" class="form-control input-dis" [ngModel]="item.isChecked" disabled="true">
                            <strong></strong>
                        </label>
                        <label >{{'Année ' + (i+1)}}</label>
                    </label>
                    <app-input-number class="input-component"  [selectedNumber]="item.discountRateValue" [disabled]="true"
                        [min]="0" [max]="100"
                        [symbol]="percentSymbol"></app-input-number>
                </ng-container>
            </div>
            </span>

        </div>


        <!-- inputs here-->
        <!-- Calcul Line here-->
        <div class="calcul-row-container">
            <div class="form-group cont-input">
                <label for="materialAge" class="label-top">Âge du materiel</label>
                <input type="number" class="form-control age-input input" id="materialAge" placeholder=""
                [ngModel]="litigation.materialAge"  disabled="true">
            </div>
            <div class="form-group cont-input">
                <label for="materialCurrentValue" class="label-top">Valeur à la date</label>
                <input type="text" class="form-control val-date-ipnut input" id="materialCurrentValue" placeholder=""
                [ngModel]="convertNumberToTwoDigitDecimalRound(litigation.materialCurrentValue)" disabled="true" >
            </div>
            <div class="form-group cont-input">
                <label for="litigationDiscount" class="label-top">Décote contentieux</label>
                <div class="padding-left align-self-end" style="position: relative;">
                    <input id="litigationDiscount" type="number" placeholder="XX" class="label-spacing-right form-control dec-cont-ipnut"
                    [ngModel]="litigation.litigationDiscount"  disabled="true">
                    <span class="percent-icon"> % </span>
                </div>
            </div>
            <div class="form-group cont-input">
                <label for="litigationValue" class="label-top">Valeur en contentieux</label>
                <input type="text" class="form-control val-cont-ipnut input" id="litigationValue" placeholder=""
                [ngModel]="convertNumberToTwoDigitDecimalRound(litigation.litigationValue)" disabled="true" >
            </div>

        </div>
        <!-- co-baillage here-->
        <div class="co-baillage-row-container">

            <div class="padding-left align-self-center">
                <label class="custom-checkbox">
                    <input id="isCobailing" type="checkbox" class="form-control input-dis"
                    [ngModel]="litigation.isCobailing" disabled="true" >
                    <strong></strong>
                </label>
                <label class="taux-cb-spacing cat-disc-label label-left-bold pr-4" for="isCobailing">Co-baillage
                </label>
            </div>
            <div class="padding-left align-self-end" *ngIf="litigation.isCobailing">
                <div class="form-group cont-input">
                    <label for="shareRate" class="label-top">Quote-part BPI France (en %)</label>
                    <input type="number" class="isBaillage-input form-control input" id="shareRate" placeholder=""
                   [ngModel]="litigation.shareRate" disabled="true">
                </div>
                </div>
            <div class="padding-left align-self-end" *ngIf="litigation.isCobailing">
                <div class=" form-group cont-input">
                    <label for="shareValue" class="label-top">Valeur de la quote-part HT (en €)</label>
                    <input type="text" class="isBaillage-input form-control input" id="shareValue" placeholder=""
                   [ngModel]="convertNumberToTwoDigitDecimalRound(litigation.shareValue)" disabled="true">
                </div>

            </div>
        </div>


        <!-- Comment here-->
        <div class="row">
            <div class="col-12">
                <label class="label-top">Commentaire</label>
                <textarea type="text" class="form-control commentary" maxlength="2000"  [ngModel]="litigation.comment" disabled="true"></textarea>
            </div>
        </div>

    </div>
</div>
