<div class="modal-body container summary-modal-body summary-modal-content">
  <div class="row flex-nowrap">
    <div class="col-md title">
      <h3 class="h3" ngbAutofocus>Informations relatives à la demande</h3>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="wallet" class="label-top">Contrepartie</label>
      <input type="text" class="form-control input" [ngModel]= "refUnderwrite.mainUnderwName"
     disabled>
    </div>
    <div class="form-group col-md-6  padding-left">
      <label for="price" class="label-top required">Prix d'achat unitaire HT (en €)</label>
      <input type="text" class="form-control input" placeholder="ex. 1 000 €"
      mask="separator" thousandSeparator=" "
      [ngModel]="valuationRequest.financingAmount" disabled>
    </div>
  </div>
  <div class="row">
      <div class="form-group col-md-12">
  <app-plan-list [plansListModel]="financialPlanRequest" [readOnly]="true"></app-plan-list>
  </div>
</div>
  <div class="row mb-1">
    <div class="form-group col-md-6">
      <label for="energy" class="label-top required">Energie</label>
      <input type="text" class="form-control input" placeholder="Sélectionner"
      [ngModel]="valuationRequest?.paramEnergy?.label" disabled>
    </div>
    <div class="form-group col-md-6 align-self-end">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left mb-0">Équipement immatriculable</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right mb-0">
            <input type="checkbox" [ngModel]="valuationRequest.isLicencePlateAvaileble" disabled>
            <strong></strong>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="row mb-1">
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left">Matériel installé à l'étranger</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" [ngModel]="valuationRequest.isAssetUseAbroad" disabled>
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md">
          <label class="label-left">Matériel d'occasion</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" [ngModel]="!valuationRequest.isANewAsset" disabled>
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!valuationRequest.isANewAsset">
    <div class="form-group col-md-6">
      <label for="commissioningYear" class="label-top">Année de mise en service</label>
      <input type="text" class="form-control input" placeholder="ex. 2020" mask="0000"
      [ngModel]="valuationRequest.collAssetEstimYear" disabled>
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="distanceOrDurationValue" class="label-top">Loi de roulage</label>
      <div class="d-flex">
        <div class="mr-7">
          <input type="text" class="form-control distance-duration-value input-roulage input " mask="separator" thousandSeparator=" "
            placeholder="ex. 10" [ngModel]="valuationRequest.assetUsVolume" disabled>
        </div>
        <div class="row row-element m-0">
          <input type="text" class="form-control distance-duration input"
          placeholder="Sélectionner" [ngModel]="valuationRequest?.paramUsageUnit?.unitLabel" disabled>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <label for="commentary" maxlength="2000" class="label-top mb-0 required">Commentaires</label>
    </div>
    </div>
    <div class="row">
    <div class="col-md">

      <textarea type="text" class="form-control commentary"
      [ngModel]="valuationRequest.requestComment" disabled></textarea>
    </div>
  </div>
  <div class="row mb-1" *ngIf="files?.length>0">
    <div class="col-md">
      <label class="label-top">Documents téléchargés</label>
    </div>
  </div>

 
  <div class="row mb-1" *ngIf="files?.length>0">
    <div class="form-group col-md-12 d-flex flex-wrap justify-content-start">
      <div  class="mr-4"  *ngFor="let myDocument of files;let i=index">
       
          <label class="h4 filename-label">{{myDocument.name}} </label>
          <img class="btn-visualiser m-1" alt=""/>
          <img class="btn-edit m-1" alt=""/>
          <img class="btn-delete m-1" alt="" (click)="deleteDocument(i)" />
      </div>
    </div>

  </div>

  <div class="row m-0">
    <div class="col m-0 pr-0 modal-footer summary-modal-footer">
        <button type="button" class="btn btn-cancel" (click)="activeModal.dismiss('cancel click');exit();">
            <span class="btn-cancel-text">Annuler</span>
          </button>
          <button type="button" class="btn btn-valider float-right" [disabled]="disabled" (click)="submit()">
            <span class="btn-valider-text">Confirmer</span>
          </button>
    </div>
  </div>

</div>


