
.summaryModalClass .modal-dialog {
  max-width: 503px;
  max-height: 810px;
}

.summary-modal-body {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 42px;
}

.summary-modal-footer {
  border: none;
}

.no-border{
  border: none ;
  border-style: none;
  border-width: 0;
}

button[aria-label="Close"]:focus {
  outline: none;
}
.commentary{
  width: 410px;
}
.input-roulage{
  width: 107px;
}

:host ::ng-deep .padding-left-plan {
  padding-left: 8px;
}

:host ::ng-deep .tab-content {
  width: 413px;
}
:host ::ng-deep .nav-tabs {
  width: 413px;
}

.distance-duration-value{
    width: 75px !important;
    height: 32px !important;
    background: #e9ecef 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 12px;
}

.distance-duration{
  width: 107px!important;
}
.title{
  text-align: -webkit-center;
  margin-bottom: 37px;
}
.btn-valider, .btn-cancel{
  width: 118px;
}
.btn-valider:hover, .btn-cancel:hover{
  background-color: #FFE066;

}
.btn-cancel:hover{
  background-color: #FFCF00;
}

:host>>> .input, :host>>>.ng-select {
  width: 180px;
}
