.uc-container{
    background-color: #F5F4F2;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 5px solid #54514D;
    max-width: 1000px;
    margin: auto;
}
.uc-div{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-width: 500px;
    margin-bottom: -2px;
}
.uc-div-two{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-width: 500px;
}
.esca{
    left: 270px;
    position: relative;
}
.cone{
    left: 250px;
    position: relative;
}
.pers{
    left: -200px;
    position: relative;
}
:host>>> .btn-valider{
    margin-bottom: 100px;
    width: fit-content;
}
.disclaimer{
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 75px;
    color: #071A39;
    letter-spacing: 1.67px;
    margin-bottom: 150px;
    margin-left: 80px;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: -20px; /* change this to whatever height you want it */
}
 