<div class="uc-container">
    <div class="uc-div">
        <img class="esca" alt="escabot" src="../../../assets/images/escabot.png">
        <img class="cone" alt="cone" src="../../../assets/images/cone.png">
        <img class="pers" alt="personne" src="../../../assets/images/personnage.png">
    </div>
    <div class="uc-div-two">

        <div class="disclaimer">
            <span>Page en <br>construction</span>
        </div>

</div>
</div>
