<div class="container">

    <div class="row header">
        <div *ngIf="!isAddMode" class="col-7"> <span class="title">Marque «{{brandTitle}}» </span><span class="natureTitle">
                - Nature «{{natureTitle}}»
            </span> </div>
        <div *ngIf="isAddMode" class="col-7"> <span class="title">Ajouter une marque </span></div>
        <div class="col-5 btns-align" *ngIf="!modifModeActivatedGeneralite">
            <button class="btn btn-modify" (click)="editBrand()"> <img src="./../assets/images/update.svg" height="15" width="15"
                    alt="">
                <span class="btn-modify-text"> Modifier</span>
            </button>

            <button class="btn btn-delete" (click)="deleteBrand()"> <img src="./../assets/images/delete-black.svg" height="15"
                    width="11" alt="">
                <span class="delete-btn-text">Supprimer</span>
            </button>
        </div>

        <div class="col-5 btns-align" *ngIf="modifModeActivatedGeneralite">
            <button class="btn btn-save" (click)="saveBrand()"> <img src="./../assets/images/save.svg" height="15" width="15"
                    alt="">
                <span class="btn-save-text">Enregistrer</span>
            </button>

            <button class="btn btn-reset" (click)="undo()"><img src="./../assets/images/delete-2.svg" height="15" width="15"
                    alt="">
                <span class="reset-btn-text">Annuler</span>
            </button>
        </div>
    </div>

    <div>
        <form [formGroup]="formMenu" *ngIf="showForm">

            <ul class="nav nav-tabs">
                <li class="nav-item" [ngClass]="{'tab-active':i == selectedPlan }" *ngFor="let tab of headersList;let i = index" (click)="changeTab(i)">
                    <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">

                        <span class="tabTitle"> {{tab}} </span><span *ngIf="!isFormValid(i) && isSubmited" class="badge badge-danger">!</span>

                    </div>
                    <hr *ngIf="i==selectedPlan" class="hr-active " [ngClass]="{ 'hr-invalid': (!isFormValid(i) && isSubmited)}" >
                </li>
            </ul>


            <div class="containerCat">
                <div class="row">
                    <div class="col-12" >

                        <!-- Generalities-->
                        <div formGroupName="generalities" class="m-0 pt-1" [hidden]="selectedPlan != 0">
                            <div class="row">
                                <div class="col">
                                    <label for="brandLabel" class="label-top">Libellé</label>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <input id="brandLabel" type="text" class="form-control input input-generalities" formControlName="brandLabel" [attr.disabled]="modifModeActivatedGeneralite == false ? '' : null">
                                    <div *ngIf="!formMenu.controls['generalities'].get('brandLabel').valid && isSubmited && modifModeActivatedGeneralite && isAddMode">

                                        <label class="label-required">Merci de bien vouloir nommer la marque que vous souhaitez
                                            créer</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="audit-infos" *ngIf="!isAddMode">
                                        Id {{catBrandObject?.id}}:créée le {{catBrandObject?.createdDate | date:'dd/MM/yyyy HH:mm:ss'}} par {{creationUser}}
                                        <br> Dernière modification le {{catBrandObject?.updatedDate | date:'dd/MM/yyyy HH:mm:ss'}}
                                        par {{updateUser}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="isAddMode">
                                <div class="col-6">
                                    <label for="secteur" class="label-top">Secteur</label>
                                </div>
                                <div class="col-6">
                                    <label for="nature" class="label-top">Nature</label>
                                </div>

                            </div>
                            <div class="row" *ngIf="isAddMode">
                                <div class="col-6">

                                    <ng-select id="catActivitySector" (clear)="resetCatSector()" placeholder="Sélectionner" formControlName="catActivitySector" (change)="onChangeSector();"
                                         style="width: 100%;" notFoundText="Pas de résultats">
                                        <ng-option *ngFor="let option of activitySectorOptions" [value]="option">
                                            <div class="text-ng-option">{{option.label}} </div>
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="!formMenu.controls['generalities'].get('catActivitySector').valid && catRequest && formMenu.controls['generalities'].get('catActivitySector').enabled">

                                        <label class="label-required">Sélectionner un secteur</label>
                                    </div>
                                </div>
                                <div class="col-6">

                                        <ng-select id="catNature" (clear)="resetCatNature()" placeholder="Sélectionner" formControlName="catNature" (change)="onChangeNature();"
                                         style="width: 100%;" notFoundText="Pas de résultats">
                                        <ng-option *ngFor="let option of natureOptions" [value]="option">
                                            <div class="text-ng-option">{{option.label}} </div>
                                        </ng-option>
                                    </ng-select>
                                    <div *ngIf="!formMenu.controls['generalities'].get('catNature').valid && catRequest && formMenu.controls['generalities'].get('catNature').enabled">

                                        <label class="label-required">Sélectionner un secteur</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="catBrandObject?.comment || modifModeActivatedGeneralite">
                                <div class="col">
                                    <label for="brandComment" class="label-top">Commentaire</label>

                                </div>
                            </div>
                            <div class="row" *ngIf="catBrandObject?.comment || modifModeActivatedGeneralite">
                                <div class="col">
                                    <input id="brandComment" type="text" class="form-control input input-generalities" formControlName="brandComment" [attr.disabled]="modifModeActivatedGeneralite == false ? '' : null">
                                </div>
                            </div>
                            <div class="row" *ngIf="catBrandObject?.catNature?.comment && catBrandObject.catNature?.comment != ''">
                                <div class="col">
                                    <label for="natureComment" class="label-top">Commentaire hérité de la nature</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="catBrandObject?.catNature?.comment && catBrandObject.catNature?.comment != ''">
                                <div class="col">
                                    <input id="natureComment" type="text" class="form-control input input-generalities" formControlName="natureComment">
                                </div>
                            </div>

                            <div class="row" *ngIf="catBrandObject?.catNature?.catActivitySector?.comment">
                                <div class="col">
                                    <label for="activitySectorComment" class="label-top">Commentaire hérité du secteur</label>
                                </div>
                            </div>
                            <div class="row" *ngIf="catBrandObject?.catNature?.catActivitySector?.comment">
                                <div class="col">
                                    <input id="activitySectorComment" type="text" class="form-control input input-generalities" formControlName="activitySectorComment">
                                </div>
                            </div>
                            <!--Documents-->
                              <!-- pieces jointes herites -->

                                    <!-- pieces jointes herites du nature  -->

                                    <div class="row no-gutters spacing-row" *ngIf="inheritedDocsNature?.length > 0">
                                            <div class="col-4">
                                                <label for="libelle" class="label-top ">Pièces jointes - Nature « {{natureTitle}} »</label>

                                            </div>
                                            <div class="col-8 inherted-files">
                                                <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedDocsNature ">
                                                    {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>

                                            </div>
                                        </div>
                                        <!-- pieces jointes herites   du secteur   -->

                                    <div class="row no-gutters spacing-row" *ngIf="inheritedDocsSector?.length > 0">
                                            <div class="col-4">
                                                <label for="libelle" class="label-top ">Pièces jointes - Secteur « {{activitySectorTitle}} »</label>

                                            </div>
                                            <div class="col-8 inherted-files">
                                                <label class="h4 filename-label-top  inherted-single-file" *ngFor="let doc of inheritedDocsSector ">
                                                    {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)" > </label>

                                            </div>
                                        </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <label class="label-top">Ajouter des pièces jointes</label>

                                    <app-documents formControlName="files" [control]="formMenu?.controls['generalities'].controls['files']"></app-documents>
                                </div>
                            </div>
                            <div class="row no-gutters" *ngIf=" updatedBrandDocs?.length > 0 || catRequestDocs?.length > 0">
                                <div class="col-md">
                                     <span class="label-top">Documents téléchargés</span>
                                </div>
                            </div>
                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" catRequestDocs?.length > 0">
                                    <div class="form-group mr-2" *ngFor="let myDocument of catRequestDocs;let i=index">
                                        <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                        </label>
                                       <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                            [ngModelOptions]="{standalone: true}">
                                        <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)"/>
                                        <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" />
                                        <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" />


                                    </div>
                                </div>
                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" updatedBrandDocs?.length > 0">
                                <div class="form-group mr-2" *ngFor="let myDocument of updatedBrandDocs;let i=index">
                                    <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                    </label>
                                   <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                        [ngModelOptions]="{standalone: true}">
                                    <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)"/>
                                    <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="formMenu.controls['generalities'].controls.files.enabled && !editedDocumentList[i]  && myDocument.catBrand"
                                    />
                                    <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="formMenu.controls['generalities'].controls.files.enabled && !editedDocumentList[i]  && myDocument.catBrand"
                                    />


                                </div>
                            </div>

                            <!-- end of documents-->


                            <div class="row">
                                <div class="col">
                                    <label for="financialPlanTab" class="label-top">Plan financier</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <table class="table table-striped">
                                        <caption></caption>
                                        <thead>
                                            <tr [ngClass]="modifModeActivatedGeneralite ? 'theadModif' : 'theadConsult'">
                                                <th scope="dureeMin">Durée minimum (mois)</th>
                                                <th scope="dureeMax">Durée maximum (mois)</th>
                                                <th scope="seuilVR">VR (en %))</th>
                                                <th scope="creation">Création</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td> <input id="dureeMin" type="text" class="form-control inputTable " formControlName="dureeMin"
                                                         >
                                                </td>
                                                <td> <input id="dureeMax" type="text" class="form-control inputTable " formControlName="dureeMax"
                                                         ></td>
                                                <td> <input id="seuilVr" type="text" class="form-control inputTable " formControlName="seuilVr"
                                                         ></td>
                                                <td> <input id="creation" type="text" class="form-control inputTable " formControlName="creation"></td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>

                            <div class="row" *ngIf="!isAddMode">
                                <div class="col">
                                    <label for="lastCotationsTab" class="label-top">Dernières cotation réalisées </label>

                                </div>
                            </div>
                            <div class="row" *ngIf="!isAddMode">
                                <div class="col">
                                    <table class="table table-striped">
                                        <caption></caption>

                                        <thead>
                                            <tr [ngClass]="modifModeActivatedGeneralite ? 'theadModif' : 'theadConsult'">
                                                <th scope="id">ID</th>
                                                <th scope="type">Type</th>
                                                <th scope="date">Date</th>
                                                <th scope="desc">DESC</th>
                                                <th scope="reseau">Réseau </th>
                                            </tr>
                                        </thead>

                                        <tbody *ngIf="!modifModeActivatedGeneralite">
                                            <tr *ngFor="let valuation of valuationsList">
                                                <td class="navigate" (click)="navigate(valuation.id)"> {{valuation.id}} </td>
                                                <td>{{valuation.catAssetType?.label}}</td>
                                                <td> {{valuation.createdDate | date:'dd/MM/yyyy'}}</td>
                                                <td>{{valuation.descName}}</td>
                                                <td>{{valuation.descNetwork}} </td>
                                            </tr>

                                        </tbody>

                                    </table>

                                </div>
                            </div>


                        </div>


                        <!-------------------------- new Discounts -------------------------->

                        <div class="m-0 pt-1"  [hidden]="selectedPlan != 1">
                            <app-catalog-new-discounts *ngIf='loadNewDiscount' formControlName="decoteNew" [nodeType]="'brand'" [idCateg]="catBrandObject?.id" [isUnlock]="modifModeActivatedNew"
                                [catDiscount]="catDiscountObject" [catDiscountRateList]="catDiscountRateList" [docs]="newDiscountDocs" (refreshNewDicountDocs)="searchNewDiscountDocs()"
                                (changeNewDiscount)='changeNewDiscount($event)' [isSubmitted]="isSubmited"></app-catalog-new-discounts>

                        <!-- Moyenne -->
                        <app-cat-discount-average *ngIf="(catBrandLoaded && loadNewDiscount) || isAddMode" formControlName="decoteAvgNew"  [nodeType]="'brand'" [idNature]="catBrandObject?.catNature?.id" [idSector]="catBrandObject?.catNature?.catActivitySector?.id"
                        [idBrand]="catBrandObject?.id"  [isNew]="true" [dureeMax]="formMenu?.controls['generalities']?.controls.dureeMax.value">
                         </app-cat-discount-average>
                        </div>
                        <!-------------------------- end new Discounts -------------------------->

                        <!-------------------------- old Discounts -------------------------->
                        <div class="m-0 pt-1"  [hidden]="selectedPlan != 2">
                        <app-catalog-old-discounts *ngIf='loadOldDiscount' formControlName="decoteOld" [nodeType]="'brand'" [idCateg]="catBrandObject?.id" [isUnlock]="modifModeActivatedOld"
                            [defaultMaxDuration]="catDiscountObject?.maxFinPer" [catDiscount]="catOldDiscountObject" [catDiscountRateOld]="catDiscountRateOldList"
                            [rateNewDiscountFirstYear]="rateNewDiscountFirstYear" [docs]="oldDiscountDocs" (refreshOldDicountDocs)="searchOldDiscountDocs()" (editCatalogue)="editBrandToAdd()" [isSubmitted]="isSubmited"></app-catalog-old-discounts>
                        <!-- Moyenne -->
                        <app-cat-discount-average *ngIf="(catBrandLoaded && loadOldDiscount) || isAddMode"  formControlName="decoteAvgOld" [nodeType]="'brand'" [idNature]="catBrandObject?.catNature?.id" [idSector]="catBrandObject?.catNature?.catActivitySector?.id"
                        [idBrand]="catBrandObject?.id"  [isNew]="false" [dureeMax]="formMenu?.controls['generalities']?.controls.dureeMax.value">
                         </app-cat-discount-average>
                        </div>
                        <!-------------------------- end old discounts -------------------------->

                         <!-------------------------- Energy Component -------------------------->
                         <div class="m-0 pt-1" [hidden]="selectedPlan != 3">
                            <app-catalog-energy *ngIf="(catBrandLoaded && formMenu  && catBrandObject) || (formMenu && isAddMode)" [formControl]="formMenu.controls['energyForm']"
                                [isUnlock]="modifModeEnergy" [isSubmitted]="isSubmited" [idNature]="catBrandObject?.catNature?.id" [idBrand]="catBrandObject?.id" [nodeType]="'brand'"></app-catalog-energy>
                        </div>
                        <!-------------------------- end Energy Component -------------------------->


                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
