<div class="contaner">
    <div class="row no-gutters">
        <div class="col-3 no-gutters">
            <app-criteria   (searchValuation)='searchValuation($event)' (resetValuation)='resetValuation()'></app-criteria>
        </div>
        <div class="col-9 no-gutters">
            <app-valuation-creation  *ngIf="isUserExpertOrAdmin() && !valuationSharedService.getIsFromDuplicatedReception() && !valuationSharedService.getIsFromRequest() && !isCateg"></app-valuation-creation>
           <app-result-table-material  [searchResult] = "searchResultMaterial" [criteria]="criteriaMaterial" (onLoad)="loadResultsByMaterial($event)" [loading]="loadingMaterialResult" *ngIf="submited && !isCateg"></app-result-table-material>
           <app-result-table-catalogue  [searchResult] = "searchResultCatalogue" [criteria]="criteriaCatalogue" (onLoad)="loadResultsByCatalogue($event)" [loading]="loadingCatalogueResult" *ngIf="submited && isCateg "></app-result-table-catalogue>

        </div>
    </div>
</div>