.comp-container{
    background-color: #ffffff;
    /* border: 1px solid grey; */
    width: 510px;
    height: 545px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
}

input[type=text] {
    width: 190px;
    height: 32px;
}

.padding-left{
    padding-left: 30px;
}


/* debut select*/
.ng-select{
    width: 190px;
    height: 25px;
}


:host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 500;

}

:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 190px;
    height: 25px;
}

:host >>> #paramUsageUnit ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0px 10px !important;
}


.text-ng-option{
    margin-top: -6px;
    margin-left: 11px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
    padding-left: 3px;
  }


  :host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
   }
   :host>>>.ng-select .ng-clear-wrapper{
    display: none;
   }

   :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }

.arrow-down{

width: 8.5px;
height: 4.96px;
opacity: 1;
content:url('/../../assets/images/arrow-down.svg');
position:absolute;
margin-left: 171px;
margin-top: 16px;
z-index:1001;

}


:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;


}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box !important;
border: 0.5px solid #909090 !important;
border-radius: 3px !important;
opacity: 1 !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
background-color: #e9ecef 0% 0% no-repeat padding-box;

font-style: normal;
font-weight: normal;
font-size: 12px;
color: #565656  !important;
margin-left: 9px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #00513B  !important;
margin-left: 9px;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
    border: 1px solid red !important;
}

/*fin select */

/* debut distanceOrDurationValue */
.distance-duration-value{
    width: 75px !important;
    height: 32px !important;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 12px;
}

.distance-duration{
    width: 109px;
}

.filename-label {
  text-overflow: ellipsis;
  width: 100px;
  overflow: hidden;
}

.invalidInput{
    border: 0.5px solid #BD1A24 !important;
}

.pl-14{
    padding-left: 14px;
}
ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder {
    color: red!important;
}
.input.ng-invalid.ng-touched{
    color: red;
    border: red 1px solid !important
    }

    .input::placeholder{
      color: #00513B;
    }
    .form-control:disabled{
        border-color: #909090;
        font-family: 'IBMPlexSans';
        font-size: 12px;
    }
    .form-control:disabled .form-control::placeholder, .input:disabled::placeholder{
        color: #565656;
    }
/* documents table */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #212529;
  }
.table th, .table td {
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.doc-tab-text {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    padding: unset;
}

.doc-tab-text-valid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #00513B;
    opacity: 1;
    padding-top:7.09px;
    padding-left: unset;

}
.doc-tab-text-invalid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
    padding-top:7.09px;
    padding-left: unset;
}
.spacing-table{
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 15px;
}
:host>>> #energy.ng-select.ng-select-disabled>.ng-select-container .ng-value-container .ng-value{
    margin-top: 0px!important;
}
.disabledButton{
    opacity: 0.65;
}