<div class="container comp-container overflow-auto" [formGroup]="form" >

  <div class="row mb-1 flex-nowrap">
    <div class="col-md">
      <h3 class="h3">Informations relatives à la demande</h3>
    </div>
    <div class="col-md">
      <div class="button-add" title="Ajouter un plan"  (click)="addNewFundingPlan()">
        <span class="image-plus" [ngClass]="form.disabled ? 'disabledButton':''">+</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label for="wallet" class="label-top">Contrepartie</label>
      <input type="text" class="form-control" id="wallet" formControlName="mainUnderw" >
    </div>
    <div class="form-group col-md-6  padding-left">
      <label for="financingAmount" class="label-top required">Prix d'achat unitaire HT (en €)</label>
      <input type="text" class="form-control input" id="financingAmount" mask="separator" thousandSeparator=" " formControlName="financingAmount"
        placeholder="ex. 1 000 €" (blur)="onBlurPrice()" [ngClass]="isPriceIncorrect ? 'invalidInput' : 'form-control input'">
    </div>
  </div>

  <app-plan-list formControlName="plans" [plansListModel]="financialPlan" [price]="form.value.financingAmount" [displayOnly]="displayOnly" (isInvalidPrice)="isPriceInputValid($event)"
    #plans></app-plan-list>
    
  <div class="row mb-1">
    <div class="form-group col-md-6">
      <label for="unitaryQuantity" class="label-top">Quantité</label>
      <input id="unitaryQuantity" type="text" mask="separator" thousandSeparator=" " class="form-control input" placeholder="ex. 120" formControlName="unitaryQuantity">
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="energy" class="label-top required">Energie</label>
      <div class="row row-element m-0">
        <ng-select id="energy" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="paramEnergy">
          <ng-option *ngFor="let option of energyOptions" [value]="option">
            <div class="text-ng-option">{{option.label}} </div>
          </ng-option>
        </ng-select>
     
      </div>
    </div>
  </div>

  <div class="row mb-1">
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left ">Équipement immatriculable</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" formControlName="isLicencePlateAvaileble">
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6 ">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left pl-14">Matériel installé à l'étranger</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" formControlName="isAssetUseAbroad">
            <strong></strong>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="row mb-1">
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left">Matériel d'occasion</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" formControlName="isAOldAsset">
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isAOldAsset">
    <div class="form-group col-md-6">
      <label for="collAssetEstimYear" class="label-top">Année de mise en service</label>
      <input type="text" class="form-control input" id="collAssetEstimYear" mask="0000" formControlName="collAssetEstimYear" placeholder="ex. 2020">
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="assetUsVolume" class="label-top">Loi de roulage</label>
      <div class="d-flex">
        <div class="mr-7">
          <input type="text" mask="separator" thousandSeparator=" " class="form-control input distance-duration-value" id="assetUsVolume" formControlName="assetUsVolume"
            placeholder="ex. 10">
        </div>
        <div class="row row-element m-0">
          <ng-select id="paramUsageUnit" [items]="paramUsageUnitOptions" class="param-usage-unit"
          bindLabel="unitLabel"   [compareWith]	="compareFn" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="paramUsageUnit" class="distance-duration">
            
          </ng-select>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md">
      <label for="requestComment" class="label-top mb-0 required">Commentaires</label>
    </div>
    <div class="col-md ">
      <textarea type="text" class="form-control commentary" maxlength="2000" id="requestComment" formControlName="requestComment"></textarea>
    </div>
  </div>


    <div class="row no-gutters" *ngIf="form.getRawValue().documentsListToEdit?.length>0">
      <div class="col-md">
          <span class="label-top">Documents téléchargés</span>
      </div>
  </div>

  <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf="form.getRawValue().documentsListToEdit?.length>0">
      <div class="form-group mr-2" *ngFor="let myDocument of form.getRawValue().documentsListToEdit;let i=index">
          <label class="h4">{{myDocument.docName}}
              </label>
          <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
              [ngModelOptions]="{standalone: true}">
          <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="displayDocument(i)"/>
          <img class="btn-edit m-1" alt="" *ngIf="!editedDocumentList[i]  && !displayOnly" (click)="editDocumentName(i)"  />
          <img class="btn-delete m-1" alt="" *ngIf="!editedDocumentList[i]  && !displayOnly" (click)="deleteDocument(i)"/>


      </div>
  </div>

  <div class="row mb-1">
    <div class="col-md">
      <label class="label-top">Ajouter des pièces jointes</label>
      <p class="h5-grey mb-0">Les formats acceptés sont pdf, xls, docx, ppt, png, jpg (40 Mo max.)</p>
    </div>
  </div>

  <div class="row mb-1">
    <div class="col-md pr-0">
      <label class="h4">Proforma - Devis - BDC - Autres documents (Descriptif matériel…)</label>

      <app-documents formControlName="files" [control]="form.controls['files']"></app-documents>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col">
      <button type="button" class="btn btn-valider float-right" [disabled]="form.disabled"(click)="plans.markAsTouched();submit()">
        <span class="btn-valider-text">Valider</span>
      </button>
    </div>
  </div>
</div>