<div class="container">


    <div class="row header">
        <div *ngIf="!isAddMode && !isAddRequest" class="col-7"> <span class="title">Type « {{assetType?.label}} » </span><span class="natureTitle">
                - Marque « {{assetType?.catBrand?.label}} »
            </span> </div>
        <div *ngIf="isAddMode || isAddRequest" class="col-7"> <span class="title">Ajouter un type </span></div>
        <div class="col-5 btns-align" *ngIf="!modifModeActivated">
            <button class="btn btn-modify" (click)="toggleModifState(true)">
                <img alt="" src="./../assets/images/update.svg" height="15" width="15">
                <span class="btn-modify-text">Modifier</span>
            </button>

            <button class="btn btn-delete" (click)="deleteType()">
                <img alt="" src="./../assets/images/delete-black.svg" height="15" width="11">
                <span class="delete-btn-text">Supprimer</span>
            </button>
        </div>

        <div class="col-5 btns-align" *ngIf="modifModeActivated">
            <button class="btn btn-save" (click)="save()"> <img src="./../assets/images/save.svg" height="15" width="15"
                    alt="">
                <span class="btn-save-text">Enregistrer</span>
            </button>

            <button class="btn btn-reset" (click)="toggleModifState(false)"><img src="./../assets/images/delete-2.svg" height="15"
                    width="15" alt="">
                <span class="reset-btn-text">Annuler</span>
            </button>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <div [formGroup]="typeForm" *ngIf="showForm">

                <ul class="nav nav-tabs">
                    <li class="nav-item " [ngClass]="{'tab-active':i == selectedTabulation }" *ngFor="let tab of headersList;let i = index" (click)="changeTab(i)">
                        <div [ngClass]="i== selectedTabulation? 'span-active' :'span-not-active'">
                            <span class="tabTitle"> {{tab}} </span>
                            <span *ngIf="!isFormValid(i) && isSubmited" class="badge badge-danger">!</span>

                        </div>
                        <hr *ngIf="i==selectedTabulation" [ngClass]="{'hr-active':(isFormValid(i) || !isSubmited) , 'hr-invalid': (!isFormValid(i) && isSubmited)}">
                    </li>
                </ul>

                <div class="row no-gutters containerCat">
                    <div class="col-12">

                        <div formGroupName="generalities" class="m-0 pt-1" *ngIf='selectedTabulation === 0'>
                            <div class="row no-gutters">
                                <div class="col">
                                    <label for="libelle" class="label-top ">Libellé</label>

                                </div>
                            </div>
                            <div class="row no-gutters spacing-row">
                                <div class="col-8">
                                    <input id="libelle" type="text" class="form-control labe-input input" formControlName="libelle" placeholder="label">
                                    <div *ngIf="!typeForm.controls['generalities'].get('libelle').valid && isSubmited && modifModeActivated && isAddMode">

                                        <label class="label-required">Merci de bien vouloir nommer le type que vous souhaitez
                                            créer
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="!isAddMode && !isAddRequest" class="col-4">
                                    <p class="audit-infos">
                                        Id {{assetType.id}}: crée le {{assetType.createdDate | date :'dd/MM/yyyy HH:mm:ss'}} par {{creationUser}}
                                        <br> Derniére modification le {{assetType.updatedDate | date :'dd/MM/yyyy HH:mm:ss'}}
                                        par {{updateUser}}
                                    </p>

                                </div>
                            </div>
                            <div class="row" *ngIf="isAddMode || isAddRequest">
                                <div class="col-6">
                                    <label for="secteur" class="label-top">Secteur</label>
                                </div>
                                <div class="col-6">
                                    <label for="nature" class="label-top">Nature</label>
                                </div>

                            </div>
                            <div class="row spacing-row" *ngIf="isAddMode  || isAddRequest">
                                <div class="col-6">
                                    <input *ngIf="!isAddRequest" id="sector" type="text" class="form-control input input-generalities" formControlName="secteurName" [attr.disabled]="true">
                                    <ng-select *ngIf="isAddRequest" id="sector" (clear)="resetCatSector()" (change)="lodCatNatureListBySectorID();" formControlName="sector"  style="width: 100%;"
                                    notFoundText="Pas de résultats">
                                    <ng-option *ngFor="let option of cactivitySectorOptions" [value]="option.id">
                                        <div class="text-ng-option">{{option.label}} </div>
                                    </ng-option>
                                </ng-select>
                               
                                </div>
                                <div class="col-6">
                                    <input *ngIf="!isAddRequest" id="nature" type="text" class="form-control input input-generalities" formControlName="natureName" [attr.disabled]="true">
                                    <ng-select *ngIf="isAddRequest" id="nature" (clear)="resetCatNature()" (change)="lodCatBrandListByCatNatureID()" formControlName="nature"  style="width: 100%;"
                                    notFoundText="Pas de résultats">
                                    <ng-option *ngFor="let option of natureOptions" [value]="option.id">
                                        <div class="text-ng-option">{{option.label}} </div>
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="!typeForm.controls['generalities'].get('nature').valid && isAddRequest && typeForm.controls['generalities'].get('nature').enabled">

                                    <label class="label-required">Sélectionner une nature</label>
                                </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="isAddMode || isAddRequest">
                                <div class="col-6">
                                    <label for="brand" class="label-top">Marque</label>
                                </div>


                            </div>
                            <div class="row spacing-row" *ngIf="isAddMode || isAddRequest">
                                <div class="col-6">
                                    <input *ngIf="!isAddRequest"  id="brand" type="text" class="form-control input input-generalities" formControlName="brandName" [attr.disabled]="true">
                                    <ng-select *ngIf="isAddRequest" id="brand" (clear)="resetCatBrand()" formControlName="brand" (change)="changeBrand()"  style="width: 100%;"
                                    notFoundText="Pas de résultats">
                                    <ng-option *ngFor="let option of brandOptions" [value]="option.id"   >
                                        <div class="text-ng-option">{{option.label}} </div>
                                    </ng-option>
                                </ng-select>
                                <div *ngIf="!typeForm.controls['generalities'].get('brand').valid && isAddRequest && typeForm.controls['generalities'].get('brand').enabled">

                                    <label class="label-required">Sélectionner une marque</label>
                                </div>
                                </div>

                            </div>
                            <div class="row no-gutters" *ngIf="assetType?.comment || modifModeActivated || isAddMode">
                                <div class="col">
                                    <label for="comment" class="label-top ">Commentaire</label>
                                </div>
                            </div>
                            <div class="row no-gutters spacing-row" *ngIf="assetType?.comment || modifModeActivated || isAddMode">
                                <div class="col">
                                    <input id="comment" type="text" class="comment-input form-control input" formControlName="comment" placeholder="commentaire">
                                </div>
                            </div>

                            <div class="row no-gutters" *ngIf="assetType?.catBrand?.comment && assetType?.catBrand?.comment != ''">
                                <div class="col">
                                    <label for="commentBrand" class="label-top">Commentaire herités du marque </label>
                                </div>
                            </div>
                            <div class="row no-gutters spacing-row" *ngIf="assetType?.catBrand?.comment && assetType?.catBrand?.comment != ''">
                                <div class="col">
                                    <input id="commentBrand" type="text" class="form-control comment-input input" formControlName="commentBrand" placeholder="label">
                                </div>
                            </div>

                            <div class="row no-gutters" *ngIf="assetType?.catBrand?.catNature?.comment && assetType?.catNature?.comment != ''">
                                <div class="col">
                                    <label for="commentNature" class="label-top">Commentaire herités du nature </label>
                                </div>
                            </div>
                            <div class="row no-gutters spacing-row" *ngIf="assetType?.catBrand?.catNature?.comment && assetType?.catNature?.comment != ''">
                                <div class="col">
                                    <input id="commentNature" type="text" class="form-control comment-input input" formControlName="commentNature" placeholder="label">
                                </div>
                            </div>

                            <div class="row no-gutters" *ngIf="assetType?.catBrand?.catNature?.catActivitySector?.comment && assetType?.catActivitySector?.comment != ''">
                                <div class="col">
                                    <label for="commentSector" class="label-top">Commentaire herités du secteur </label>
                                </div>
                            </div>
                            <div class="row no-gutters spacing-row" *ngIf="assetType?.catBrand?.catNature?.catActivitySector?.comment && assetType?.catActivitySector?.comment != ''">
                                <div class="col">
                                    <input id="commentSector" type="text" class="form-control comment-input input" formControlName="commentSector" placeholder="label">
                                </div>
                            </div>

                                        <!-- pieces jointes herites -->
                                            <!-- pieces jointes herites du marque -->

                                            <div class="row no-gutters spacing-row" *ngIf="inheritedDocsBrand?.length >0">
                                                <div class="col-4">
                                                    <label for="libelle" class="label-top ">Pièces jointes - Marque « {{catBrandTitle}} » </label>

                                                </div>
                                                <div class="col-8 inherted-files">
                                                    <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedDocsBrand">
                                                        {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)" > </label>

                                                </div>
                                            </div>

                                            <!-- pieces jointes herites du nature  -->

                                            <div class="row no-gutters spacing-row" *ngIf="inheritedDocsNature?.length > 0">
                                                    <div class="col-4">
                                                        <label for="libelle" class="label-top ">Pièces jointes - Nature « {{natureTitle}} »</label>

                                                    </div>
                                                    <div class="col-8 inherted-files">
                                                        <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedDocsNature">
                                                            {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>

                                                    </div>
                                                </div>
                                                <!-- pieces jointes herites   du secteur   -->

                                            <div class="row no-gutters spacing-row" *ngIf="inheritedDocsSector?.length > 0">
                                                    <div class="col-4">
                                                        <label for="libelle" class="label-top ">Pièces jointes - Secteur « {{sectorTitle}} » </label>

                                                    </div>
                                                    <div class="col-8 inherted-files">
                                                        <label class="h4 filename-label inherted-single-file" *ngFor="let doc of inheritedDocsSector ">
                                                            {{doc.docName}} <img alt="" class="btn-visualiser m-1" (click)="downloadDocument(doc)"> </label>

                                                    </div>
                                                </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <label class="label-top label-pj">Ajouter des pièces jointes</label>

                                    <app-documents formControlName="files" [control]="typeForm.controls['generalities'].controls.files"></app-documents>
                                </div>
                            </div>
                            <div class="row no-gutters" *ngIf=" updatedAssetTypeDocs.length > 0 || updatedAssetTypeRequestDocs.length > 0">
                                <div class="col-md">
                                    <span class="label-top">Documents téléchargés</span>
                                </div>
                            </div>

                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf="!isAddRequest">
                                <div class="form-group mr-2" *ngFor="let myDocument of updatedAssetTypeDocs;let i=index">
                                    <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                    </label>
                                    <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                        [ngModelOptions]="{standalone: true}">
                                    <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(myDocument)"/>
                                    <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="typeForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i] && myDocument.catAssetType"
                                    />
                                    <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="typeForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i] && myDocument.catAssetType"
                                    />
                                </div>
                                
                            </div>

                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf="isAddRequest">
                                <div class="form-group mr-2" *ngFor="let myDocument of updatedAssetTypeRequestDocs;let i=index">
                                    <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                    </label>
                                    <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                        [ngModelOptions]="{standalone: true}">
                                    <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" (click)="downloadDocument(myDocument)" alt="" />
                                    <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="typeForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i] "
                                    />
                                    <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="typeForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i] "
                                    />
                                </div>
                                
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
