<div class="title-container" style="margin-top: 27px;">
    <span class="title">Cotations recherchées </span>
</div>
<br>

<div class="d-flex justify-content-center">
    <div>
        <p-table #dt [value]="searchResult.resultList" dataKey="elementId" [loading]="loading" [columns]="cols" [scrollable]="true"
            [style]="{width:'966px'}" scrollHeight="500px" styleClass="p-datatable-customers" sortMode="multiple" [lazy]="true"
            (onLazyLoad)="loadDataLazy($event)"

            [paginator]="true" [rows]="20" [totalRecords]="searchResult.totalRecords" [rowsPerPageOptions]="[20,50,100]"
            [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de l'élément {first} à {last} sur {totalRecords} éléments" >

            <ng-template pTemplate="header" class="headerTable" let-columns>

                <tr>
                    <th id="resultTable" class="headerTable" *ngFor="let col of columns ;let i=index">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, col.field)" placeholder="{{col.label}}" [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''" [disabled]="i==0" />
                        <p-sortIcon [field]="col.sort" [pSortableColumn]="col.sort" ></p-sortIcon>
                    </th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>

                        <td class="visualiser-td" style="width: 161px" (click)="displayDocumentValuation(item.valuationRequestId ,item.hasDocument,item.valuationId)" >
                                <img [ngClass]="'btn-visualiser m-1'"

                                     alt="" *ngIf="item.hasDocument" />
                            </td>
                    <td *ngIf="isUserLitig()" style="width: 161px">
                            {{item.contrKSIOP}} </td>

                    <td style="width: 161px;" >
                       <a [ngClass]="showRedirection(item,'elementId')  && !isFromDuplication ? 'navigate' : 'navigate-disabled'"
                       (click)="showRedirection(item,'elementId')  && !isFromDuplication ? navigate(item,'elementId') : null">{{item.elementId}}</a>
                    </td>

                    <td style="width: 161px">
                        {{item.elementType}} </td>
                    <td style="width: 161px">
                        {{item.customerName}} </td>
                    <td style="width: 161px">{{item.updatedDate | date:'dd/MM/yyyy'}}</td>
                    <td style="width: 161px">
                        {{item.status}} </td>

                    <td style="width: 161px;" >

                        <a [ngClass]="showRedirection(item,'elementId')  && !isFromDuplication ? 'navigate' : 'navigate-disabled'"
                             (click)="showRedirection(item,'elementId')  && !isFromDuplication ? navigate(item,'valuationRequestId'): null" >{{item.valuationRequestId}}</a>
                    </td>
                    <td style="width: 161px">
                        {{item.walletLabel}} </td>
                    <td style="width: 161px">
                        {{item.numSiren}} </td>
                    <td style="width: 161px">
                        {{item.numDc}} </td>
                    <td style="width: 161px">
                        {{item.numSdc}} </td>
                    <td style="width: 161px">
                        {{item.caFullName}} </td>
                    <td style="width: 161px" >
                        {{item.agencyName}}  </td>
                    <td style="width: 161px">
                        {{item.descFullName}} </td>
                    <td style="width: 161px">
                        {{item.networkName}} </td>
                    <td style="width: 161px" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(item.sectorLabel && item.sectorLabel.length > 21) ? false : true" pTooltip="{{item.sectorLabel}}" tooltipPosition="top">
                        {{item.sectorLabel}} </td>
                    <td style="width: 161px" tooltipStyleClass="tooltip-search-style" [tooltipDisabled]="(item.natureLabel && item.natureLabel.length> 21) ? false : true" pTooltip=" {{item.natureLabel}}" tooltipPosition="top">
                        {{item.natureLabel}} </td>
                    <td style="width: 161px" tooltipStyleClass="tooltip-search-style"[tooltipDisabled]="(item.brandLabel && item.brandLabel.length> 21) ? false : true" pTooltip=" {{item.brandLabel}}" tooltipPosition="top">
                        {{item.brandLabel}} </td>
                    <td style="width: 161px" tooltipStyleClass="tooltip-search-style"[tooltipDisabled]="(item.typeLabel && item.typeLabel.length> 21)? false : true" pTooltip=" {{item.typeLabel}}" tooltipPosition="top">
                        {{item.typeLabel}} </td>
                    <td style="width: 161px">
                        {{item.energyLabel}} </td>
                    <td style="width: 161px">
                        {{item.state}}
                    </td>

                </tr>
            </ng-template>

        </p-table>
    </div>
</div>
