
    :host >>> .p-datatable-scrollable-body {
        min-height: 480px;
    }

   :host >>> .p-datatable .p-datatable-thead > tr > th{
    background: #FFCD00 0% 0% no-repeat padding-box !important;
    padding: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    width: 161px !important;

    }

    :host >>> .p-datatable .p-sortable-column .p-sortable-column-badge {
       display: none !important;
    }

    :host >>> .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
        color: #071A39 !important;
        margin-left: 0px !important;
    }
    :host >>> .p-datatable .p-sortable-column .p-sortable-column-icon {
        color: #071A39 !important;
        margin-left: 0px !important;
    }

    :host >>> .p-datatable .p-sortable-column.p-highlight {
    background: #FFCD00 !important;
    color: #071A39 !important;
}

    :host >>> .p-datatable .p-sortable-column:not(.p-highlight):hover {
    background: #FFCD00 !important;
    color: #071A39 !important;
}
    :host >>>.p-datatable .p-sortable-column:focus {
        box-shadow: inset 0 0 0 0;
        outline: 0 none;
    }
    :host >>> .p-datatable .p-datatable-tbody > tr > td{
        font-family: 'IBMPlexSans' !important;
        font-style: normal  !important;
        font-size: 11px  !important;    
        letter-spacing: 0px;
        color: #071A39 !important;
        padding: 0 0 0 20px !important;
        text-overflow: ellipsis;
        clear: both;
        overflow: hidden;
        white-space: nowrap;
        border-width: 0 1px 1px 0;

    }
    
        :host >>> .p-datatable .p-datatable-tbody > tr {
            height: 27px !important;

            }

            .title-container{

                display: flex;
                justify-content: flex-start;
            }
            .title{

                letter-spacing: 0px;
                opacity: 1;
                /* position: absolute; */
                overflow: visible;
                width: max-content;
                /* height: 23px;  */
                text-align: left;
                font-family: 'IBMPlexSansCond-Bold';
                font-weight: bold;
                font-style: normal;
                font-size: 30px;
                color: rgba(7,26,57,1);
                text-transform: uppercase;
                margin-left: 35px
            }
    .headerTable{
        background: #FFCD00 0% 0% no-repeat padding-box !important;

    }
    :host >>>.pi-fw {
        width: 0.2em !important

    ;
        text-align: center;
    }

    :host>>>.ui-table-scrollable-wrapper {
        overflow: auto !important;
        }

       :host>>> .ui-table-scrollable-header, .ui-table-scrollable-body, .ui-table-scrollable-footer {
        overflow: visible !important;
        }
    input.p-inputtext.p-component{
    background: #ffe880 !important;
    height: 22px;
    width: 131px !important;
    margin-left: 5px;
    margin-right: 3px;
    text-align: left;
    font-family: 'IBMPlexSans-Medium', sans-serif  !important;
    font-style: normal  !important;
    font-weight: bold  !important;
    font-size: 11px  !important;
    letter-spacing: 0px;
    color: #071A39 !important;
    opacity: 1;
    border: #FFFFFF;
    }

    input.p-inputtext.p-component::placeholder{

        font-family: 'IBMPlexSans-Medium', sans-serif  !important;
        font-style: normal  !important;
        font-weight: bold  !important;
        font-size: 11px  !important;    letter-spacing: 0px;
        color: #071A39 !important;
        opacity: 1;

        }




    .p-inputtext:enabled:hover{
    background: #ffe880 !important;
    border-color: #ffe880 !important;

    }



    .p-paginator .p-paginator-current{
    display: none;
    }

    .navigate{
        color: #0077fa;
        text-decoration: underline;
        cursor: pointer;
    }
    .navigate-disabled{
        color: #909090;
        text-decoration: none;
        cursor: default;
    }

 .btn-visualiser {

        display: block;
        margin-left: auto !important;
        margin-right: 60% !important;

    }
    .visualiser-td{
        cursor: pointer;

    }
    :host >>>.p-datatable .p-datatable-thead > tr > th {
        width: 161px !important;
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #e9ecef;
        border-width: 0 2px 1px 0;
        font: normal normal medium 10px/20px 'IBM Plex Sans';
        font-weight: 600;
        color: #495057;
        background: #f8f9fa;
        transition: box-shadow 0.2s;
    }