<div class="communication-modal-container" [formGroup]="communicationForm" *ngIf="showForm">
    <button type="button" class="fixed-x close" aria-label="Close" (click)="activeModal.dismiss('Cross click');exitModal();">
        <span class="close-span" aria-hidden="true">&times;</span>
    </button>
    <div class="modal-title">
        COMMUNICATION
    </div>
    <div class="communication-element">
        <label for="theme" class="label-top label-text">Thème </label>
        <div class="row row-element m-0" *ngIf ="themes">
            <ng-select id="theme" (change)="loadUserByTheme()" formControlName="theme"
             placeholder="Sélectionner" style="width: 100%;"
                notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of themes" [value]="option">
                    <div class="text-ng-option">{{option.Theme}} </div>
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="communication-element">
        <label for="actor" class="label-top label-text">Acteur à contacter</label>
        <div class="row row-element m-0">
            <ng-select id="actor" formControlName="actor"
            placeholder="Sélectionner" style="width: 100%;" notFoundText="Pas de résultats">
                <ng-option *ngFor="let option of actorOptions" [value]="option">
                    <div class="text-ng-option">{{option | roleName }} </div>
                </ng-option>
            </ng-select>
        </div>
    </div>
    <div class="communication-element" *ngIf="activeHistory.length > 0">
        <label for="history" class="label-top label-text">Historique des communications</label>
        <div *ngFor="let message of activeHistory">
            <textarea class="text-area-form form-control" disabled [value]="message.message"></textarea>
            <div class="meta-history">{{message.from | roleName }} - {{message.date | date :'dd/MM/yyyy HH:mm'}} </div>
        </div>

    </div>
    <div class="communication-element" *ngIf="communicationForm.controls.comment.enabled">
        <label for="comment" class="label-top">Commentaire </label>
        <textarea class="text-area-form form-control" formControlName="comment"></textarea>
        <div *ngIf="!communicationForm.controls['comment'].valid && communicationForm.controls['comment'].errors?.required && communicationForm.controls['comment'].touched">
            <label class="label-required">Merci de compléter ce champ</label>
          </div>
    </div>
    <div class="comm-btns-container">
        <button class="btn float-right" (click)="activeModal.dismiss('cancel click');exitModal();">
            <span class="btn-valider-text">Annuler</span>
        </button>
        <button type="submit" class="btn btn-valider float-right" *ngIf="communicationForm.controls.comment.enabled" (click)="submit()">
            <span class="btn-valider-text">Envoyer</span>
        </button>

    </div>

</div>
