.finacial-plan-container{
    width: 940px;
    height: 324px;
    background-color: #F5F4F2;
    padding-left: 29px ;
    padding-top: 19px;
    margin-top: 50px;

}


input[type=number] {
    width: 165px;
    height: 32px;
    background-color: #FFFFFF;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
}

.input-margin{
    margin-right: 24px;

}
.margin-top{
    margin-top: 16px;
}
.label-encours{
    width: 105px;
    height: 15px;
}

.purcent-input{
    position: absolute;
    width: 12px;
    height: 15px;
    text-align: left;
    font: normal normal bold 12px/20px 'IBMPlexSans';
    letter-spacing: 0px;
    color: #54514D;
    opacity: 1;
    top: 8px;
    right: 8px;
}

input.ng-invalid.ng-touched {
  border: red 1px solid;
}
