<div class="container finacial-plan-container">
    <div class="row">
        <div class="col-md-11">
            <h3 class="h3">PROFIL DU PLAN DE FINANCEMENT</h3>
        </div>
        <div class="col-md-1">
            <span> <button class="btn btn-search" (click)="switch()">
                    <span class="btn-search-text">{{isRate ? '€' : '%'}}</span>
                </button></span> </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="planEstimatedOutForm">
                <div class="d-flex flex-wrap justify-content-start">
                    <div formArrayName="planEstimatedOuts" *ngFor="let planEstimatedOut of planEstimatedOuts; let i = index;">
                        <div [formGroupName]="i" class=" form-inline margin-top" [ngClass]="{'input-margin': (i+1)%3 != 0}" style="position: relative">
                            <label for="encours-annee-{{i+1}}" class="label-left label-encours">Encours année {{i+1}}
                            </label>

                            <input type="text" class="form-control input" mask="separator" id="encours-annee-{{i+1}}" *ngIf="isRate" formControlName="estimatedOutPrincRate"
                                placeholder="ex. 10 %" (blur)="onBlurOutstandingRate(i)">
                            <span class="purcent-input" *ngIf="isRate">%</span>

                            <input type="text" class="form-control input" id="encours-annee-{{i+1}}" *ngIf="!isRate" mask="separator" thousandSeparator=" "
                                formControlName="estimatedOutPrincVal" placeholder="ex. 1 000 €" (blur)="onBlurOutstandingVal(i)">
                            <span class="purcent-input" *ngIf="!isRate">€</span>

                            <input type="hidden" formControlName="estimatedOutYear">
                        </div>



                    </div>
                </div>
            </form>

        </div>
    </div>

</div>