.container{
    background-color: #F5F4F2;
    width: 1044px;
    height: 202px;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .title{
    width: 284px;
    min-height: 39px;
    color: #071A39;
    text-align: left;
    font: normal normal bold 30px/39px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0.63px;
    opacity: 1;
    font-size: 30px;
  }
.header{
  margin-top: 14px;
}
.class-btns{
  text-align: right;
}
.btn-modify, .btn-save{
    background-color: #FFCD00;
    border-radius: 20px;
    top: 125px;
    left: 1077px;
    width: 143px;
    height: 40px;
    opacity: 1;
    margin-right: 11px;
    text-align: left;
    padding-left: 17px;
    box-shadow: unset;
}
.btn-modify:hover, .btn-save:hover{
  background-color: #FFE066;
  border-radius: 20px;
  top: 125px;
  left: 1077px;
  width: 143px;
  height: 40px;
  opacity: 1;
  margin-right: 11px;
  text-align: left;
  padding-left: 17px;
}
.btn-modify-text, .btn-save-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
    margin-left: 11px;
}
  .btn-delete, .btn-reset{
    top: 125px;
    left: 1207px;
    width: 119px;
    height: 40px;
    opacity: 1;
    text-align: left;
    min-width: 125px;
    margin-right: 5px;
    box-shadow: unset;
  }
  .btn-delete-doc{
    opacity: 1;
    width: 9px;
    height: 11px;
    content:url('./../../../../assets/images/button-delete.svg');
    cursor: pointer;

}

  .btn-delete:hover, .btn-reset:hover{
    background-color: #FFCD00;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
  }

  .delete-btn-text, .reset-btn-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
    margin-left: 5px;
  }
  .reset-btn-text{
    margin-left: 13px;
  }
  .nav-tabs{
    background: #FFE066;
    text-align: center;
    top: 191px;
    left: 360px;
    width: 966px;
    height: 48px;
    display: unset;
  }
  .nav-item {
    height: 48px;
    padding-top: 10px;
    width: 966px!important;
  }
  .tabTitle{
    font: normal normal bold 14px/18px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
  }

  .hr-active {
    margin-top: 11px !important;
    border: 0;
    height: 3px;
    background: #FFCD00 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 966px!important;
}
  .hr-invalid {
  margin-top: 11px !important;
  border: 0;
  height: 3px;
  background: #dc3545 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 966px!important;
}
.containerCat{
  margin-top:11px;
  top: 250px;
  left: 360px;
  width: 966px;
  height: ing 502px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 37px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 0px;
  }
  .span-active {
    margin-top: 6px !important;
  }
  .btns-align{
    text-align: end;
  }

  .labe-input{
    width: 540px;
    height: 32px;
  }
  .comment-input{
    width: 100%;
    height: 32px;
  }
  .audit-infos{
    top: 312px;
    height: 28px;
    text-align: left;
    font: normal normal normal 11px/14px 'IBMPlexSans', sans-serif;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}
  /* debut select*/
.ng-select{
  width: 100%;
  height: 32px;
}

:host>>> .ng-select .ng-clear-wrapper{
  display: none;
}
:host>>> .ng-dropdown-panel.ng-select-bottom{
  margin-top: 7px;
  z-index: 509;

}

:host>>> span.ng-option-label{
  white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond', sans-serif;
  font-style: normal;
  font-weight: normal  !important;
  font-size: 11px;
  color: rgba(7,26,57,1);
}
:host >>>.ng-option {
  width: 100%;
  height: 25px;
}
.text-ng-option{
  margin-top: -6px;
  margin-left: 11px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>  .ng-select .ng-arrow-wrapper{
display: none;
}
.label-pj{
  margin-bottom: 18px;
}
.arrow-down{

width: 8.5px;
height: 4.96px;
opacity: 1;
content:url('/../../assets/images/arrow-down.svg');
position:absolute;
margin-left: 856px;
margin-top: 15px;
z-index:500;

}
.arrow-down-small{

  width: 8.5px;
  height: 4.96px;
  opacity: 1;
  content:url('/../../assets/images/arrow-down.svg');
  position:absolute;
  margin-left: 114px;
  margin-top: 16px;
  z-index:1049;

  }

:host>>>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box;
border: 0.5px solid #909090;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;


}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
background: #e9ecef  0% 0% no-repeat padding-box  !important;
border: 0.5px solid #909090 !important;
border-radius: 3px !important;
opacity: 1 !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #A8B9D5  !important;
margin-left: 9px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #909090  !important;
margin-left: 9px;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
  border: 1px solid red !important;
}


:host>>> ng-select.submited.ng-invalid .ng-select-container{
  border: 1px solid red !important;
}

/*fin select */
.label-top{
  margin-top:26px;
  margin-bottom: 10px;
}
