<div class="container">


    <div class="row header">
        <div class="col-8 title"> Secteur « {{activitySector?.label}} » </div>
        <div class="col-4 btns-align" *ngIf="!modifModeActivated">

            <button class="btn btn-modify" (click)="toggleModifState(true)"> <img src="./../assets/images/update.svg" height="15" width="15" alt="">
                <span class="btn-modify-text"> Modifier</span>
            </button>
   

        </div>

        <div class="col-4" *ngIf="modifModeActivated">


            <button class="btn btn-save"  (click)="save()">  <img src="./../assets/images/save.svg" height="15" width="15"  alt="">
                <span class="btn-save-text">Enregistrer</span>
            </button>

            <button class="btn btn-reset" (click)="toggleModifState(false)"><img src="./../assets/images/delete-2.svg" height="15" width="15"  alt="">
                <span class="reset-btn-text">Annuler</span>
            </button>

        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-12">
            <div [formGroup]="sectorForm" *ngIf="showForm">

                <ul class="nav nav-tabs">
                    <li class="nav-item " [ngClass]="{'tab-active':i == selectedTabulation }" *ngFor="let tab of headersList;let i = index">
                        <div [ngClass]="i== selectedTabulation? 'span-active' :'span-not-active'">
                            <span class="tabTitle"> {{tab}} </span>
                        <span *ngIf="!isFormValid(i) && isSubmitted" class="badge badge-danger">!</span>

                        </div>
                        <hr *ngIf="i==selectedTabulation" [ngClass]="{'hr-active':(isFormValid(i) || !isSubmitted) , 'hr-invalid': (!isFormValid(i) && isSubmitted)}">

                    </li>
                </ul>

                <div class="row no-gutters containerCat">
                    <div class="col-12">

                        <div formGroupName="generalities" class="m-0 pt-1" *ngIf='selectedTabulation === 0'>
                            <div class="row no-gutters">
                                <div class="col">
                                    <label for="libelle" class="label-top" [ngClass]="{'required' :sectorForm.controls['generalities'].controls.libelle.enabled }">Libellé</label>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-8">
                                    <input id="libelle" type="text" class="form-control labe-input input" formControlName="libelle" placeholder="label">
                                </div>
                                <div class="col-4">
                                    <p class="audit-infos">
                                        Id {{activitySector.id}}: crée le {{activitySector.createdDate | date :'dd/MM/yyyy HH:mm:ss'}} par {{activitySector.createdBy}}
                                        <br> Derniére modification le {{activitySector.updatedDate | date :'dd/MM/yyyy HH:mm:ss'}}
                                        par {{activitySector.updatedBy}}
                                    </p>
                                </div>
                            </div>

                            <div class="row no-gutters" *ngIf="modifModeActivated || activitySector.comment && activitySector.comment.length > 0">
                                <div class="col">
                                    <label for="comment" class="label-top">Commentaire</label>
                                </div>
                            </div>
                            <div class="row no-gutters" *ngIf="modifModeActivated || (activitySector.comment && activitySector.comment.length > 0)">
                                <div class="col">
                                    <input id="comment" type="text" class="comment-input form-control input" formControlName="comment" placeholder="commentaire">
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <label class="label-top label-pj">Ajouter des pièces jointes</label>

                                    <app-documents formControlName="files" [control]="sectorForm.controls['generalities'].controls['files']"></app-documents>
                                </div>
                            </div>
                            <div class="row no-gutters" *ngIf=" updatedActivitySectorDocs.length > 0">
                                <div class="col-md">
                                    <span class="label-top">Documents téléchargés</span>
                                </div>
                            </div>

                            <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" updatedActivitySectorDocs.length > 0">
                                <div class="form-group mr-2" *ngFor="let myDocument of updatedActivitySectorDocs;let i=index">
                                    <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                                        </label>
                                    <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                                        [ngModelOptions]="{standalone: true}">
                                    <img class="btn-visualiser m-1" *ngIf="!editedDocumentList[i]" alt="" (click)="downloadDocument(i)"/>
                                    <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)" *ngIf="sectorForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i]" />
                                    <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" *ngIf="sectorForm.controls['generalities'].controls.files.enabled && !editedDocumentList[i]"/>


                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col">
                                    <label for="napCodes" class="label-top">Liste des codes NAP</label>

                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col">
                                    <div class="row row-element m-0">
                                        <ng-select id="napCodes" placeholder="Codes NAP" formControlName="napCodes" (change)="napsChange()" class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-select-bottom">
                                            <ng-option *ngFor="let option of napOptions" [value]="option">
                                                <div class="text-ng-option">{{option}} </div>
                                            </ng-option>
                                        </ng-select>
                                        <img class="arrow-down" alt="" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
