.comp-container{
    background-color: #ffffff;
    /* border: 1px solid grey; */
    width: 510px;
    /*min-height: 1100px;*/
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 27px;
    padding-bottom: 27px;
    margin-left: -4px;
    height: 1000px;
    overflow-y: auto;
}

input[type=text] {
    width: 190px;
    height: 32px;
}
input#unitaryQuantity::placeholder{
    color:#00513B;
}

.input-dis{
  width: 190px;
  min-width: 190px;
  max-width: 190px;
  margin-top: unset;
  height: 32px;
  font-size: 12px;
}

.padding-left{
    padding-left: 27px;
}

/* debut select*/
.ng-select{
    width: 190px;
    height: 25px;
}


:host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 10009;

}

:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 190px;
    height: 25px;
}
.text-ng-option{
    margin-top: 2px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
}

:host>>>.ng-select .ng-clear-wrapper{
    display: none;
  }

  :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
    color: #999 !important;

  }
  :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }
  :host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
  }

:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;


}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    min-height: 32px  !important;
    height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D  !important;
    margin-left: 9px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #00513B  !important;
margin-left: 9px;
}

/*fin select */

/* debut distanceOrDurationValue */
.distance-duration-value{
    width: 75px !important;
    height: 32px !important;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 12px;
}

.distance-duration{
    width: 109px;
}

.fram{
width:100%;
height:700px;
}
.padding-left-plan{
    padding-left: 21px;
}

.invalidInput{
    border: 1px solid red !important;;
}

.validInput{
    border: 0.5px solid #00513B  !important;
    color: #00513B;
}
.validInput:disabled{
    border-color: #909090 !important;
    color: #565656;
    background-color: #e9ecef 0% 0% no-repeat padding-box;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
  border: 1px solid red !important;
}


:host>>> ng-select.submited.ng-invalid .ng-select-container{
  border: 1px solid red !important;
}

.label-required{
    font-family: 'IBMPlexSansCond', sans-serif;
    position: absolute;
    margin-top: 0;
  }

/* documents table */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #212529;
  }
.table th, .table td {
    vertical-align: top;
    border-top: 0px solid #dee2e6;
}
.doc-tab-text {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    padding: unset;
}

.doc-tab-text-valid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #00513B;
    opacity: 1;
    padding-top:7.09px;
    padding-left: unset;

}
.doc-tab-text-invalid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
    padding-top:7.09px;
    padding-left: unset;
}
.spacing-table{
    margin-top: 19px;
    margin-right: 15px;
    margin-left: 15px;
}
/* recustomise if you add another table */
:host>>>.table tbody + tbody {
    border-top: 0px solid #dee2e6;
}
:host>>>.grey-text {
    margin-top: 0px;
}
.actions{
    text-align: right;
}
.pl-14{
    padding-left: 14px;
}
:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    padding-top: 0px;
    padding-left: 10px;
}
