<div class="container comp-container" [formGroup]="form">

  <div class="row mb-1 flex-nowrap">
    <div class="col-md">
      <h3 class="h3" *ngIf="!isFromContentieux">Informations relatives à la demande</h3>
      <h3 class="h3" *ngIf="isFromContentieux">Informations relatives à la valorisation</h3>

    </div>
  </div>

  <div class="row mb-1">
    <div class="form-group col-md-6">
      <label for="bssResponsibleFullName" class="label-top">Nom du chargé d’affaires</label>
      <input type="text" class="form-control" id="bssResponsibleFullName" formControlName="bssResponsibleFullName" placeholder="John DOE"
        [ngClass]="submitePassed ? 'input-dis' : 'input'" [readonly]="submitePassed">
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="delegation" class="label-top">Délégation</label>
      <input type="text" class="form-control" [ngClass]="submitePassed ? 'input-dis' : 'input'" [readonly]="submitePassed" id="delegation"
        formControlName="delegation">
    </div>
  </div>


  <div class="row mb-3">
    <div class="form-group col-md-6">
      <label for="mainUnderw" class="label-top">Contrepartie</label>
      <input type="text" class="form-control" id="mainUnderw" formControlName="mainUnderw" [ngClass]="submitePassed ? 'input-dis' : 'input'"
        [readonly]="submitePassed">
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="financingAmount" class="label-top required">Prix d'achat unitaire HT (en €)</label>
      <input type="text" class="form-control input" id="financingAmount" formControlName="financingAmount" mask="separator" thousandSeparator=" "
        placeholder="ex. 1 000 €" (blur)="onBlurPrice()" [ngClass]="(isPriceIncorrect ||  ((submited || form.controls.financingAmount.touched) && form.controls.financingAmount.errors)) ? 'invalidInput' : 'validInput'">
      <label id="typeErrorMessage" *ngIf="isPriceIncorrect || ((submited || form.controls.financingAmount.touched) && form.controls.financingAmount.errors)" for="type" class="label-required">Champ à compléter</label>
    </div>
  </div>

  <ng-container *ngIf="plansControls?.length != 0">
    <div class="row" [class.hide]="plansControls?.length == 1">
      <ul class="nav nav-tabs" [style]="'grid-template-columns: repeat(' + plansControls?.length + ', 1fr)'">
        <li class="nav-item" [ngClass]="{'tab-active':i == selectedPlan }" *ngFor="let tab of plansControls;let i = index" (click)="changeTab(i)">
          <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">{{ 'Plan ' + (i+1)}}</div>
          <hr *ngIf="i==selectedPlan" class="hr-active">
        </li>
      </ul>
    </div>
    <div class="row mb-2 pt-2" formArrayName="plans" *ngFor="let item of plansControls; let i = index;" [ngStyle]="{'display': i === selectedPlan ? 'block' : 'none'}"
      [ngClass]="{'tab-content': plansControls.length > 1}">
      <div [formGroupName]="i" class="m-0 pt-1">
        <div class="row ml-0">
          <div class="form-group col-md-6">
            <label for="planDuration" class="label-top required">Durée (en mois)</label>
            <input type="number" class="form-control" [ngClass]="submitePassed ? 'input-dis' : 'input'" [readonly]="submitePassed" id="planDuration"
              formControlName="planDuration" placeholder="Minimum 18 mois">
          </div>
          <div class="form-group col-md-6" [ngClass]="{'pl-0': plansControls.length > 1, 'padding-left-plan': plansControls.length === 1}">
            <label for="planContrbAmount" class="label-top">{{apportLabellist[i]}}</label>
            <input type="text" class="form-control" mask="separator" thousandSeparator=" " [ngClass]="submitePassed ? 'input-dis' : 'input'"
              [readonly]="submitePassed" id="planContrbAmount" formControlName="planContrbAmount" >
          </div>
        </div>

        <div class="row ml-0">
          <div class="form-group col-md-6">
            <label for="paramProductFamilyId" class="label-top required">Produit</label>
            <div class="row row-element m-0">
              <ng-select [readonly]="true" id="paramProductFamilyId" notFoundText="Pas de résultats" placeholder="Sélectionner" formControlName="paramProductFamilyId">
                <ng-option *ngFor="let option of productOptions" [value]="option.id">
                  <div>{{option.label}} </div>
                </ng-option>
              </ng-select>

            </div>


          </div>
          <div class="form-group col-md-6" [ngClass]="{'pl-0': plansControls.length > 1, 'padding-left-plan': plansControls.length === 1}">
            <label for="amortizationProfileId" class="label-top required">Profil</label>
            <div class="row row-element m-0">
              <ng-select [readonly]="true" id="amortizationProfileId" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="amortizationProfileId">
                <ng-option *ngFor="let option of profilOptions" [value]="option.id">
                  <div>{{option.label}} </div>

                </ng-option>
              </ng-select>

            </div>
          </div>
        </div>

        <div class="row ml-0">
          <div class="form-group col-md-6">
            <label for="remainingAmount" class="label-top">Valeur résiduelle (en €)</label>
            <input type="text" class="form-control" mask="separator" thousandSeparator=" " [ngClass]="submitePassed ? 'input-dis' : 'input'"
              [readonly]="submitePassed" id="remainingAmount"  formControlName="remainingAmount" (change)="onBlurRemainingAmount(item.get('remainingAmount'), i)">
          </div>
          <div class="form-group col-md-6" [ngClass]="{'pl-0': plansControls.length > 1, 'padding-left-plan': plansControls.length === 1}">
            <label for="remainingPercent" class="label-top">Valeur résiduelle (en %)</label>
            <input type="text" mask="separator" class="form-control" [ngClass]="submitePassed ? 'input-dis' : 'input'" [readonly]="submitePassed"
              id="remainingPercent"  formControlName="remainingPercent" (change)="onBlurRemainingPercent(item.get('remainingPercent'), i)">
          </div>
        </div>
      </div>
    </div>
  </ng-container>


  <div class="row mb-1">
    <div class="form-group col-md-6">
      <label for="unitaryQuantity" class="label-top">Quantité</label>
      <input type="number" class="form-control input" id="unitaryQuantity" placeholder="ex. 120" formControlName="unitaryQuantity">
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="paramEnergy" class="label-top required">Energie</label>
      <div class="row row-element m-0">
        <ng-select id="paramEnergy" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="paramEnergy" [ngClass]="submited?'submited':''" >
          <ng-option *ngFor="let option of energyOptions" [value]="option">
            <div class="text-ng-option">{{option.label}} </div>
          </ng-option>
        </ng-select>

      </div>
      <label id="typeErrorMessage" *ngIf=" (submited || form.controls.paramEnergy.touched) && form.controls.paramEnergy.errors" for="type" class="label-required">Champ à compléter</label>

    </div>

  </div>

  <div class="row mb-1">
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md">
          <label class="label-left mb-0">Équipement immatriculable</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right mb-0">
            <input type="checkbox" formControlName="isLicencePlateAvaileble">
            <strong></strong>

          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <div class="row">
        <div class="col-md pr-0">
          <label class="label-left pl-14">Matériel d'occasion</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" formControlName="isAOldAsset">
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md">
          <label class="label-left">Matériel installé à l'étranger</label>
        </div>
        <div class="col-md">
          <label class="custom-checkbox float-right">
            <input type="checkbox" formControlName="isAssetUseAbroad">
            <strong></strong>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-2" *ngIf="!isAOldAsset">
    <div class="form-group col-md-6">
      <label for="collAssetEstimYear" class="label-top">Année de mise en service</label>
      <input type="text" class="form-control input" id="collAssetEstimYear" mask="0000" formControlName="collAssetEstimYear" [ngClass]="!collAssetEstimYear? 'invalidInput' : 'validInput'"
        placeholder="ex. 2020">
      <label id="commissioningYearErrorMessage" *ngIf="!collAssetEstimYear && submited" for="collAssetEstimYear" class="label-required">Champ
        à compléter</label>
    </div>
    <div class="form-group col-md-6 padding-left">
      <label for="assetUsVolume" class="label-top">Loi de roulage</label>
      <div class="d-flex">
        <div class="mr-7">
          <input type="text" class="form-control distance-duration-value" id="assetUsVolume" formControlName="assetUsVolume" placeholder="ex. 10"
            mask="separator" thousandSeparator=" " [ngClass]="!paramUsageUnitId? 'invalidInput' : 'validInput'">
          <label id="distanceOrDurationValueErrorMessage" *ngIf="!assetUsVolume && submited" for="assetUsVolume" class="label-required">Champ
            à compléter</label>
        </div>
        <div class="row row-element m-0">
          <ng-select id="paramUsageUnit" placeholder="Sélectionner" notFoundText="Pas de résultats" formControlName="paramUsageUnitId"
            class="distance-duration" [ngClass]="!paramUsageUnit? 'submited' : ''">
            <ng-option *ngFor="let option of paramUsageUnitOptions" [value]="option.id">
              <div>{{option.unitLabel}} </div>
            </ng-option>
          </ng-select>

        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md">
      <label for="requestComment" class="label-top mb-0">Commentaires</label>
    </div>
    <div class="col-md">
      <textarea type="text" [readonly]="submitePassed && plansControls?.length != 0" class="form-control commentary" id="requestComment" maxlength="2000" formControlName="requestComment"></textarea>
    </div>
  </div>


  <div class="row mb-1" *ngIf="form.getRawValue().documentsList?.length>0 && isFromContentieux"  >


    <div class="col-md">
      <span class="label-top">Documents téléchargés</span>
    </div>
  </div>
  <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf="form.getRawValue().documentsList?.length>0 &&  isFromContentieux">
    <div class="form-group mr-2" *ngFor="let myDocument of form.getRawValue().documentsList;let i=index">
      <label class="h4">{{myDocument.docName}}
      </label>

      <img class="btn-visualiser m-1" alt="" (click)="displayDocument(i)" />



    </div>
  </div>
  <div class="row mb-1" *ngIf="(form.getRawValue().documentsList?.length>0 || form.getRawValue().docsToAdd?.length>0) && !isFromContentieux">
    <!-- start of table -->
    <table class="table spacing-table mb-0">
        <caption class="label-top" hidden>Documents téléchargés</caption>
      <thead>
        <tr>
          <th scope="col-4" class="doc-tab-text">Documents téléchargés</th>
          <th scope="col-4" class="doc-tab-text">Type</th>
          <th scope="col-4" class="doc-tab-text actions">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let myDocument of form.getRawValue().documentsList;let i=index">
        <tr>
          <td class="doc-tab-text-valid">{{myDocument.docName}}</td>
          <td [ngClass]="myDocument.docSubType == 'E3031' ? 'doc-tab-text-invalid' : 'doc-tab-text-valid'">
            {{myDocument.docSubType | docType:docSubTypeListParams}}</td>
          <td class="p-0 float-right">
              <img class="btn-visualiser m-1" (click)="displayDocument(i)" alt="" />
              <img *ngIf="!disabled" class="btn-edit m-1" alt="" (click)="editDocumentName(i,false)" />
              <img *ngIf="myDocument.id == null && !disabled" class="btn-delete m-1" alt="" (click)="deleteDocument(i)"/>
          </td>
        </tr>
      </tbody>
      <tbody *ngFor="let myDocument of form.getRawValue().docsToAdd;let i=index">
        <tr>
          <td class="doc-tab-text-valid">{{myDocument.docIndex.docName}}</td>
          <td [ngClass]="myDocument.docSubType == 'E3031' ? 'doc-tab-text-invalid' : 'doc-tab-text-valid'">
            {{myDocument.docIndex.docSubType | docType:docSubTypeListParams}}</td>
          <td class="p-0 float-right">
            <img *ngIf="!disabled" class="btn-edit m-1"  alt="" (click)="editDocumentName(i,true)" />
            <img *ngIf="myDocument.id == null" class="btn-delete m-1" alt="" (click)="deleteDocument(i)" />
            <img *ngIf="myDocument.id" class="btn-delete-locked m-1" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
    <!-- end of table -->



  </div>

  <div class="row mb-1" *ngIf="!isFromContentieux">
      <div class="col-md">
          <label class="label-top mb-0">Ajouter des pièces jointes</label>
        </div>
  </div>
  <div style="width : 440px" *ngIf="!isFromContentieux">
    <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneClassName=" w-100  border-div " style="cursor : pointer" (click)="openFileSelector()" [disabled]="disabled">
      <ng-template ngx-file-drop-content-tmp>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center align-items-center">
            <span class="icon-upload" style="cursor: pointer"></span>
            <label class="grey-text " style="cursor: inherit">Ajouter des documents</label>
          </div>

        </div>

      </ng-template>
    </ngx-file-drop>
  </div>


</div>
