/* debut select*/
.ng-select{
  width: 190px;
  height: 25px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
line-height: 23px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ccc;
    font-size: 11px;
}
:host>>>.ng-select .ng-arrow-wrapper {
  display: unset;
 }
 :host>>>.ng-select .ng-clear-wrapper{
  display: none;
 }

 :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
  color: #999 !important;

 }
 :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  line-height: 23px;
      text-align: left;
      font-family: 'IBMPlexSansCond', sans-serif;
      font-style: normal;
      font-weight: normal;
      padding-top: 0px;
      color: #ccc;
      font-size: 11px;
  }
:host>>> .ng-dropdown-panel.ng-select-bottom{
  margin-top: 7px;
  z-index: 500;

}

:host>>> span.ng-option-label{
  white-space: nowrap;
  line-height: 20px;
  margin-top: -4.5px;
  text-align: left;
  font-family: 'IBMPlexSansCond', sans-serif;
  font-style: normal;
  font-weight: normal  !important;
  font-size: 11px;
  color: rgba(7,26,57,1);
}
:host >>>.ng-option {
  width: 190px;
  height: 25px;
}
.text-ng-option{
  margin-top: -4px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: rgba(0,81,59,1);
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>> .ng-select .ng-select-container .ng-value-container{
  align-items: center;
  padding-left: 3px;
}

.arrow-down{

width: 8.5px;
height: 4.96px;
opacity: 1;
content:url('/../../assets/images/arrow-down.svg');
position:absolute;
margin-left: 171px;
margin-top: 16px;
z-index:1001;

}
.arrow-down-small{

  width: 8.5px;
  height: 4.96px;
  opacity: 1;
  content:url('/../../assets/images/arrow-down.svg');
  position:absolute;
  margin-left: 114px;
  margin-top: 16px;
  z-index:1049;

  }

:host>>>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
height: 32px !important;
min-height: 32px  !important;


}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 0.5px solid #004734;
border-radius: 3px;
opacity: 1;
min-height: 32px  !important;
height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
background: #e9ecef 0% 0% no-repeat padding-box  !important;
border: 0.5px solid #909090 !important;
border-radius: 3px !important;
opacity: 1 !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
background-color: #e9ecef 0% 0% no-repeat padding-box;

font-style: normal;
font-weight: normal;
font-size: 12px;
color: #565656  !important;
margin-left: 9px;
}

:host>>>.ng-placeholder{
white-space: nowrap;
line-height: 20px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #00513B  !important;
margin-left: 9px;
}

:host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
  border: 1px solid red !important;
}
/* fin select */

.padding-left-plan{
  padding-left: 24px;
}

.label-required-duration{
  overflow: visible;
    height: 23px;
    line-height: 12px;
    margin-top: 3px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    margin-bottom: -7px;
}
:host>>> .tab-content{
height: 230px;
}
.label-required-apport{
  overflow: visible;
    height: 23px;
    line-height: 12px;
    margin-top: 3px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    margin-bottom: -7px;
    width:200px;
}
.input.ng-invalid.ng-touched{
color: red;
border: red 1px solid !important
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.input.validInput::placeholder{
  color: #00513B;
}
.input::placeholder{
  color: #00513B;
}

.form-control:disabled{
  border-color: #909090;
  color: #565656;
    }
    .validInput::placeholder{
      color: #00513B;
    }
    .input.ng-invalid.ng-touched::placeholder {
        color: red;
    }
    .form-control:disabled::placeholder{
        color: #565656;
    }
    .input.validInput{
      color: #00513B;
    }
    .input.form-control.ng-dirty.ng-touched.ng-valid{
      color: #00513B;
    }
    input.remaining-percent.ng-invalid {
      color: red;
      border: red 1px solid;
  }