<div [formGroup]="form" >
  <div class="row" [class.hide]="plansList.length == 1">
    <ul class="nav nav-tabs" #planTabs [ngStyle]="{'height': plansList.length > 6 ? '70px':'35px'}" >
      <li class="nav-item" [ngClass]="{'tab-active':i == selectedPlan }" *ngFor="let tab of plansList;let i = index" (click)="changeTab(i)">
        <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">
          {{tab.name}}
          <button type="button" *ngIf="!readOnly && i != 0 " class="close plan-close-button" (click)="deleteFundingPlan(i)">
            <span>&times;</span>
          </button>
        </div>
        <hr *ngIf="i==selectedPlan" class="hr-active">
      </li>
    </ul>
  </div>
  <div class="row mb-2" formArrayName="plans" *ngFor="let item of plansControls; let i = index;" [ngClass]="{'tab-content': plansControls.length > 1}"
    [ngStyle]="{'display': i === selectedPlan ? 'block' : 'none'}">
    <div [formGroupName]="i" class="m-0 pt-1">
      <div class="row ml-0">
        <div class="form-group col-md-6">
          <label for="{{'duration-' + i }}" class="label-top required">Durée (en mois)</label>
          <input id="{{'duration-' + i }}" type="number" class="form-control input" formControlName="planDuration" placeholder="Minimum 24 mois" (blur)="onBlurDuration(item.get('planDuration'), i)">
          <label *ngIf="!item.controls['planDuration'].valid && (item.controls['planDuration'].errors?.min || item.controls['planDuration'].errors?.max )&& item.controls['planDuration'].touched"
          class="label-required-duration">La durée de financement doit être comprise entre 24 et 180 mois inclus</label>
        </div>
        <div class="form-group col-md-6" [ngClass]="{'padding-left-plan': plansControls.length === 1}">
          <label for="{{'bring-' + i}}" class="label-top">{{apportLabelList[i]}}</label>
          <input id="{{'bring-' + i}}" type="text" class="form-control input" mask="separator" thousandSeparator=" " formControlName="planContrbAmount" [placeholder]="item.controls['planContrbAmount'].enabled? 'ex. 1 000 €':''"  (blur)="onBlurPlanContrbAmount(i)">
          <label *ngIf="!item.controls['planContrbAmount'].valid && item.controls['planContrbAmount'].errors?.apportValidator && item.controls['planContrbAmount'].touched"
            class="label-required-apport">
               {{apportLabelList[i]}}   ne peut être supérieur ou égal au Prix d'achat unitaire HT (en €)
              </label>

        </div>
      </div>

      <div class="row ml-0">

        <div class="form-group col-md-6" >
          <label for="{{'product-' + i}}" class="label-top required">Produit</label>
            <ng-select id="{{'product-' + i}}" placeholder="Sélectionner" formControlName="paramProductFamilyId" notFoundText="Pas de résultats" (change)="checkProductType(item.get('paramProductFamilyId'),i);
            loadProfilListByProductId(item.get('paramProductFamilyId'));changeApportLabel(item.get('paramProductFamilyId'),i)">
              <ng-option *ngFor="let option of productOptions" [value]="option.id">
                <div class="text-ng-option">{{option.label}} </div>
              </ng-option>
            </ng-select>

        </div>
        <div class="form-group col-md-6" [ngClass]="{'padding-left-plan': plansControls.length === 1}">
          <label for="{{'profil-' + i}}" class="label-top required">Profil </label>
            <ng-select id="{{'profil-' + i}}" placeholder="Sélectionner" formControlName="paramAmortizationProfileId" notFoundText="Pas de résultats" (change)="updateResidialValue(item.get('paramProductFamilyId'),item.get('paramAmortizationProfileId'),i);"
            (click)="checkProfilList(item.get('paramProductFamilyId'))">
              <ng-option *ngFor="let option  of readOnly ? allProfilOptions : pramAmortizationProfileOptionsByProductId" [value]="option.id">
                <div class="text-ng-option">{{option.label}} </div>
              </ng-option>
            </ng-select>


        </div>
      </div>
      <div class="row ml-0">
        <div class="form-group col-md-6">
          <label for="{{'remainingAmount-' + i}}" class="label-top">Valeur résiduelle (en €)</label>
          <input id="{{'remainingAmount-' + i}}" type="text" class="form-control input" placeholder="ex. 1 000 €"  mask="separator" thousandSeparator=" " (change)="onBlurResidualValueAmount(item.get('remainingAmount'), i)"
            [attr.disabled]="disableUpdateResidualValue ? '' : null" formControlName="remainingAmount">
        </div>
        <div class="form-group col-md-6" [ngClass]="{ 'padding-left-plan': plansControls.length === 1}">
          <label for="{{'remainingPercent-' + i}}" class="label-top">Valeur résiduelle (en %)</label>
          <input id="{{'remainingPercent-' + i}}" type="text" mask="separator" class="form-control input remaining-percent" placeholder="ex. 10 %" (change)="onBlurResidualValuePercent(item.get('remainingPercent'), i)"
            [attr.disabled]="disableUpdateResidualValue ? '' : null" formControlName="remainingPercent">
        </div>
      </div>


    </div>
  </div>
</div>
