<div class="container" *ngIf="valuation">
    <div class="row">
            <div class="col-9">
                <app-social-reason-title title="Valorisation d'un équipement"></app-social-reason-title>
                </div>
        <div class="col-3 mt-57">
          <app-result-history [valuation]="valuation"></app-result-history>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <app-result-request-information  [dateSubmit]="dateSubmit" [valuation]="valuation">

            </app-result-request-information>
        </div>

    </div>

    <div class="row margin-component">
        <div class="col-md-12">

            <app-result-plan-list *ngIf="financialPlans" [financialPlans]="financialPlans" [unitaryQuantity]="valuation?.valuationRequest?.unitaryQuantity">

            </app-result-plan-list>
        </div>

    </div>

    <div class="row validate-container">

        <div class="col">
        <button class="btn btn-valider float-right" (click)="saveResult()" [disabled]="disabled? true : false" *ngIf="!isExpertNotAllowed || isAdminValidationNeeded">
            <span class="btn-valider-text">Envoyer</span>
        </button>
        <button class="btn btn-simulation float-right mr-3" (click)="askForValidation()" [disabled]="disabled? true : false" *ngIf="isExpertNotAllowed && !isAdminValidationNeeded  && !(valuationRequestWorkflow?.status?.value == 'WAIT_VALID_MAN_EXP_QUAL') ">
            <span class="btn-valider-text">Demander la validation</span>
        </button>
        <button class="btn btn-simulation float-right mr-3" (click)="saveSimulation()" [disabled]="disabled? true : false" *ngIf="valuation.valuationRequest.isSimulated && !(valuationRequestWorkflow?.status?.value == 'VAL_SIMULATION') ">
            <span class="btn-valider-text">Enregister la simulation</span>
        </button>
        <button type="submit" class="btn btn-reject float-right" [disabled]="disabled ? true : false" (click)="returnToReception()" 
        *ngIf="showModifButton()">
            <span class="btn-valider-text">Modifier</span>
        </button>

        </div>
    </div>


</div>
