.container{
  background-color: #F5F4F2 ;
  margin-top: 43px;
  padding-bottom: 20px;
}

h3 {
  padding-top: 19px;
  padding-left: 14px;
  padding-bottom: 10px;
}

.profile-table {
  width: 100%;
  margin-left: 14px;
}
td {
  font-size: 12px;
}

.profile-th {
  text-align: center;
  padding-bottom: 12px;
  font-size: 12px;
  font-family: 'IBMPlexSans';
  color:#071A39;
}

.profile-td {
  text-align: center;
  text-align: -webkit-center;
  padding-bottom: 5px;
  padding-top: 5px;
}


.purcent-input{
  position: relative;
  font: normal normal bold 12px/20px 'IBMPlexSans';
  color: #54514D;
  left: -19px;
}

.input-dis {
  width: 165px;
  text-align: center;
}

.input-dis-result {
  width: 165px;
  text-align: center;
  background: #e9ecef 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 4px;
  opacity: 1;
  font-size: 12px;
  font-family: 'IBMPlexSans';
}

.red-color {
  background: #DE1633 0 0 no-repeat padding-box;
  border-radius: 3px;
  color: white;
}

.green-color {
  background: #88C426 0 0 no-repeat padding-box;
  border-radius: 3px;
  color: white;
}

