<div class="container comp-container">
  <div class="row">
    <div class="col-md-auto">
      <h3 class="h3">PROFIL DU PLAN DE FINANCEMENT</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="profile-table">
        <caption></caption>
        <tr>
          <th id="column" ></th>
          <th id="column"></th>
          <th id="column" class="profile-th" id="column">Valeur vénale (En €)</th>
          <th id="column"  class="profile-th">Descente en cours (En €)</th>
          <th id="column" class="profile-th">Perte potentielle</th>
        </tr>
        <tr *ngFor="let yearlyEstim of planEstimatedOut; let indexEncour=index;">
          <td class="label-left">Encours année {{yearlyEstim.estimatedOutYear}}</td>
          <td class="profile-td d-flex align-items-center" style="text-align: -webkit-left">
            <input type="number" class="form-control input-dis text-left" id="encours-annee-1"
                   [ngModel]="yearlyEstim.estimatedOutPrincRate" disabled>
            <span class="purcent-input">%</span>

          </td>
          <td class="profile-td">
            <input type="text" class="form-control input-dis-result" id="value-encours-annee-1" mask="separator" thousandSeparator=" "
                    [ngModel]="formatAmount(yearlyEstim.estimatedCollAssetVal)" disabled>

          </td>
          <td  class="profile-td">
            <input type="text" class="form-control input-dis-result" id="descente-encours-annee-1" mask="separator" thousandSeparator=" "
                    [ngModel]="formatAmount(yearlyEstim.estimatedOutPrincVal)" disabled>

          </td>
          <td  class="profile-td">
            <input type="percent" class="form-control input-dis" id="perte-annee-1"
                   [ngClass]="yearlyEstim.potentialLoss<0?'red-color':'green-color'" value="{{yearlyEstim.potentialLoss > 100 ? 'N.S' : ((yearlyEstim.potentialLoss/100) | percent:'1.0')}}"
                    disabled>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
