<div *ngIf="isAdminOrExpertDesc ">
    <div *ngIf="  !valuationSharedService.getIsFromDuplicatedReception() && !valuationSharedService.getIsFromRequest()">

        <div class="title-container">
            <span class="title">Recherche catalogue</span>
            <span class="div-add-input-categ" (click)="moreCateg()" style="margin-left: 24px;">

                <img alt="arrow" [ngClass]="!isCateg?'arrow-down-input ':'arrow-top-input'" />

            </span>



        </div>
    </div>
    <div [formGroup]="searchCategForm" class="contaner  search-box-categ" style="position: relative" *ngIf="  !valuationSharedService.getIsFromDuplicatedReception() && !valuationSharedService.getIsFromRequest()">
        <div [hidden]="!isCateg">

            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="natureId" class="label-top ">Nature</label><span class="required-auto-complete" *ngIf="catNatureOptions.length != 0 && !isSelectedNature">
                        Séléction obligatoire</span>

                        <ng-autocomplete id="natureId" (inputCleared)="resetNature()" (inputCleared)="resetNature()" [data]="catNatureOptions" formControlName="nature"
                            (selected)='selectEventNature($event)' (inputChanged)="loadNature($event)" [minQueryLength]="3" [debounceTime]="50"
                            [searchKeyword]="catNaturekeyword" #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats"
                            [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="brandId" class="label-top ">Marque</label><span class="required-auto-complete" *ngIf="catBrandOptions.length != 0  && !isSelectedBrand">
                        Séléction obligatoire</span>

                        <ng-autocomplete id="brandId" (inputCleared)="resetBrand()" (inputCleared)="resetBrand()" [data]="catBrandOptions" formControlName="brand"
                            (selected)='selectEventBrand($event)' (inputChanged)="loadBrand($event)" [minQueryLength]="3" [debounceTime]="50"
                            [searchKeyword]="catBrandkeyword" #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats"
                            [itemTemplate]="itemTemplateStatic" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col-12">
                <div class="div-margin">
                    <label class="label-top" for="energie">Energie</label>


                    <ng-select id="energie" formControlName="energy" (clear)="resetCatEnergy()" style="width: 100%;" notFoundText="Pas de résultats">
                        <ng-option *ngFor="let option of energyOptions" [value]="option.id">
                            <div class="text-ng-option">{{option.label}} </div>
                        </ng-option>
                    </ng-select>



                </div>
                </div>


        </div>
    </div>


</div>
</div>
<div>
    <div>

        <div class="title-container">
            <span class="title">Recherche avis matériel</span>
            <span class="div-add-input" (click)="more()">

                <img alt="arrow" [ngClass]="isSimple?'arrow-down-input ':'arrow-top-input'" />

            </span>



        </div>
    </div>

    <div [formGroup]="searchForm" class="contaner  search-box" [ngStyle]=" !isSimple ? { 'overflow-y': 'auto' ,  'position':'relative'} : {'overflow-y' : 'unset' }">

        <div [hidden]="isCateg">
            <div class="row">
                <div class="col-12">
                    <div class="check-box-container div-margin">
                        <span class="check-box-target"><label class="custom-checkbox">
                                <input type="checkbox" formControlName="lastDiscount" (click)="eventCheck()">
                                <strong></strong>

                            </label></span>
                        <span class="check-box-label"><label class="label-left">Cotations des 6 derniers mois</label></span>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="check-box-container div-margin">
                        <span class="check-box-target"><label class="custom-checkbox">
                                <input type="checkbox" formControlName="date" (click)="eventCheckDate()">
                                <strong></strong>

                            </label></span>
                        <span><label class="label-left">Date</label></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="date-container">
                        <span class="start-date"><input id="startDate" type="text" class="form-control taux-date-input input-date"
                                placeholder="JJ/MM/AAAA" formControlName="startDate">
                            <span>
                                <label id="tauxStartDateError" class="date-error label-required-tauxDate" for="startDate" *ngIf="!searchForm?.controls['startDate']?.valid && searchForm?.controls['startDate']?.errors?.pattern && searchForm?.controls['startDate']?.touched">
                                    Merci de bien vouloir renseigner une date au format JJ/MM/AAAA
                                </label></span></span>

                        <span><label class="label-left">au</label></span>
                        <span class="end-date"><input id="endDate" type="text" class="form-control taux-date-input input-date"
                                placeholder="JJ/MM/AAAA" formControlName="endDate"><span>
                                <label id="tauxEndDateError" class="date-error label-required-tauxDate" for="endDate" *ngIf="!searchForm?.controls['endDate']?.valid && searchForm?.controls['endDate']?.errors?.pattern && searchForm?.controls['endDate']?.touched">
                                    Merci de bien vouloir renseigner une date au format JJ/MM/AAAA
                                </label></span></span>

                    </div>
                </div>
            </div>


            <div class="row" *ngIf="isUserLitig()">
                <div class="col-12">
                    <div class="div-margin">

                        <label for="contrKSIOP" class="label-top ">Numéro contrat KSIOP</label>
                        <input id="contrKSIOP" type="text" class="input-search" formControlName="contrKSIOP">

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="customerId" class="label-top ">Nom du client</label><span class="required-auto-complete"
                            *ngIf="legalNamesCustomerOptions.length != 0"> Séléction obligatoire</span>

                        <ng-autocomplete id="customerId" (selected)='selectEventCustomer($event)' (inputCleared)="resetCustomerId()" [data]="legalNamesCustomerOptions"
                            formControlName="customerId" (inputChanged)="loadCustomer($event)" [minQueryLength]="3" [debounceTime]="50"
                            [searchKeyword]="keyword" #ngAutoCompleteStatic notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStatic"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item.legalName"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="descManager" class="label-top ">Contrepartie</label>
                        <ng-autocomplete #ngAutoCompleteStatic formControlName="walletId" historyListMaxNumber="3" [itemTemplate]="itemTemplateStatic"
                            [notFoundTemplate]="notFoundTemplate" notFoundText="Pas de résultats">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStatic let-item>
                            <a [innerHTML]="item.legalName"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="numSiren" class="label-top ">Numéro SIREN</label><span class="required-auto-complete"
                            *ngIf="sirenOptions.length != 0"> Séléction obligatoire</span>

                        <ng-autocomplete (inputCleared)="resetNsiren()" id="numSiren" [data]="sirenOptions" formControlName="numSiren" (selected)='selectEventSiren($event)'
                            (inputChanged)="loadSiren($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="sirenKeyword"
                            #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticSiren"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticSiren let-item>
                            <a [innerHTML]="item.nsiren"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>
        </div>
        <div [hidden]="isSimple">
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="legalName" class="label-top ">Numéro DC</label>

                        <ng-autocomplete id="numDc" [data]="legalNamesCustomerOptions" (inputChanged)="loadSiren($event)" [minQueryLength]="3" [debounceTime]="50"
                            [searchKeyword]="sirenKeyword" #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats"
                            [itemTemplate]="itemTemplateStaticSiren" formControlName="numDc" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticSiren let-item>
                            <a [innerHTML]="item.nsiren"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="legalName" class="label-top ">Numéro SDC</label>

                        <ng-autocomplete id="numSdc" [data]="legalNamesCustomerOptions" (inputChanged)="loadSiren($event)" [minQueryLength]="3" [debounceTime]="50"
                            [searchKeyword]="sirenKeyword" #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats"
                            [itemTemplate]="itemTemplateStaticSiren" formControlName="numSdc" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticSiren let-item>
                            <a [innerHTML]="item.nsiren"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="idElement" class="label-top ">ID de l’élément</label><span class="required-auto-complete"
                            *ngIf="idElementOptions.length != 0"> Séléction obligatoire</span>

                        <ng-autocomplete id="idElement" (inputCleared)="resetIdElementOptions()" formControlName="elementId" [data]="idElementOptions"
                            (selected)='selectEventIdElements($event)' (inputChanged)="loadIdElements($event)" [minQueryLength]="3"
                            [debounceTime]="500" [searchKeyword]="elementKeyword" #ngAutoCompleteStatic historyListMaxNumber="3"
                            notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticElement" [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticElement let-item>
                            <a [innerHTML]="item.elementId"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="caId" class="label-top "> Chargé(e) d'affaires</label><span class="required-auto-complete"
                            *ngIf="caOptions.length != 0"> Séléction obligatoire</span>

                        <ng-autocomplete id="caId" [data]="caOptions" (inputCleared)="resetCaOptions()" formControlName="caId" (selected)='selectEventCa($event)'
                            (inputChanged)="loadCa($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="cakeyword"
                            #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticCa"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticCa let-item>
                            <a [innerHTML]="item.fullName"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="agence">Implantation</label>

                        <ng-select id="agence" formControlName="agencyId" [clearable]="true" style="width: 100%;" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of agencyOptions" [value]="option.idDelegation">
                                <div class="text-ng-option">{{option.delegation}} </div>
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label for="descIdExpert" class="label-top ">Expert DESC</label><span class="required-auto-complete" *ngIf="expertOptions.length != 0">
                        Séléction obligatoire</span>

                        <ng-autocomplete id="descIdExpert" [data]="expertOptions" (inputCleared)="resetExpertOptions()" formControlName="descId" (selected)='selectEventExpert($event)'
                            (inputChanged)="loadExpert($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="expertKeyworf"
                            #ngAutoCompleteStatic historyListMaxNumber="3" [itemTemplate]="itemTemplateStaticDescExpert" [notFoundTemplate]="notFoundTemplateExpert"
                            notFoundText="Pas de résultats">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticDescExpert let-item>
                            <a [innerHTML]="item.fullName"></a>
                        </ng-template>

                        <ng-template #notFoundTemplateExpert let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="networkName">Réseau</label>

                        <ng-select id="networkName" formControlName="networkId" style="width: 100%;" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of networkOptions" [value]="option.id">
                                <div class="text-ng-option">{{option.descName}} </div>
                            </ng-option>
                        </ng-select>



                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="catSect">Secteur d'activités</label>

                        <ng-select id="catSect" (clear)="resetCatSector()" formControlName="sectorId" (change)="lodCatNatureListBySectorID();" style="width: 100%;"
                            notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of activitySectorOptions" [value]="option.id">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="catNat">Nature</label>

                        <ng-select id="catNat" (clear)="resetCatNature()" formControlName="natureId" style="width: 100%;" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of natureOptions" [value]="option.id">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>



                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="brandIdMat">Marque</label><span class="required-auto-complete" *ngIf="brandOptions && brandOptions.length != 0 && !isSelectedCatBrand">
                        Séléction obligatoire</span>

                        <ng-autocomplete id="brandIdMat" (inputCleared)="resetCatBrand()" [data]="brandOptions" formControlName="brandLabelFiltre" (selected)='selectEventCatBrand($event)'
                            (inputChanged)="loadCatBrand($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="brandkeyword"
                            #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticbrand"
                            [notFoundTemplate]="notFoundTemplatebrand">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticbrand let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplatebrand let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="catType">Type</label><span class="required-auto-complete" *ngIf="assetTypeOptions && assetTypeOptions.length != 0 && !isSelectedCatType">Séléction obligatoire</span>


                        <ng-autocomplete id="catType" (selected)='selectEventCatType($event)' (inputCleared)="resetCatType()" [data]="assetTypeOptions" formControlName="typeLabelFiltre"
                            (inputChanged)="loadCatType($event)" [minQueryLength]="3" [debounceTime]="50" [searchKeyword]="Typekeyword"
                            #ngAutoCompleteStatic historyListMaxNumber="3" notFoundText="Pas de résultats" [itemTemplate]="itemTemplateStaticType"
                            [notFoundTemplate]="notFoundTemplateType">
                        </ng-autocomplete>

                        <ng-template #itemTemplateStaticType let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>

                        <ng-template #notFoundTemplateType let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="energie">Energie</label>

                        <ng-select id="energie" formControlName="energyId" (clear)="search()" style="width: 100%;" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of energyOptions" [value]="option.id">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>



                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-12">
                    <div class="div-margin">
                        <label class="label-top" for="status">Etat</label>

                        <ng-select id="status" formControlName="state" style="width: 100%;" notFoundText="Pas de résultats">
                            <ng-option *ngFor="let option of statusOptions" [value]="option.label">
                                <div class="text-ng-option">{{option.label}} </div>
                            </ng-option>
                        </ng-select>



                    </div>
                </div>
            </div>
        </div>





    </div>
</div>
<div class="row no-gutters button-box d-flex justify-content-around align-items-center button-box" style="padding-top:42px;">

    <span> <button class="btn btn-search" (click)="search()">
            <span class="btn-search-text">Rechercher</span>
        </button></span>
    <span> <button class="btn btn-reset" (click)="reset()">
            <span class="reset-btn-text">Effacer</span>
        </button></span>

</div>
