.search-box{
    max-height: 625px;
    padding-left: 33px;
    padding-right: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.search-box-categ{
    max-height: 625px;
    padding-left: 33px;
    padding-right: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.button-box{
    max-height: 98px;
    padding-left: 33px;
    padding-right: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding-bottom: 6px;
}

.padding-left-plan{
    padding-left: 24px;
}
.div-margin{

    margin-top:20px;
}
.check-box-container{
    display: flex;
    justify-content: flex-start;
}
.check-box-target{
    margin-right: 12px
}

.date-container{

    display: flex;
    justify-content: flex-start;
}



.title-container{

    display: flex;
    justify-content: flex-start;
    max-height: 98px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 28px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.start-date{
    margin-right: 22px
}
.end-date{
    margin-left: 22px
}

.input-date{
    width: 110px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSansCond';
    font-size: 12px;
}

.title{

    letter-spacing: 0px;
    opacity: 1;
    /* position: absolute; */
    overflow: visible;
    width: max-content;
    /* height: 23px;  */
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: rgba(7,26,57,1);
    text-transform: uppercase;
    margin-right: 35px
}



/*****************************/


:host>>> .ng-dropdown-panel.ng-select-bottom{
    margin-top: 7px;
    z-index: 20;

}
:host >>>.ng-select.ng-select-opened .ng-select-container{
    z-index: 20;
}
:host>>> span.ng-option-label{
    white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal  !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
}
:host >>>.ng-option {
    width: 100%;
    height: 25px;
}
.text-ng-option{
    margin-top: -6px;
    margin-left: 3px;
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: rgba(255,207,0,1);
}

:host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background-color: rgba(255,207,0,1);
}
:host >>>.ng-value{
white-space: nowrap;
line-height: 23px;
text-align: left;
font-family: 'IBMPlexSansCond';
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #071A39;
margin-top: 8px;
}

:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    height: 32px !important;
    min-height: 32px  !important;


    }

    :host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px  !important;
    height: 32px !important;
    }
    :host>>>.ng-select.ng-select-disabled>.ng-select-container{
    background: #e9ecef 0% 0% no-repeat padding-box !important;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    }
    :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, .ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #A8B9D5  !important;
    margin-left: 9px;
    }

    :host>>>.ng-placeholder{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #819AC2  !important;
    margin-left: 9px;
    }

    :host>>> ng-select.ng-invalid.ng-touched .ng-select-container{
        border: 1px solid red !important;
    }
 
    :host>>> .autocomplete-container .input-container input {
        width: 100%;
        height: 32px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 0.5px solid #819ac2;
        border-radius: 3px;
        opacity: 1;
        color: #071A39;
        font-family: 'IBMPlexSansCond';
        font-size: 12px;
    }
    :host>>> .ng-autocomplete.ng-invalid.ng-touched .autocomplete-container .input-container input {
        border: red 1px solid !important;
    }
    :host>>> .autocomplete-container {
        box-shadow: none;
        height :32px;
    }
    :host>>> .item:hover{
        background-color: rgba(255,207,0,1);
    }
    :host>>>.autocomplete-container .suggestions-container ul li:hover {
        background-color: rgba(255,207,0,1);
    }
    :host>>> .autocomplete-container .suggestions-container .complete-selected, .autocomplete-container .suggestions-container ul li:hover {
        background-color: rgba(255,207,0,1);
    }

    :host>>>.autocomplete-container .suggestions-container ul li a {
        white-space: nowrap;
    line-height: 20px;
    margin-top: -4.5px;
    text-align: left;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: normal !important;
    font-size: 11px;
    color: rgba(7,26,57,1);
    }



    :host>>>.autocomplete-container .input-container .x i {
        color: rgba(157 157 157);
        font-size: 13px;
        vertical-align: middle;}


   :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    line-height: 23px;
        text-align: left;
        font-family: 'IBMPlexSansCond';
        font-style: normal;
        font-weight: normal;
        padding-top: 0px;
        color: #ccc;
        font-size: 11px;
    }

   :host>>> .ng-select .ng-select-container .ng-value-container{
    align-items: center;
    padding-left: 3px;
  }

   :host>>>.ng-select .ng-arrow-wrapper {
    display: unset;
}
    :host>>>.ng-select .ng-clear-wrapper{
    display: unset;
  }

  :host>>>.ng-select .ng-clear-wrapper:hover .ng-clear{
    color: #999 !important;

  }
/***************************************/

    .arrow-down-input{

        content:url('/../../assets/images/arrow-down-input.svg');
        width: 8.5px;
        height: 4.958px;
        overflow: visible;
        margin-left: 3px;
        margin-top: 4px;
        position: absolute;
    }

    .arrow-top-input{

        content:url('/../../assets/images/arrow-top-input.svg');
        width: 8.5px;
        height: 4.958px;
        overflow: visible;
        transform: translate(0px, 0px) matrix(1,0,0,1,3,4.0002) rotate(180deg);
        margin-left: 1px;
        margin-top: 1.04px;
        position: absolute;
    }

    .div-add-input:hover{
        height: 14px;
        width: 14px;
        background-color: #FFCD00;
        margin-top: 3px;
        cursor: pointer;
        border-radius: 50%;
    }
    .div-add-input{
        height: 14px;
        width: 14px;

    }

    .div-add-input-categ:hover{
        height: 14px;
        width: 14px;
        background-color: #FFCD00;
        margin-top: 3px;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 21px;
    }
    .div-add-input-categ{
        height: 14px;
        width: 14px;


    }
    .btn:focus{
        box-shadow: unset;
    }
    .btn-search-text{
        white-space: nowrap;
        text-align: center;
        font-family: 'IBMPlexSans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(7,26,57,1);
        width: 52px;
        height: 20px;
        z-index: 10;

    }

    .btn-search{
        background-color: #FFCD00;
        border-radius: 20px;
        top: 125px;
        left: 1077px;
        width: 130px;
        height: 40px;
        opacity: 1;
        margin-right: 11px;
        padding-left: 17px;
        text-align: center;
        z-index: 10;
    }
    .btn-search:hover{
        background-color: #FFE066;
    }
    .btn-valider:hover{
        background-color: #FFE066;
    }
    .btn-reset{
        top: 125px;
        left: 1207px;
        width: 99px;
        height: 40px;
        opacity: 1;
        text-align: left;
        box-shadow: unset;
      }

     .btn-reset:hover{
        background-color: #FFCD00;
        border-radius: 20px;
        cursor: pointer;
        text-align: left;
      }

       .reset-btn-text{
        white-space: nowrap;
        text-align: left;
        font-family: 'IBMPlexSans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        color: rgba(7,26,57,1);
        width: 52px;
        height: 20px;
        margin-left: 2px;
        margin-left: 13px;
      }
      .btns-align{
        text-align: end;
      }

      .date-error {
        justify-content : flex-end ;
      }
    .spacing-row{
        margin-bottom: 25px;
      }
    .date-error-container{
        margin-top: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
      }

      .label-required-tauxDate{
        overflow: visible;
          height: 23px;
          line-height: 12px;
          margin-top: 3px;
          font-family: 'IBMPlexSansCond', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          color: red;
          margin-bottom: -7px;

      }
.label-top {
    overflow: visible;
    height: 23px;
    line-height: 35px;
    margin-top: -4px;
    text-align: left;
    font-family: 'IBMPlexSans' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(7,26,57,1);
    margin-bottom: 0px;
}
.input-search, .input-search:focus{
      width: 100%;
      height: 32px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 0.5px solid #819ac2;
      border-radius: 3px;
      opacity: 1;
      color: #071A39;
      font-family: 'IBMPlexSansCond';
      font-size: 12px;
      outline-width: 0;
      text-indent: 13px;
}

:host>>> .autocomplete-container.active{
    z-index: 50!important;
}
