<div class="modal-body">
    <div class="popupTitle">
        <h3>MODIFIER LA PIÈCE JOINTE</h3>
    </div>
    <div class="row">
        <table class="table spacing-table">
          <caption></caption>
            <thead>
                <tr>
                    <th scope="col-4" class="doc-tab-text">Documents téléchargés</th>
                    <th scope="col-4" class="doc-tab-text">Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="doc-tab-text-valid">
                        <input type="text" class="form-control" id="popupDocName" [(ngModel)]="doc.docName" placeholder="Doc name">
                    </td>
                    <td >
                        <ng-select [(ngModel)]="doc.docSubType" (change)="updateIndex()" [clearable]="false"
                          [searchable]="false">
                            <ng-option *ngFor="let documentType of docSubTypesListParams" [value]="documentType.value">
                                <div class="text-ng-option"
                                [ngClass]="'doc-tab-text'">
                                {{documentType.label}}
                                </div>
                            </ng-option>
                        </ng-select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-reject" (click)="activeModal.dismiss('cancel click');exitModal();">
            Annuler
        </button>
        <button type="button" class="btn btn-confirm" (click)="activeModal.close('Ok click'); confirmModal()">
            Envoyer<br>
        </button>
    </div>
</div>

