/* documents table */
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #212529;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #dee2e6; 
}
.doc-tab-text {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.doc-tab-text-valid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #00513B;
    opacity: 1;
}
.doc-tab-text-invalid {
    width: -webkit-max-content;
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: red;
    opacity: 1;
}
.popupTitle{
    text-align: center;
}

.btn-reject{

    font-family: 'IBMPlexSans';
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    box-shadow: unset;
  }
  .btn-reject:hover{
  
    background-color: #FFCD00;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
  
  }
  .btn-confirm{
    font-family: IBMPlexSans;
    background-color: #FFCD00;
    min-width: 150px;
    min-height: 40px;
    border-radius: 20px;
    margin-right: 5px;
    margin-left: 5px;
  
  }
  .btn-confirm :hover{
  
    background-color: #FFE781;
    min-width: 150px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    opacity: 0.9;
    cursor: pointer;
  
  }
  
  .btn-label-confirm{
    font-family: IBMPlexSans;
    top: 424px;
  left: 776px;
  width: 73px;
  height: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #071A39;
  opacity: 1;
  }
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
     border-top: 0px solid #dee2e6; 
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.spacing-table{
    margin-right: 15px;
    margin-left: 15px;
}
:host >>>.ng-value{
    white-space: nowrap;
    line-height: 28px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,81,59,1);
    margin-top: 2px;
    min-height: 15px;
    }
    
    :host>>> .ng-select .ng-clear-wrapper{
        display: none;
    }
    :host>>> .ng-dropdown-panel.ng-select-bottom{
        margin-top: 7px;
        z-index: 10009;
    
    }
    
    :host>>> span.ng-option-label{
        white-space: nowrap;
        line-height: 23px;
        margin-top: -4.5px;
        text-align: left;
        font-family: 'IBMPlexSansCond', sans-serif;
        font-style: normal;
        font-weight: normal  !important;
        font-size: 11px;
        color: rgba(7,26,57,1);
        min-height: 15px;
    }