<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="h3">Descriptif matériel</h3>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <label for="activitySector" class="label-top">Secteur d’activité</label>
      <input type="text" class="form-control input-dis" id="activitySector"  [ngModel]="sectorLabel"
        disabled>
    </div>
    <div class="form-group col-md-3 padding-left">
      <label for="Nature" class="label-top">Nature</label>
      <input type="text" class="form-control input-dis" id="Nature" [ngModel]="natureLabel"
        disabled>
    </div>
    <div class="form-group col-md-3 padding-left">
      <label for="marque" class="label-top">Marque</label>
      <input type="text" class="form-control input-dis" id="marque" [ngModel]="brandLabel"
        disabled>
    </div>
    <div class="form-group col-md-3 padding-left">
      <label for="Type" class="label-top">Type</label>
      <input type="text" class="form-control input-dis" id="Type" [ngModel]="assetTypeLabel"
        disabled>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-3">
      <label for="quantity" class="label-top">Quantité</label>
      <input type="text" class="form-control input-dis" id="quantity"  disabled [ngModel]="valuation.valuationRequest.unitaryQuantity">
    </div>
    <div class="form-group col-md-3 padding-left">
      <label for="energy" class="label-top">Energie</label>
      <input type="text" class="form-control input-dis" id="energy" [ngModel]="valuation.valuationRequest.paramEnergy.label" disabled>
    </div>
    <div class="form-group col-md-3 padding-left align-self-end">
      <label class="custom-checkbox label-left-bold pr-4" for="licensableEquipment">Équipement immatriculable</label>
      <label class="custom-checkbox">
        <input id="licensableEquipment" type="checkbox" class="form-control input-dis" [ngModel]="valuation.valuationRequest.isLicencePlateAvaileble"
          disabled>
        <strong></strong>
      </label>
    </div>
    <div class="form-group col-md-3 padding-left align-self-end">
      <label class="custom-checkbox label-left-bold pr-4" for="equipmentInstalledAbroad">Matériel installé à l’étranger</label>
      <label class="custom-checkbox">
        <input id="equipmentInstalledAbroad" type="checkbox" class="form-control input-dis" [ngModel]="valuation.valuationRequest.isAssetUseAbroad"
          disabled>
          <strong></strong>
        </label>
    </div>
  </div>


  <div class="row">
    <div class="col-3 mb-3 align-self-end">
      <label class="custom-checkbox label-left-bold" style="padding-right: 66px;">Matériel d’occasion</label>
      <label class="custom-checkbox">
        <input type="checkbox" disabled [ngModel]="!valuation.valuationRequest.isANewAsset">
        <strong></strong>
      </label>
    </div>
    <div class="form-group col-md-3" *ngIf="!valuation.valuationRequest.isANewAsset">
      <label for="commissioningYear" class="label-top">Année de mise en service</label>
      <input id="commissioningYear" style="margin-top: 8px;" type="number" class="form-control input-dis"
        [ngModel]="valuation.valuationRequest.collAssetEstimYear" disabled>
    </div>
    <div class="form-group col-md-3 padding-left" *ngIf="!valuation.valuationRequest.isANewAsset">
      <label for="distanceOrDurationValue" class="label-top">Loi de roulage</label>
      <div class="d-flex">
        <div class="mr-2">
          <input id="distanceOrDurationValue" style="margin-top: 8px;" type="text" mask="separator" thousandSeparator=" " class="form-control distance-duration-value input-dis"
            [ngModel]="valuation.valuationRequest.assetUsVolume"  disabled>
        </div>
        <div class="row row-element m-0">
          <input type="text" class="form-control distance-duration input-dis"  [ngModel]="valuation.valuationRequest.paramUsageUnit?.unitLabel"
            disabled>
        </div>
      </div>
    </div>
  </div>
</div>
