.distance-duration-value{
  width: 75px !important;
  min-width: 75px !important;
  max-width: 75px !important;
  border-radius: 3px;
  opacity: 1;
}

.distance-duration{
  width: 107px !important;
  min-width: 107px !important;
  max-width: 107px !important;
}

.input-dis {
  width: 190px;
  height: 32px;
  min-width: 190px;
  max-width: 190px;
}
