
<div class="container">
    <div class="row margin-row">
        <div class="col-md-12 margin-title">
            <h3 class="h3">Informations relatives à la demande</h3>

        </div>

    </div>

    <div class="row margin-component margin-row">
        <div class="col-md-12">
            <app-result-request-information-generalities [valuation]="valuation" [dateSubmit]="dateSubmit"></app-result-request-information-generalities>
        </div>
        <div class="col-md-12 mt-4">
          <app-result-request-information-descriptive *ngIf="litigation || valuation" [valuation]="valuation" [litigation]="litigation"></app-result-request-information-descriptive>
        </div>

        <div class="col-md-12" *ngIf="!litigation">

            <app-result-request-information-quotation [valuation]="valuation" ></app-result-request-information-quotation>

        </div>

    </div>


</div>
