<div class="container">

  <div class="row">
    <div class="col-md-4">
      <label class="label-top">Cotation</label>
      <div class="d-flex">
        <div *ngFor="let box of [].constructor(9); let i=index"
             [ngClass]="{'box-selected': (i+1)==financialPlan.collateralAssetRating}" class="box {{'box-' + (i+1)}}">{{i+1}}</div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="duration" class="label-top">Durée (en mois)</label>
      <input type="text" class="form-control input-dis" id="duration"
              disabled [ngModel]="financialPlan.planDuration">
    </div>
    <div class="col-md-4">
      <label for="bring" class="label-top">Apport ou premier loyer majoré</label>
      <input type="text" class="form-control input-dis"  mask="separator" thousandSeparator=" " id="bring" [ngModel]="formatAmount(financialPlan.planContrbAmount)"
              disabled>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="profile" class="label-top">Profil</label>
      <input type="text" class="form-control input-dis" id="profile"  [ngModel]="financialPlan.paramAmortizationProfile.label"
              disabled>
    </div>
    <div class="col-md-4">
      <label for="product" class="label-top">Produit</label>
      <input type="text" class="form-control input-dis" id="product" [ngModel]="financialPlan.paramProductFamily.label"
              disabled>
    </div>
    <div class="col-md-4">
      <label for="unitaryQuantity" class="label-top">Quantité</label>
      <input type="text" class="form-control input-dis" id="unitaryQuantity" [ngModel]="unitaryQuantity"
              disabled>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label for="residualValueAmount" class="label-top">Valeur résiduelle (en €)</label>
      <input type="text" class="form-control input-dis" id="residualValueAmount"  mask="separator" thousandSeparator=" " [ngModel]="formatAmount(financialPlan.remainingAmount)"
              disabled>
    </div>
    <div class="col-md-4">
      <label for="residualValuePercent" class="label-top">Valeur résiduelle (en %)</label>
      <input type="text" class="form-control input-dis" id="residualValuePercent" [ngModel]="financialPlan.remainingPercent"
              disabled>
    </div>
  </div>
</div>
