.box {
  width: 25px;
  height: 32px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  margin-right: 7px;
  opacity: 0.2;
  margin-top: 8px;
}

.box-selected {
  height: 38px;
  font: normal normal bold 16px/20px 'IBMPlexSans';
  padding-top: 8px;
  margin-top: 6px;
  opacity: 1;
}

.box-1 {
  background: #88C426 0 0 no-repeat padding-box;
}

.box-2 {
  background: #85DB3B 0 0 no-repeat padding-box;
}

.box-3 {
  background: #96ED50 0 0 no-repeat padding-box;
}

.box-4 {
  background: #FEC51C 0 0 no-repeat padding-box;
}

.box-5 {
  background: #FEC51C 0 0 no-repeat padding-box;
}

.box-6 {
  background: #FEAD37 0 0 no-repeat padding-box;
}

.box-7 {
  background: #FF7536 0 0 no-repeat padding-box;
}

.box-8 {
  background: #FF3938 0 0 no-repeat padding-box;
}

.box-9 {
  background: #DE1633 0 0 no-repeat padding-box;
}
