/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~primeicons/primeicons.css';

@font-face {
    font-family: "IBMPlexSans";
    src: local("IBMPlexSans-Regular"), url(./assets/fonts/IBMPlexSans-Regular.ttf) format("TrueType");
}
@font-face {
    font-family: "IBMPlexSans-Medium";
    src: local("IBMPlexSans-Medium"), url(./assets/fonts/IBMPlexSans-Medium.ttf) format("TrueType");
}
@font-face {
    font-family: "IBMPlexSans-SemiBold";
    src: local("IBMPlexSans-SemiBold"), url(./assets/fonts/IBMPlexSans-SemiBold.ttf) format("TrueType");
}
@font-face {
    font-family: "IBMPlexSans-Bold";
    src: local("IBMPlexSans-Bold"), url(./assets/fonts/IBMPlexSans-Bold.ttf) format("TrueType");
}

@font-face {
    font-family: "IBMPlexSansCond";
    src: local("IBMPlexSansCondensed-Regular"), url(./assets/fonts/IBMPlexSansCondensed-Regular.ttf) format("TrueType");
}
@font-face {
    font-family: "IBMPlexSansCond-Bold";
    src: local("IBMPlexSansCondensed-Bold"), url(./assets/fonts/IBMPlexSansCondensed-Bold.ttf) format("TrueType");
}
@font-face {
    font-family: "IBMPlexSansCondensed-Bold";
    src: local("IBMPlexSansCondensed-Bold"), url(./assets/fonts/IBMPlexSansCondensed-Bold.ttf) format("TrueType");
}


body {
    background-color: #f5f4f2;
}

.pdfModalClass .modal-dialog {
    max-width: 1000px;
    max-height: 810px;
  }
.label-left-bold{
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.label-left{
    width: max-content;
    height: 15px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.cadena{

    width: 10px;
    height: 12px;
    opacity: 1;
    content:url('assets/images/cadena.svg');
    margin-right: 8px;
    margin-top: 2px;

}

.input{
    width: 190px;
    height: 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    font-family: 'IBMPlexSans';
    font-size: 12px;
    color: #00513B;
}

.input[type="text"]
{
    white-space: nowrap;
	text-align: left;
	font-family: 'IBMPlexSans';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #00513B;
}


.input-dis{
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 1px solid #909090;
    border-radius: 4px;
    opacity: 1;
    font-family: 'IBMPlexSans';
	font-size: 12px;
}

.input-dis[type="text"]
{
    white-space: pre-wrap;
	text-align: left;
	font-family: 'IBMPlexSans';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(86,86,86,1);
    min-width: 280px;
    max-width: 280px;
    min-height: 32px;
    max-height: 50px;
    resize: none;
    margin-top:8px;

}

.textarea-dis {
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 1px solid #909090;
    border-radius: 4px;
    opacity: 1;
    white-space: pre-wrap;
	text-align: left;
	font-family: 'IBMPlexSans';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(86,86,86,1);
    width: 270px;
    height: 32px;
    min-height: 32px;
    resize: none;
    padding-top: 6px;
    padding-left: 16px;
}

.label-top{
    overflow: visible;
    height: 23px;
    line-height: 35px;
    margin-top: -4px;
    text-align: left;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(7,26,57,1);
    margin-bottom: 0px;
}

 .label-height{
     height: 23px;
 }




.row-element{
    margin-top: 18px;

}



.h3{
    letter-spacing: 0px;
    opacity: 1;
    /* position: absolute; */
    overflow: visible;
    width: max-content;
    /* height: 23px;  */
    text-align: left;
    font-family: 'IBMPlexSansCond-Bold';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: rgba(7,26,57,1);
    text-transform: uppercase;
}



.h1{
    overflow: visible;
    text-align: left;
    font-family: 'IBMPlexSansCond-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: rgba(7,26,57,1);
    letter-spacing: 0.2083333396911621px;

}

/* debut checkbox*/

.custom-checkbox {
    position: relative;
    cursor: pointer;


}
.custom-checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;


}
.custom-checkbox input[type="checkbox"] + strong {
    position: relative;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border: 2px solid #FFCD00;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 100;
    color: #565656;
    cursor: pointer;
    line-height: 0.9;
    outline: 0;
    text-align: center;
    vertical-align: bottom;
    height: 15px;
    width: 15px;
    opacity: 1;
    margin-bottom: 3px;

}

.custom-checkbox input[type="checkbox"]:disabled + strong, .custom-checkbox input[type="checkbox"]:hover:disabled + strong {
    background-color: #e5e5e5;
    border-color: #909090;

}
.custom-checkbox input[type="checkbox"]:hover + strong {
    border-color: #FFCD00;
    background-color:#FFCD00;


}
.custom-checkbox input[type="checkbox"]:hover + strong:after {
    color: #565656;
    content: "✓";



}
.custom-checkbox input[type="checkbox"]:checked + strong:after {
    content: "✓";
    color: #565656;
    border-color: #FFCD00;
    font-weight: 100;
    background-color:#FFCD00;
    font-size-adjust: 11px;
    position: relative;
    display: inline-block;
    border: 2px solid #FFCD00;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: -2px;
    height: 15px;
    width: 15px;

}

.custom-checkbox input[type="checkbox"]:disabled + strong:after {
    content: "";
}
.custom-checkbox input[type="checkbox"]:disabled:hover + strong {
    border-color: #e5e5e5;
    cursor: not-allowed;
}
.custom-checkbox input[type="checkbox"]:disabled:hover + strong + span {
    cursor: not-allowed;
}
.custom-checkbox input[type="checkbox"]:disabled:checked + strong:after {
    content: "✓";
}






/* fin checkbox*/





/* debut select*/




    .ng-select{
        width: 190px;
        height: 25px;

    }

    :host>>> .ng-select .ng-clear-wrapper{
        display: none;
    }
    :host>>> .ng-dropdown-panel.ng-select-bottom{
        margin-top: 7px;
        z-index: 10009;
    }
    :host>>> span.ng-option-label{
        white-space: nowrap;
        line-height: 20px;
        margin-top: -4.5px;
        text-align: left;
        font-family: 'IBMPlexSans';
        font-style: normal;
        font-weight: normal  !important;
        font-size: 11px;
        color: rgba(7,26,57,1);
    }
    :host >>>.ng-option {
        height: 25px;
    }
   .text-ng-option{
        margin-top: -6px;
    }

    :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
        background-color: rgba(255,207,0,1);
    }

    :host>>>.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
        background-color: rgba(255,207,0,1);
    }

:host >>>.ng-value{
    white-space: nowrap;
    line-height: 23px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(0,81,59,1);
    margin-top: 8px;
}
:host>>> .ng-select .ng-select-container .ng-value-container{
    padding-left: unset;
}
:host>>> .ng-select .ng-select-container .ng-value-container .ng-input>input{
display: none;
}

:host>>>  .ng-select .ng-arrow-wrapper{
    display: unset;
}

.arrow-down{

    width: 8.5px;
    height: 4.96px;
    opacity: 1;
    content:url('assets/images/arrow-down.svg');
    position:absolute;
    margin-left: 171px;
    margin-top: 16px;
    z-index:1049;

}

:host>>>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    padding-left: 9px;
}

:host>>> .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    min-height: 32px  !important;
    height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled>.ng-select-container{
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px solid #909090 !important;
    border-radius: 3px !important;
    opacity: 1 !important;
    min-height: 32px  !important;
    height: 32px !important;
}
:host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-placeholder, :host>>>.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #54514D  !important;
    margin-left: 9px;
}

:host>>>.ng-placeholder{
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #00513B  !important;
    margin-left: 9px;
}


/*fin select */


/*debut button add */

.button-add{
    width: 26px;
    height: 26px;
    background: #FFCF00 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 26px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}




.btn span.icon-delete {

    background: url('assets/images/delete-black.svg') no-repeat center;

    width: 14px;
    height: 32px;


}

 span.icon-upload {

    background: url('assets/images/Upload.svg') no-repeat center;

    width: 9px;
    height: 10px;
    margin-right: 4px;
    margin-bottom: 4px;
}



.image-plus{
    position: absolute;
    margin-left: 7px;
    width: 12px;
    height: 25px;
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(7,26,57,1);
    margin-top: -2px;
    cursor: pointer;
}
/*fin button add */

/*debut button valider*/
.btn-valider{
    background-color: #FFCD00;
    width: 97px;
    height: 40px;
    border-radius: 20px;
}
.btn-valider:hover:enabled{
    background-color: #FFE066;
    cursor: pointer;
}

.btn-valider:focus,.btn-valider:active {
    outline: none !important;
    box-shadow: none;
    background-color: #FFE066;
 }
.btn-valider-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans-Medium';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
}
/* fin button valider */

/*debut button valider*/
.btn-cancel{
  background-color: white;
  width: 97px;
  height: 40px;
  border-radius: 20px;
}
.btn-cancel:focus,.btn-cancel:active {
    outline: none !important;
    box-shadow: none;
    background-color: #FFE066;
  }
  .btn-cancel:hover {
  outline: none !important;
  box-shadow: none;
  background-color: #FFE066;
}
.btn-cancel-text{
  white-space: nowrap;
  text-align: left;
  font-family: 'IBMPlexSans-Medium';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: rgba(7,26,57,1);
  width: 52px;
  height: 20px;
}
/* fin button valider */

/* debut image visualiser */
.btn-visualiser{
    opacity: 1;
    width: 15px;
    height: 10px;
    content:url('assets/images/button-visualiser.svg');
    cursor: pointer;
}
.btn-visualiser-disbaled{
    opacity: 1;
    width: 15px;
    height: 10px;
    content:url('assets/images/button-visualiser.svg');
    cursor: default;
}
.btn-edit{
    opacity: 1;
    width: 9px;
    height: 9px;
    content:url('assets/images/button-edit.svg');
    cursor: pointer;

}
.btn-delete{
    opacity: 1;
    width: 9px;
    height: 11px;
    content:url('assets/images/button-delete.svg');
    cursor: pointer;

}
.btn-delete-locked{
    opacity: 1;
    width: 9px;
    height: 11px;
    content:url('assets/images/button-delete-locked.svg');
    cursor: auto;
}
/* fin image visualiser */


/*textarea debut*/
.commentary{
    width: 440px;
    height: 120px !important;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #00513B;
    border-radius: 3px;
    opacity: 1;
    resize: none;
	text-align: left;
	font-family: 'IBMPlexSans';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(86,86,86,1);
    white-space: pre-wrap;
}
/*textarea fin*/

/*required * */

.required:after {
    content:" *";
    color: #071A39;
    font-size: 11px;
  }

  /*************/


  /**h4************/
.h4{
    width: max-content;
    height: 14px;
    text-align: left;
    font: normal normal bold 11px/20px 'IBMPlexSansCond';
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
}

.h5-grey{
    width: auto;
    height: 14px;
    text-align: left;
    letter-spacing: 0px;
    color: #A8B9D5;
    opacity: 1;
    font-size: 11px;


}

/**************div border******************/

.border-div{

    border-style: dotted;
    width: 206px;
    height: 120px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px dashed #819AC2;
    border-radius: 3px;
    opacity: 1;
    line-height: 100px;
    cursor: pointer;
}
.border-div:hover {
    opacity: 1;
    background-color: #F5F7FB;
}
.border-div-disabled, .border-div-disabled:hover{

    border-style: dotted;
    width: 206px;
    height: 120px;
    background: #e9ecef 0% 0% no-repeat padding-box;
    border: 0.5px dashed #819AC2;
    border-radius: 3px;
    opacity: 1;
    line-height: 100px;
    cursor: default;
}



/*debut icon upload */
    .arrow-upload{

        content:url('assets/images/arrow-upload.svg');
        width: 8px;
        height: 9px;
        opacity: 1;
    }

    .arrow-upload-down{

        content:url('assets/images/arrow-upload-down.svg');
        width: 10px;
        height: 1px;
        opacity: 1;
        margin-top: 12.41px;
        margin-left: -9px;
    }
    .image-upload{
        margin-left: 37.58px;
        margin-top: 5px;
        margin-right: 10.9px;
    }

    /*fin icon upload */


.grey-text{
    width: 114px;
height: 14px;
white-space: nowrap;
line-height: 20px;
margin-top: 49px;
text-align: left;
font-family: 'IBMPlexSans';
font-style: normal;
font-weight: normal;
font-size: 11px;
color: rgba(168,185,213,1);
}


/* debut tab */
.tab-active{

    background: #FFE781 0% 0% no-repeat padding-box !important;
    opacity: 1;
    white-space: nowrap;

}
.nav-tabs{
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 7px #d0d0d080;
    opacity: 1;
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	width: 440px;

}
.nav-item{
    height: 32px;
    cursor: pointer;
}
.span-active{

    text-align: center;
    font-family: 'IBMPlexSansCond';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(7,26,57,1);
    margin-top: 9px  !important;

}
.span-not-active{
    text-align: center;
    font: normal normal normal 12px/15px 'IBMPlexSansCond';
    letter-spacing: 0px;
    color: #071A39;
    opacity: 1;
    margin-top: 9px  !important;
}
.hr-active{
    margin-top: 4px  !important;
    border: 0;
    height: 3px;
    background: #FFCD00 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tab-content {
    background: #F5F4F2 0% 0% no-repeat padding-box;
    width: 440px;
    height: 225px;
    margin-left: 0px;
    margin-right: 0px;
}
/*fin tab */

/* debut scrollBar */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffcf00;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffcf00;
  }

  /* fin scrollbar */

  /* invalidate inputs */
input.ng-invalid.ng-touched{
    border: red 1px solid !important;
}
textarea.ng-invalid.ng-touched{
    border: red 1px solid !important;
}


/* hide input type number arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.scroll-to-top{
    top: 88%;
    left: 94%;
    width: 40px;
    height: 40px;
    position: fixed;
    opacity: 1;
    background: #FFCF00 0% 0% no-repeat padding-box;
    border-radius: 26px;
    cursor: pointer;
}

/* plan-close-button */

.plan-close-button{
    margin-top: -3px;
    margin-right: 8px;
}


/* class to hide element */

.hide{
    display: none;
}


/* cercle */
.cercle{
    width: 38px;
    height: 38px;
    text-align: center;
    opacity: 1;
    background: #FFCF00 0% 0% no-repeat padding-box;
    border-radius: 26px;
    font-weight: bold;
    font-size: 20px;
}

.uppercase{
    text-transform: uppercase;
}

.label-required{
    overflow: visible;
    height: 23px;
    line-height: 35px;
    margin-top: -4px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    margin-bottom: 0px;
    }
.mr-15{
    margin-right: 15px
}
.mr-7{
    margin-right: 7px;
}
.input-valid{
    color: #004734;
    font-family: 'IBMPlexSans';
     background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;
    font-size: 12px;
    height: 32px;
}
ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{
    color: red!important;
}
.input.ng-invalid.ng-touched{
    color: red;
    border: red 1px solid !important
    }
    .form-control:disabled, .form-control[readonly] {
      background-color: #e9ecef;
      opacity: 1;
    }
    .input::placeholder{
      color: #00513B;
    }
    .validInput::placeholder{
      color: #00513B;
    }
    .validInput:disabled{
        background: #e9ecef 0% 0% no-repeat padding-box;
        border: 0.5px solid #909090;
    }
    .input.ng-invalid.ng-touched::placeholder {
        color: red;
    }
    .form-control:disabled, .form-control::placeholder{
        color: #565656;
    }
    .form-control:disabled{
        border-color: #909090;
        color: #565656;
    }
    .form-control:focus{
        box-shadow: none !important;
        border-color: #004734 !important;
    }
    textarea.form-control.ng-touched.ng-valid {
        border: 0.5px solid #004734;
        color: #00513B;
    }
    .pt-18{
        padding-top: 18px;
    }
    .mr-13{
        margin-right: 13px;
    }
    .mr-10{
        margin-right: 10px;
    }
    .pt-9{
        padding-top: 9px;
    }
    .pt-15{
        padding-top: 15px;
    }
    .btn-communication{
        opacity: 1;
        width: 20px;
        height: 20px;
        content:url('assets/images/info-menu.svg');
        cursor: pointer;
        display: inline-block;
    }
    .btn-communication-locked{
        opacity: 1;
        width: 20px;
        height: 20px;
        content:url('assets/images/info-menu-locked.svg');
        cursor: auto;
        display: inline-block;
    }
     .errorModalClass   {
        min-width: 550px;
    }
    .errorModalClass > .modal-dialog.modal-dialog-centered{
        min-width: 550px;
        width: 560px;
    }
    :host>>>.tooltip-search-style{
        font-family: 'IBMPlexSans' !important;
        font-size: 12px;
        flex-wrap: nowrap;
        display: inline-block;
        border-radius: 3px;
        max-width: 500px;
        min-width: 200px;
        width: max-content;
        }
 .p-tooltip.p-tooltip-top{
     font-family: 'IBMPlexSans' !important;
     font-size: 12px;
     flex-wrap: nowrap;
     display: inline-block;
     border-radius: 3px;
     width: max-content;
}
.pt-28{
    padding-top: 28px;
}
/****** Banner ICONS ******/
.acceuil-icon{
    content:url('assets/images/Accueil.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
}
.catalog-icon{
    content:url('assets/images/Catalogue.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
}
.gestion-icon{
    content:url('assets/images/Gestion-des-droits.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
}
.communication-icon{
    content:url('assets/images/Communication.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
}
.communication-disabled-icon{
    content:url('assets/images/Communication-disbled.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
    cursor: default;
}
.information-icon{
    content:url('assets/images/Information.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
}
.information-disabled-icon{
    content:url('assets/images/Information-disabled.svg');
    width: 21px;
    height: 17px;
    opacity: 1;
    cursor: default;
}

/****** End Banner ICONS ******/
button.btn:focus {
    box-shadow: unset;
}

.reset-btn-text{
    white-space: nowrap;
    text-align: left;
    font-family: 'IBMPlexSans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(7,26,57,1);
    width: 52px;
    height: 20px;
    margin-left: 2px;
  }

.btn-reset{
    top: 125px;
    left: 1207px;
    width: 119px;
    height: 40px;
    opacity: 1;
    text-align: center;
    box-shadow: unset;
    cursor: pointer;
  }
  
 .btn-reset:hover{
    background-color: #FFCD00;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}
.required-auto-complete{
    float: right;
    overflow: visible;
    height: 23px;
    /* line-height: 12px; */
    margin-top: 3px;
    font-family: 'IBMPlexSansCond', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: red;
    margin-bottom: -7px;
    }