<div class="container" style="margin-bottom: 45px">

    <div class="row row-magin">
        <div class="col-md-4 md-margin">
            <div class="cotation-title">
                Cotation {{valoCurrentStatus}}</div>
        </div>
        <div class="col-md-4 md-margin">
            <label for="price" class="label-top">Montant(En €)</label>
            <input type="text"  mask="separator" thousandSeparator=" " class="form-control input-dis" [ngModel]="financingAmount" disabled>
        </div>
        <div class="col-md-4 md-margin">
            <label for="price" class="label-top">Etat</label>
            <input type="text" class="form-control input-dis" [ngModel]="equipementState"  disabled>
        </div>

    </div>
    <div class="row row-magin">
        <div class="col-md-12">
            <div class="d-flex">

                <span class="margin-span" *ngFor="let discountValue of discount">
                    <ng-container>
                        <label class="label-top">{{'Année ' + discountValue.discountRateYear}}</label>
                        <app-input-number  [symbol]="percentSymbol" [selectedNumber]="discountValue.discountRateValue" [disabled]="true"></app-input-number>
                    </ng-container>
                </span>
              
            </div>
        </div>
    </div>

    <div class="row" style="padding-bottom: 24px">
        <div class="col-12">
            <label class="label-top">Commentaire</label>
            <input type="text" class="form-control input-dis input-dis-big-size" [ngModel]="valuation.discountRateComment" [disabled]="true">
        </div>
    </div>
</div>