.input-dis{
    width: 280px !important;
    min-width: 280px !important;
    max-width: 280px !important;
}

.container{
    background-color: #F5F4F2 ;
    margin-top: 43px;
}
.margin-span{
    margin-right: 8px;
}

.input-dis-big-size{
    width:  977px !important;
    min-width:  977px !important;
    max-width:  977px !important;
    height :34px !important;
    min-height: 34px !important;

}
.cotation-title{
    width: 289px;
    height: 46px;
    background: #FFCF00 0 0 no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    font: normal normal bold 16px/20px 'IBMPlexSansCond', sans-serif;
    letter-spacing: 0;
    color: #071A39;
}

.row-magin {
  padding-top: 17px;
  padding-bottom: 10px;
}
