<form [formGroup]="requestForm" [hidden]="!clientInfoLoaded">
    <div class="container">
        <div *ngIf="entrepriseInfoService.noResultFound" class="row col-12 text-center error-page">
            <div class="text-center">Merci de bien vouloir enregistrer votre prospect dans le référentiel avant d'effectuer
                une demande de valorisation</div>
            <app-error-enregistrer-prospect></app-error-enregistrer-prospect>
        </div>
            <div *ngIf="!entrepriseInfoService.noResultFound" class="row mb-2 pl-4">
                <div class="col">
                    <app-social-reason-title title="Demande de valorisation d'un équipement"></app-social-reason-title>
                </div>
                <div class="row mb-1" *ngIf="!idRequest">
                    <div class="col col-dupliquer">
                      <button type="button" *ngIf="!valuationSharedService.getIsFromRequest()" [disabled] = "requestForm.disabled" class="btn btn-valider float-right" (click)="dupliquerRequest()">
                        <span class="btn-valider-text">Dupliquer</span>
                      </button>

                      <button type="button" *ngIf="valuationSharedService.getIsFromRequest()" class="btn btn-valider float-right" (click)="undoDupliquationRequest()">
                        <span class="btn-valider-text">Annuler la duplication</span>
                      </button>
                  </div>
                  </div>
            </div>
            <div class="row" *ngIf="!entrepriseInfoService.noResultFound">
                <div class="col-md-6">
                    <app-client-info-component formControlName="clientInfo" [valuationRequest]="valuationRequest" (clientInfoLoaded)="changeClientInfoLoaded()"></app-client-info-component>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <app-valuation-request formControlName="valuationRequest" [valuationRequestModel]="valuationRequest" (submitEvent)="submit()"></app-valuation-request>
                </div>
            </div>
    </div>
</form>
