.error-page {
  position: absolute;
  width: 1076px;
  height: 150px;
  font-size: 27px;
  margin-top: 35px;
  background-color: white;
  padding-top: 41px;
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px #FFCF00;
}
.errorModalClass {
  min-width: 550px;
}
.col-dupliquer{
  margin-top:50px;
  margin-right: 30px;
}

:host>>> .btn-valider{

  width: fit-content !important;
  
  }
