<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3 class="h3">Généralités</h3>

        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="price" class="label-top">Référence</label>
            <input type="text" class="form-control input-dis" [ngModel]="valuation.id" disabled>
        </div>
        <div class="col-md-3 md-margin">
            <label for="price" class="label-top">Date</label>
            <input type="text" class="form-control input-dis" [ngModel]="dateSubmit | date: 'dd/MM/yyyy'" disabled>
        </div>
        <div class="col-md-3 md-margin">
            <label for="price" class="label-top">Agence</label>
            <input type="text" class="form-control input-dis" [ngModel]="networkLabel" disabled>
        </div>
        <div class="col-md-3 md-margin">
            <label for="price" class="label-top">DESC</label>
            <input type="text" class="form-control input-dis"[ngModel]="nom" disabled>
        </div>

        <div class="col-md-3">
            <label for="price" class="label-top">Client</label>
            <input type="text" class="form-control input-dis" [ngModel]="clientInfo?.socialReason" disabled>
        </div>
        <div class="col-md-3 md-margin" *ngIf="clientInfo?.isPmFromRet">
            <label for="price" class="label-top">SIREN</label>
            <input type="text" class="form-control input-dis" [ngModel]="clientInfo?.siren" disabled>
        </div>
        <div class="col-md-3 md-margin">
            <label for="price" class="label-top">Numéro BCP</label>
            <input type="text" class="form-control input-dis" [ngModel]="clientInfo?.cp" disabled>
        </div>

        <div class="col-md-3 md-margin">
            <label for="price" class="label-top">Numéro DC</label>
            <input type="text" class="form-control input-dis" disabled>
        </div>

        <div class="col-md-3">
            <label for="price" class="label-top">Numéro SDC</label>
            <input type="text" class="form-control input-dis"  disabled>
        </div>
    </div>
</div>