<!-- Moyenne Row -->
<div [formGroup]="catDiscountAvgForm" class="average-container">
    <div class="row">
        <div class="col-2">
            <label for="average" class="average-text">Moyenne</label>

        </div>

        <div class="col-5">
            <div class="row">
                <div class="col">
                    <div class="label-top">
                        Moyenne calculée sur {{catDiscountAvgsResult?.valuationsNumber}} fiches
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col d-flex pt-18">
                    <div class="label-top pr-2">
                        Sélection du
                    </div>

                    <input type="text" class="form-control taux-date-input input input-date mr-7 pr-0"
                    formControlName="startDate" placeholder="JJ/MM/AAAA"  >
                    <div class="label-top mr-7">au</div>
                    <input type="text" class="form-control taux-date-input input input-date pr-0"
                    formControlName="endDate"  placeholder="JJ/MM/AAAA"  >

                </div>


            </div>
        </div>

        <div class="col-5 pl-0">
            <div class="row">
                <div class="col d-flex">
                    <div class="label-top mr-13">
                        Nombre d’avis matériel pour considérer la moyenne
                    </div>
                    <input type="text" class="form-control input input-medium" formControlName="nbForms">
                </div>
            </div>
            <div class="row">
                <div class="col d-flex pt-9">
                    <div class="label-top mr-10">
                        Nombre minimum d’avis à considérer
                    </div>
                    <input type="text" class="form-control input input-medium" formControlName="nbMinToConsider" mask="0*"  >

                </div>
            </div>

        </div>


    </div>

    <!--Standards discounts row -->
    <div class="row avgs-container">
        <span formArrayName="discountAvgs" *ngFor="let catDiscountAverage of catDiscountAverageList; let i = index;"
             [ngClass]="'margin-decote-expert'">
            <ng-container [formGroupName]="i">
                <label class="label-top">{{'Année ' + (i+1)}}</label>
                <app-input-number formControlName="discountRateValue" [symbol]="percentSymbol"></app-input-number>
            </ng-container>
        </span>
    </div>
</div>