.margin-decote-expert {
    margin-right: 15px;
  }
  
  .margin-decote-admin {
    margin-right: 47px;
  }
  .average-text{
    letter-spacing: 0px;
    color: #071A39;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'IBMPlexSansCond-Bold';
    font-size: 18px;
  }
  .average-container{
      margin-top: 55px;
  }
 .input-date{
    width: 93px;
    height: 32px;
 }

 .input-medium{
  width: 55px;
  height: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.5px solid #00513B;
  border-radius: 3px;
  opacity: 1;
  font-family: 'IBMPlexSans';
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: unset;
  text-align: center;
}
.input-medium:disabled{
  color:grey;
  background-color: #e9ecef;
  border-color: #909090;
  opacity: 1; 
}
.avgs-container{
  width: 876px;
  background: #F5F4F2 0% 0% no-repeat padding-box;
  opacity: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 24px;
  padding-right: 25px;
  margin-top: 19px;
  margin-left: 0px;
}
.label-top{
  font-family: 'IBMPlexSans', sans-serif;
}
