.nav-tabs {
  height: 35px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 2px 7px #d0d0d080;
  opacity: 1;
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  /* margin-right: 15px; */
}

.tab-content {
  background: #FFFFFF 0 0 no-repeat padding-box;
  height: auto;
  margin-left: -15px;
  margin-right: -15px;
  width: unset;
  margin-top: 14px;
  padding: 27px 20px 27px 20px;
}

