<div class="container">
  <div class="row">
      <ul class="nav nav-tabs" [ngStyle]="stylePlan">
        <li class="nav-item" [ngClass]="{'tab-active':i == selectedPlan }"
            *ngFor="let tab of financialPlans;let i = index" (click)="changeTab(i)">
          <div [ngClass]="i== selectedPlan? 'span-active' :'span-not-active'">{{ 'Plan de financement  ' + (i+1)}}</div>
          <hr *ngIf="i==selectedPlan" class="hr-active">
        </li>
      </ul>
  </div>
  <div class="row tab-content"
       [style]="{'display': 'block'}" *ngIf="financialPlans && financialPlans.length>0">

      <app-result-plan-list-note [financialPlan]="financialPlans[selectedPlan]"  [unitaryQuantity]="unitaryQuantity"></app-result-plan-list-note>
      <app-result-plan-list-profile [planEstimatedOut]="financialPlans[selectedPlan].planEstimatedOut"></app-result-plan-list-profile>

  </div>
</div>
