<div [formGroup]="form">


    <div class="row label-height">
        <label class="label-top">Email</label>
    </div>
    <div class="row">
        <input formControlName="email" id="email" type="text" class="form-control"
            [ngClass]=" (f.email.errors && isSubmitted) ? 'is-invalid' : 'input'">

    </div>

</div>