.label-top{

    overflow: visible;
    width: 167px;
    height: 23px;
    line-height: 20px;
    margin-top: -4px;
    text-align: left;
    font-family: IBMPlexSans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(7,26,57,1);
}
 .label-height{
     height: 23px;
 }



.input{
    width: 270px;
    height: 32px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #004734;
    border-radius: 3px;
    opacity: 1;

}

input{
    width: 270px;
    height: 32px;
    

}
 .was-validated .form-control:invalid, .form-control.is-invalid{
    background-image: none !important;
  
}