<div class="container">
  <div class="row align-items-end">
    <label for="history" class="label-left history-label">Historique</label>
    <ng-select [ngModel]="selectedHistoryItem" id="history" placeholder="Sélectionner" style="font-size: 12px" disabled
               class="ng-select ng-select-single ng-select-searchable ng-select-clearable ng-select-bottom">
      <ng-option *ngFor="let option of historyList" [value]="option.id">
        <div class="text-ng-option">{{option.label}} </div>
      </ng-option>
    </ng-select>
  </div>
</div>


