.history-label {
  margin-right: 5px;
  height: 10px;
}
:host>>> .ng-select-container{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.5px solid #819AC2;
    border-radius: 3px;
    opacity: 1;
    color: #A8B9D5;
    font-family: 'IBMPlexSans';
}