.comp-container{
    background-color: #ffffff;
    width: 510px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 46px;
    margin-right: -4px;
    height: 430px;
    overflow: auto;

}
.label-required-date{
    overflow: visible;
      height: 23px;
      line-height: 12px;
      margin-top: 3px;
      font-family: 'IBMPlexSansCond', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: red;
      margin-bottom: -7px;
      width:200px;
  }


  .btn-delete-doc{

    opacity: 1;
    
    width: 9px;
    
    height: 11px;
    
    content:url('./../../../../../../assets/images/button-delete.svg');
    
    cursor: pointer;
    
    
    
    }