<div class="container comp-container">
    <div class="row mb-3">
        <div class="col-md">
            <h3 class="h3">Informations Contentieux</h3>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="contractKSIOP" class="label-top">Numéro contract KSIOP</label>
                <input id="contractKSIOP" type="text" class="form-control input" formControlName="contractKSIOP" placeholder="xxxxxxxx">
                <div *ngIf="!form.controls['contractKSIOP'].valid && form.controls['contractKSIOP'].errors?.required && form.controls['contractKSIOP'].touched">
                    <label class="label-required">Merci de compléter ce champ</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="fixedAsset" class="label-top">Numéro d’immobilisation</label>
                <input id="fixedAsset" type="text" class="form-control input" formControlName="fixedAsset" placeholder="xxxxxxxx">
                <div *ngIf="!form.controls['fixedAsset'].valid && form.controls['fixedAsset'].errors?.required && form.controls['fixedAsset'].touched">
                    <label class="label-required">Merci de compléter ce champ</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6" *ngIf="valuationRequest.isLicencePlateAvaileble">
                <label for="plateNumber" class="label-top">Numéro d’immatriculation</label>
                <input id="plateNumber" type="text" class="form-control input" formControlName="plateNumber" placeholder="xxxxxxxx">
                <div *ngIf="!form.controls['plateNumber'].valid && form.controls['plateNumber'].errors?.required && form.controls['plateNumber'].touched">
                    <label class="label-required">Merci de compléter ce champ</label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="invoiceDate" class="label-top">Date de facture</label>
                <input id="invoiceDate" type="text" class="form-control input" formControlName="invoiceDate" placeholder="JJ/MM/AAAA" (blur)="onblurinvoiceDate()"mask="d0/M0/0000">
                <div *ngIf="!form.controls['invoiceDate'].valid && form.controls['invoiceDate'].errors?.required && form.controls['invoiceDate'].touched">
                    <label class="label-required">Merci de compléter ce champ</label>
                </div>
                <div *ngIf="!form.controls['invoiceDate'].valid && form.controls['invoiceDate'].errors?.pattern && form.controls['invoiceDate'].touched">
                    <label class="label-required-date">Merci de renseigner une date au format JJMMAAAA </label>
                </div>
                <div *ngIf="!form.controls['invoiceDate'].valid && form.controls['invoiceDate'].errors?.dateValidator && form.controls['invoiceDate'].touched">
                    <label class="label-required-date">Merci de renseigner une date antérieure à la date du jour </label>
                </div>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md pr-0">
                    <label class="label-top">Ajouter des pièces jointes</label>

                <app-documents formControlName="files" [control]="form.controls['files']"></app-documents>

                <div class="row no-gutters" *ngIf=" litigationDocs.length > 0">
                    <div class="col-md">
                        <span class="label-top">Documents téléchargés</span>
                    </div>
                </div>

                <div class="row no-gutters mb-1 d-flex justify-content-start" *ngIf=" litigationDocs.length > 0">
                    <div class="form-group mr-2" *ngFor="let myDocument of litigationDocs;let i=index">
                        <label class="h4 filename-label" *ngIf="!editedDocumentList[i]">{{myDocument.docName}}
                            </label>
                        <input type="text" class="form-control input" *ngIf="editedDocumentList[i]" [(ngModel)]="documentName" (blur)="onBlurDocument(i)"
                            [ngModelOptions]="{standalone: true}">
                        <img class="btn-visualiser m-1"  alt="" (click)="displayDocument(i)"/>
                        <img class="btn-edit m-1" alt="" (click)="editDocumentName(i)"  />
                        <img class="btn-delete-doc m-1" alt="" (click)="deleteDocument(i)" />



                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
