<div [formGroup]="form">


    <div class="row label-height">
        <label class="label-top">name</label>
    </div>
    <div class="row">
        <input formControlName="name" id="name" type="text" class="form-control"
            [ngClass]=" (f.name.errors && isSubmitted) ? 'is-invalid' : 'input'">

    </div>

</div>